[2018-03-13 14:14] mpu-creare opened #1 "Custom nodes may silently output incomplete/incorrect pipeline definitions"
The `definition` property of a `node` is used to output a human-readable and human-editable pipeline definition. It is defined for the main node types `DataSource`, `Compositor`, and `Algorithm`.

In some node subclasses, the default (parent) definition is sufficient and does not need to be reimplemented, but subclasses that use additional attributes will need to overwrite or extend the definition

[2018-03-13 14:17] mpu-creare opened #2 "CoordinateGroup"
@mpu I think you know this, but there is an initial implementation with very basic tests in the repository. Here's a summary.

Both Coordinate and CoordinateGroup inherit from BaseCoordinate, which mainly just defines a common API (currently stack, unstack, and intersect).

The CoordinateGroup wraps a list of Coordinate objects in a private attribute. Maybe you would prefer that this be a numpy ar

[2018-03-13 14:18] mpu-creare opened #3 "coordinate testing"
This involves migrating some old unit tests to pytests, writing some new unit tests, and removing some old unit tests.

 * [x] util
 * [x] base_coordinates
 * [x] coordinates1d
 * [x] array_coordinates1d
 * [x] uniform_coordinates1d
 * [x] stacked_coordinates
 * [ ] coordinates
 * [x] cfunctions
 * [ ] group coordinates

[2018-03-13 14:26] mpu-creare opened #4 "Coordinates docs"
Document classes and functions for the coordinates module.

 * [x] util
 * [x] base_coordinates
 * [x] coordinates1d
 * [x] array_coordinates1d
 * [x] uniform_coordinates1d
 * [x] stacked_coordinates
 * [x] coordinates
 * [x] cfunctions

[2018-03-13 14:26] mpu-creare opened #5 "podpac update - how are times defined/handled?"
I have a question on how the podpac update to allow requesting a single time was done, because I’ve noticed changes in some of my functions from yesterday.  For example, it now allows me to request times that had no data as of yesterday, so for example, this code returns data in all 5 times, rather than just T06 and T18:
[code]
What is very curious and concerning is that if I request two days inst

[2018-03-13 14:27] mpu-creare opened #6 "Question: how does interpolation in time handle nan's?"
If one asks podpac for data at a time that is intermediate between two of the native source time points, how does the interpolation handle nan's in one of the adjacent points?  Does it return nan? Does it give the nearest value present and not interpolate?

Thanks,
Rachel

[2018-03-13 14:28] mpu-creare opened #7 "Refactor Interpolation"
* Right now interpolation is a large if-else statement as part of DataSource.
* The logic for determining the data that's included in the get_data request is fully determined by the Coordinates.intersect method -- this should not be the case.
    * Nearest-neighbor interpolation needs considerably fewer points that bi=linear interpolation
    * How are out-of-extents cases handles
    * point vs.

[2018-03-13 14:30] mpu-creare opened #8 "Rethink how params are used and how they should behave"
* Right now, any params are completely overwritten by an execute call.
* Presumably a developer could have default params in the dictionary, and users only want to overwrite those in some calls
    * i.e. subsequent calls should use the defaults
    * Right now, subsequent calls will use the last provided params
* params are not traited right now -- they have to be in the dictionary

I think ideal

[2018-03-13 14:31] mpu-creare opened #9 "Add Documentation for new developers"
* [x] Add documentation for overall design method
* [x] Add development roadmap
* [x] Add license
* [x] Add contributors Guide
* [x] Add note on governance model

[2018-03-13 14:33] mpu-creare opened #10 "*Proposal*: Parse sub-attributes in Pipelines"
We want to be able to reference
 * node sub-attributes specifically in Algorithm `inputs` and Compositor `sources`
 * sub-attributes generally in `attrs`

e.g.

[code]

This is just a proposal for now, and needs to be thought through more carefully and discussed.

[2018-03-13 14:34] mpu-creare opened #11 "Nodes with default inputs breaks pipeline"
# Problem

test2.json
[code]

[code]

[code]

[code]
The above fails because `slope` was not evaluated before because `implicit_pipeline_evaluation` is `False` and the pipeline didn't evaluate the node before needing the `output` from the node

# Solution

We either need to:
* [ ] Fix this bug in `Pipeline` by having the `Pipeline` node search through any `Algorithm` or `Compositor` nodes and coll

[2018-03-13 14:36] mpu-creare opened #12 "Add transpose to coordinates and smart indexing of UnitsDataArrays"
Sometimes it would be preferable to transpose coordinates before they're applied to a node.  For example, in WCS's native_coordinates method, the native coordinates are constructed based on the (somewhat arbitrary) WCS coordinates and the evaluated coordinates but use the order of the WCS coordinates, and it would be nice to transpose to order of evaluated coordinates.

[2018-03-13 14:46] mpu-creare opened #13 "BUG: Generalize/fix convolution nodes"
Though I haven't tested it, I'm pretty sure this line
podpac/core/algorithm/signal.py#L43

will fail if the input doesn't have lat/lon coordinates.

Similarly, this line will fail
podpac/core/algorithm/signal.py#L63

if the input doesn't have time coordinates

[2018-03-28 14:56] #9 closed, assigned to nobody

[2018-04-05 22:21] #13 closed

[2018-04-06 14:49] mpu-creare opened #14 "Compositor Shortcut Native Coordinates Implicit Assumption"
Right now the Compositor can short-cut create the native_coordinates (for SMAP) so that we don't have to read the file to get the native coordinates.

This assumes the order of native coordinates is source_coordinate + shared_coordinates as opposed to shared_coordinates + source_coordinates

[2018-05-04 20:21] mpu-creare opened #18 "FEATURE: Enable 'native' specification of coordinates"
e.g.

[code]
Where `None` signifies whatever the 'native' coordinate is for the node.

This will cause clashing which might be:
* Desired?
* Dealt with by using the native coordinates of the output node

[2018-05-07 15:03] mpu-creare opened #19 "FEATURE: Create a webpage for the project"
Should have auto-generated reference docs from docstrings as well as more user-friendly documentation for users, developers, and advocates

[2018-05-11 21:04] mlshapiro commented on #19
docs are being served: https://creare-com.github.io/podpac-docs/

need to auto generate using gist here: https://gist.github.com/domenic/ec8b0fc8ab45f39403dd

[2018-05-11 21:06] mlshapiro commented on #19
todo:

- [ ] automate build on commit using travis
- [ ] implement and demo numpy autodoc
- [ ] tighten up current documentation copy
- [ ] add branding

[2018-05-11 21:07] mlshapiro commented on #19
- numpy reference: https://github.com/numpy/numpy/blob/master/doc/source
- xarray reference: https://github.com/pydata/xarray/tree/master/doc

[2018-05-14 14:54] mlshapiro opened #20 "fill in autodoc classes"
autodoc has been stubbed in for the future, but docs need to be filled in. This issue serves as a reminder of classes/modules that still need documenting. We can remove at the 0.1.0 release, or when the majority of autodoc classes have been filled in.

To find unfilled autodocs, search the podpac module for `Summary`, `TYPE`, `Description`

[2018-05-14 17:49] mlshapiro opened #21 "OUT_DIR is not a member of settings"
Line 636 of podpac/core/node.py references `settings.OUT_DIR`.  There is no member in settings named OUT_DIR.

[2018-05-14 18:45] mlshapiro opened #22 "matplotlib.cm has no member virdis"
Line 741 in `node.py` references `cm.virdis`. Matplotlib has this member on the `pyplot` module, but not `cm`.

[2018-05-14 21:33] mlshapiro opened #23 "Style has no member node"
line 64/65 of `node.py` we reference `self.node`, but Style has no member node

[code]

[2018-05-15 01:14] mlshapiro opened #24 "slc is undefined in type.py"
Line 329, 330 `slc` is undefined in RasterIO source in `type.py`

[code]

[2018-05-15 01:23] mlshapiro opened #25 "podpac.Algorithm.definition.fget undefined in type.py"
line 865 of type.py `podpac.Algorithm.definition` has no member `fget`

[code]

[2018-05-15 01:36] mlshapiro opened #26 "reduce is undefined in stats.py"
Line 175 and 254 in stats.py: `reduce` is undefined.

One example

[code]

[2018-05-15 13:05] mlshapiro opened #27 "AttributeError: module 'podpac' has no attribute 'GridCompositor'"
Trying to import airmoss, I see this error.

[code]

[2018-05-15 15:17] jmilloy commented on #26
Reduce is no longer built-in in python 3.

d581267

[2018-05-15 15:17] #26 closed

[2018-05-15 15:53] jmilloy opened #28 "No data when requesting stacked coordinates from a DataSource with stacked native coordinates."
**Description**
A DataSource with stacked native_coordinates returns NaN values when executed with stacked coordinates.

**Steps to Reproduce**
[code]

**Expected Behavior**
`out` should contain all of the data from `MyNode.source`.

**Observed Behavior**
`out` is all NaN.

[2018-05-15 16:00] jmilloy opened #29 "Exception requesting stacked coordinates from a DataSource with unstacked native coordinates"
**Steps to Reproduce**
[code]

**Expected Behavior**
`out` should contain data interpolated from `MyNode.source`.

**Observed Behavior**

[code]

**Additional Notes**
See also #28

[2018-05-15 16:35] jmilloy opened #30 "Rasterio exception using integer array as DataSource source"
**Description**
Defining a DataSource node with a integer array as the source results in a rasterio exception when evaluating the node. The no-data value during interpolation using rasterio is `np.nan` which is invalid for integer inputs.

**Steps to Reproduce**
[code]

**Observed Behavior**
[code]

**Expected Behavior**
A `traitlets.TraitsError` or `ValueError` exception is raised during node ini

[2018-05-15 16:38] jmilloy commented on #30
@mpu-creare Will you select one of the three proposed expected behaviors (or edit with a different one...) and then assign back to me or mls as appropriate?

[2018-05-15 16:43] mpu-creare commented on #30
Supporting integer data is `nice-to-have` and an optimization at this stage. We can revisit in the future.

Let's choose 2. `A traitlets.TraitsError or ValueError exception is raised during node initialization.` with a sane error telling users to convert the data to float. At least that way it's not silent.

Ultimately we'd like to support option 3, since a lot of datasets use integers with a no-d

[2018-05-15 16:56] jmilloy opened #31 "Support integer DataSource."
Currently a DataSource source must be floats for the interpolation to work. NaN values are used for missing data.

It would be nice to support integer sources with a custom (integer) no-data value.

[2018-05-15 21:30] #19 closed

[2018-05-15 21:34] mlshapiro opened #32 "doc improvements"
General issue to support doc improvements leading to 0.1.0

- [ ]  support viewing multiple versions of documentation
  - View multiple versions of podpac docs on the built documentation website via a dropdown selection. This is a built in feature of read the docs. Ideally this would be a sphinx based solution
- [ ] include code coverage in documentation

[2018-05-16 13:36] mpu-creare opened #33 "Refactor Caching"
**Description**
Presently there is no clear/consistent way to cache objects to RAM/disk. In fact, core.node.Node has multiple save/load/write functions that should be unified. I suspect part of this was used for the initial caching functionality, and another part was used for the Pipeline implementation. This needs to be cleaned up.

**Describe the solution you'd like**
Define a single consistent

[2018-05-16 15:43] RGilmore-Creare opened #34 "Interpolation from point data sets"
**Description**
When executing a node that has lat_lon coordinates as a source, the output is all 'nans'

**Describe the solution you'd like**
Get the actual data as output

**Sample Code**
[code]

[2018-05-16 16:01] jmilloy commented on #34
See #28. I encountered this, too, and am working on this today. See also #29, which is different but related.

[2018-05-16 16:02] mpu-creare commented on #34
I had a look at this. The problem basically seems like the Coordinate refactor didn't make it into the interpolation function. It's tests for 'lat' and 'lon' instead of 'lat_lon' and 'lon_lat' in https://github.com/creare-com/podpac/blob/develop/podpac/core/data/data.py#L510

[2018-05-16 16:59] jmilloy commented on #34
This is fixed in ec572a2.

It's a partial fix; it won't yet work if you requesting 'lon_lat' coords from a DataSource with 'lat_lon' coords, or vice versa, but if they match, it will work.

[2018-05-16 17:00] #34 closed

[2018-05-16 17:00] jmilloy commented on #28
Partial fix in ec572a2.

[2018-05-16 17:00] #28 closed

[2018-05-16 17:06] mpu-creare commented on #21
fixed in d44bbe39ff0a2fd16feee4e6d85da684e9008ccd

[2018-05-16 17:07] jmilloy opened #35 "Interpolate lat_lon to lon_lat and vice versa"
**Description**
After the Coordinate refactor, we cannot request lat_lon data from a DataSource with lon_lat native coordinates (and vice versa).

**Steps to Reproduce**
[code]

**Expected Behavior**
The data should be retrieved.

**Observed Behavior**
Currently a NotImplementedError is raised. Without it, an IndexError is raised in `DataSource.interpolate_point_data`.

[2018-05-16 17:09] jmilloy commented on #35
@mlshapiro Hopefully we can avoid spending time to fix this until you get to the interpolation refactor.

[2018-05-16 17:57] jmilloy opened #36 "Pipeline refactor"
**Description**
Pipelines should be usable as inputs into Nodes (and by other pipelines) and should only allow a single output. Note also that Pipelines will no longer attempt to manage execution.

**Describe the solution you'd like**
The Pipeline class should be converted into a Node. It will still accept a JSON pipeline definition as input and execute that pipeline in its execute method. The spe

[2018-05-16 17:59] jmilloy opened #37 "Custom pipeline output types"
**Description**
Users should be able to define custom Output types and use them in JSON pipeline definitions.

**Describe the solution you'd like**
Similar to the plugin support that is implemented for custom Nodes in JSON pipeline definitions.

**Sample Code**
[code]

**Additional context**
This will be implemented alongside or after #36.

[2018-05-16 18:19] jmilloy opened #38 "Remove Node.output attribute"
### Problem
Nodes that are executed more than once with expanded or reduced coordinates will have unpredictable `output` at any given time. In the following simple example, input1.output and input2.output will have different  sizes becasue b.execute will re-execute a with expanded coordinates:

[code]

### Solution
Remove the following attributes so that Nodes are reusable and "stateless":

 - eva

[2018-05-16 19:51] jmilloy commented on #29
At least partially implemented in 805e735.

[2018-05-16 19:51] #29 closed

[2018-05-17 11:41] mpu-creare opened #39 "DataSource example in pipeline docs is wrong"
**Description**
The example in https://github.com/creare-com/podpac/blob/develop/doc/source/user/pipelines.md#sample-1 is actually for SMAP, which is a compositor node.

**Expected Behavior**
We should have an example to a different type of node, which is actually a datasource. I propose the WCS node.

[2018-05-17 11:54] mpu-creare opened #40 "Public API when importing PODPAC"
**Description**
What should be the root level imports when you `import PODPAC`?

**Describe the solution you'd like**
We could have a flat structure where all the nodes are available at import. That's currently the approach:
[code]

Or we could have a more categorical or hierarchical approach.

[2018-05-17 12:03] mpu-creare commented on #40
I prefer the more categorical/hierarchical approach.

[code]
etcetera.

[2018-05-17 12:04] mpu-creare commented on #40
@jmilloy @mlshapiro @drc-creare and DS what do you think?

[2018-05-17 12:31] mpu-creare commented on #38
This will actually be a wider issue. There are a number of nodes that user @tl.default('attr') which may contain state information. A good example is the `S3Source`. It uses that decorator essentially for a 1-execute cache... so once the new caching is in it would be relatively simple to refactor it to be stateless.

[2018-05-17 13:59] jmilloy commented on #40
I wouldn't be strict one way or the other.

Note that providing a flat structure doesn't prevent nested use (e.g. you can use either Median or algorithm.Median or algorithm.stats.Algorithm in a pipeline), but I do think that the toplevel namespace will get too cluttered.

Currently we have a mix: for example, the nodes in the various algorithm submodules are all exposed at the algorithm level (so

[2018-05-17 14:03] mpu-creare commented on #38
Please do all of that on a branch. :)

[2018-05-18 11:15] mpu-creare commented on #38
While I think fully stateless is a a great goal, I don't think it's fully achievable. Especially not since we'll be asking users to write their own nodes. I think it's fine for nodes to have some state, as long as it's temporary. In particular, the case I really care about is the following:

[code]

That is, the result from executing a node with a certain set of coordinates/parameters should be th

[2018-05-18 12:46] jmilloy commented on #38
Thanks. I came to the same conclusion (of allowing myself temporary state in `_attributes`) as well overnight. And we can achieve thread-safety in nodes podpac provides if that becomes necessary even with such stateful attributes.

[2018-05-18 14:03] RGilmore-Creare opened #41 "(time, lat_lon) to (time, lat_lon) interpolation not working"
**Description**
(time, lat_lon) to (time, lat_lon) interpolation not working
**Steps to Reproduce**
[code]

**Expected Behavior**
It should really just return the input data

**Observed Behavior**
[code]
**Additional Notes**
I'm using xarray version 0.10.0

[2018-05-21 19:16] mpu-creare opened #42 "Fix lat_lon order in Coordinate"
Its used to be ((lat_start, lon_start), (lat_end, lon_end), Number of points)
Now it's ((lat_start, lat_end), (lon_start, lon_end), Number of points)

[2018-05-21 19:45] jmilloy opened #43 "node and node.attribute references in pipeline definitions"
**Description**
We need to be able to define node attributes in pipeline definitions by referring to another node or another node's attribute (without clashing with attributes that are strings, dicts, etc)

**Describe the solution you'd like**
Reference the node or attribute as a string: `"my_attr": "node_name"` or `"my_attr": "node_name.attr1.attr2"`. These references need to be in a special loca

[2018-05-23 18:29] jmilloy commented on #36
@mpu-creare I've updated the pipeline to allow only a single output. Here's a sample pipeline definition:

[code]

However, I noted that the output node *has* to be the last node in the "nodes" (because nodes can only reference previously defined nodes, and any unused nodes throws an exception). What do you think about removing the "node" property altogether?

[code]

It is essentially redundant,

[2018-05-23 18:54] mpu-creare commented on #36
A few notes based on my usage of these JSON pipelines:
* While debugging a complex pipeline, it would be nice just to change the "node" in the output and then see the output from that piece of the pipeline
    * This means there might be un-used nodes
    * Right now I have to manually delete these to get at the output I want
    * Problem is now you could have garbage pipelines with tonnes of unu

[2018-05-23 19:21] jmilloy commented on #36
Great. What I've already got committed at the moment is actually with "node" optional, defaulting to the last-defined, so we're on the same page. I'll leave it as-is.

I think we should just switch the unused nodes exception to a warning. Maybe I was being overly strict adding that in the first place.

[2018-05-23 19:54] mpu-creare commented on #36
Exactly!

[2018-05-25 16:24] mlshapiro commented on #42
this may be a little off topic, but related to the tile.

Shoud `lat_lon` be input as a `list(tuple(lat, lon))` ie. `[(lat, lon), (lan, lon)]` - it seems like the list of points is not necessarily immutable on the client (though certainly it is immutable within podpac).

This is related to clearly bounding the inputs to each method. Feel free ignore if this is perpendicular to the focus.

[2018-05-25 17:19] jmilloy commented on #42
BTW `((lat_start, lon_start), (lat_end, lon_end), size)` makes a lot of sense... It would be a consistent `(start, stop, size)` for whether you're doing a single coordinate `lat` or stacked `lat_lon_time`.

As for `lat_lon` as an array, I would rather it accept an array in the shape (n, 2) -- like @mlshapiro has. I don't think we would need to force the argument to be a list of tuples, it could ac

[2018-05-25 17:32] mpu-creare commented on #42
I agree with all of the above. 1 small point:
* I don't like the structured array either, it's cumbersome to work with
* The structured array is for xarray's benefit. This allows xarray to do all its magic seamlessly
* When I started this, xarray didn't have a mechanism to define a coordinate from two coordinates
    * I think that's no longer the case? I think they now have some sort of stacking

[2018-05-25 17:36] jmilloy commented on #42
Can you point out briefly, maybe in a few lines or maybe a link to somewhere in the code here, how the structured array is used by xarray in a special way? I think that would be helpful for me.

[2018-05-25 18:00] mpu-creare commented on #42
I.e. automatically adding two non-overlapping dataarrays

[code]

I thought it worked with re-index, but apparently not...

[2018-05-25 21:32] jmilloy commented on #42
I finally fully wrapped my head around the Coordinate class. Merge request coming at some point soon with some good docs following shortly behind.

[2018-06-01 14:46] jmilloy commented on #42
Unfortunately, there is a good reason to do `lat_lon=([lat1, lat2, ..., latN], [lon1, lon2, ..., lonN])` as opposed to `lat_lon=[[lat1, lon1], [lat2, lon2], ..., [latN, lonN]]`. You way wish to do `lat_lon`=([lat1, lat2, ..., latN], (lon1, lonN, N)`.

[2018-06-01 20:34] jmilloy opened #45 "Coordinate User Guide"
This would be in addition to improved docs in the module itself.

[2018-06-04 16:40] mlshapiro opened #46 "NumpyArray -> NDArray"
**Description**

Is there a reason to specify `Numpy` in the array DataSource type? Could a naive user implement a list of data (perhaps from a JSON document or an excel spreadsheet?)

**Describe the solution you'd like**

Rename `NumpyArray` to `NDArray` or something more general

[2018-06-04 18:02] jmilloy commented on #46
I agree, I would call it an `ArraySource`.

`DataSource`, ArraySource`, `PyDapSource`, `RasterIOSource`, `WCSSource`, `ReprojectedSource`, `S3Source`, and likely eventually `JSONSource`, `CSVSource`, etc...

[2018-06-04 19:29] mpu-creare opened #47 "Increase Algorithm Coverage to >90%"
Target is 0.1.0 release.

[2018-06-04 19:29] mpu-creare opened #48 "Increase Data coverage to > 90%"
Target is 0.1.0 release.

[2018-06-04 19:31] mpu-creare opened #49 "Increase Compositor Coverage to >90%"
Target is 0.1.0 release.

[2018-06-04 19:32] mpu-creare opened #50 "Increase Utils/Units coverage > 90%"
Target is 0.1.0 release.

[2018-06-04 19:33] mpu-creare opened #51 "Increase Node coverage > 90%"
Target is 0.1.0 release.

[2018-06-04 19:33] mpu-creare opened #52 "Tag 0.0.0 release"
To master, "stable" for now

[2018-06-04 20:16] mlshapiro opened #53 "Coordinate Naming Convention"
**Description**

The current Coordinate naming convention of `Coord` and `Coordinate` is a little bit confusing. Proposing a new naming convention when we are refactoring the Coordinate classes.

[2018-06-04 20:18] mlshapiro commented on #53
I still think the coordinate definition interface is too flexible, making it harder to understand for new or casual users. I think we should make the definition process very self-explanatory, then add intermediate/extra interfaces to support more complicated coordinate systems.

This would require adding some classes, but generally I think the `Coordinate` class would become `CoordinateSystem` and

[2018-06-04 20:18] mlshapiro commented on #53
From @jmilloy

I do think that the `Coord` vs `Coordinate` class names are a bit confusing. My proposal was going to be to rename `Coordinate` to `MultiCoordinate` which is similar to your proposed name `CoordinateSystem`. I would keep the coordinate function named as it is, and I would be indifferent to whether we changed e.g. UniformCoord to UniformCoordinate.

But I don't really see much of a d

[2018-06-04 20:20] mlshapiro commented on #53
From @jmilloy

I'm curious if their was a User Guide that was presented in this order if the Coordinates would be easier to understand for a new user (and seem more constrained).

With or without the PR, if you want to be explicit, you can make `Coord` or `UniformCoord` objects and use those. This is a very similar to what you are proposing, and this is how I think the Coordinate User Guide should

[2018-06-04 20:20] mlshapiro commented on #53
Thanks for the explanation - this all makes a lot of sense. To some extent I am bringing up semantics here, so i appreciate the patience. I had the class inheritance backwards between Coordinate and Coord. Generally now all I am looking for is a little more semantic naming and organization of all these classes (and the docs you propose below).

One idea would be:

- BaseCoord -> BaseDimension
- Co

[2018-06-04 20:21] mlshapiro commented on #53
The names of the classes are important. A BaseCoord class holds the coordinates of one dimension. It is not a dimension, but the coordinates of a dimension, so I don't think "Dimension" is right. "System" has a specific and different meaning to me, too, so I don't think that's right either. But I don't know what is! MultiCoordinate or CoordinateSet or CoordinateSpace makes more sense to me than Co

[2018-06-04 20:42] jmilloy commented on #53
- vote for capital D
 - not worried about being verbose there. You can use the shortcuts, and most everyone has some sort of tab-completion in their code editor, right?
 - I prefer a collective noun over a plural, like `CoordinateSet` or `CoordinateSystem` over `Coordinates`. As a user, I want to reserve plural variable names for lists, but I also want to use variable names that match the class na

[2018-06-05 14:03] jmilloy opened #54 "Coordinate Creation Spec"
## Summary
Create a document that serves as the coordinate creation spec. This issue is concurrent with coordinate class naming (#53). Ideally, this issue precedes coordinate documentation (#4) and testing (#3) -- it would be nice to update the tests to match the spec, and then update the code (and docstrings) to pass the tests. This issue also precedes the user guide (#45).

## Background
Coordin

[2018-06-05 14:19] jmilloy commented on #54
A few thoughts:
 - I think the version in develop is appealing because all of the coordinate creation options are in one place. However I think the code is hard to follow and hard to test, and the documentation and usage overwhelming.
 - I think my PR #44 is appealing because the Coordinate init is simple and explicit and the coordinate factory is flexible and concise, so that both are easy to rea

[2018-06-05 14:35] jmilloy commented on #54
An example of another helper function:

Currently you can create stacked uniform coordinates several ways.

[code]

The first two use a tuple matching the dimensions, with the second using the existing shortcut that maps to coord_linspace. The third one is an entirely separate case requiring a separate code path (plus tests and documentation) in coordinate creation. Consider replacing it with a he

[2018-06-05 16:39] mpu-creare commented on #54
I added a stub for the spec here:  4fa87abded5f4890ba6ed5227b5fb0339c41fc89
Jeff, have a go at it. Half time on this, half time on the unit tests.
I'll try to get to your PR later today or tomorrow.

[2018-06-11 17:48] mlshapiro opened #56 "make internal references to classes and modules consistent"
**Description**

In the codebase, we refer to classes and modules both at the absolute location (i.e. `from podpac.core.data.data import DataSource`) and their top level locations (i.e. `from podpac import DataSource`).

**Describe the solution you'd like**

We should make sure we are consistent with how we refer to modules

This will be a difficult merge, so we should do this at a time that makes

[2018-06-11 18:02] jmilloy commented on #56
See #40

[2018-06-11 19:37] mpu-creare opened #57 "DOC: Improve documentation for nodes"
**Description**
Right now the constructor to nodes is not useful in terms of actual documentation since no sub-node actually uses the `__init__` constructor directly

**Describe the solution you'd like**
Improve the documentation. Both user documentation and docstrings.
Make a traitlets starter guide.

[2018-06-11 21:15] mlshapiro opened #58 "Node _base_definition not used in Node, but is used in subclasses (i.e. DataSource)"
**Description**

`_base_definition` inside the Node module is not used internally, but I do notice that DataSource uses it when it called `definition`.

Should we make `_base_definition` a public class just so that this is more clear?  I understand that `Node().definition()` may be different from `DataSource().definition()`, but its strange that `Node().definition()` doesn't use `_base_definition(

[2018-06-11 22:10] jmilloy commented on #57
After reviewing the traitlets refactor #55, I think that an essential part of this is to have a standardized way to list specifically the attrs and params in the docstrings for Nodes (in addition to the normal Attributes section).

I don't know Sphinx well, but we could add custom sections for attrs and params, right? It would be cool if it could Sphinx introspect for attr and param tags, but that

[2018-06-12 14:07] mlshapiro commented on #58
@jmilloy @mpu-creare says that this is a question for you related to PR #55

[2018-06-12 14:14] jmilloy commented on #58
I'm not sure how it is related to #55. You just want to take the underscore off? Sure. I think that would be better.

[2018-06-12 14:18] jmilloy commented on #58
And, `Node.definition` doesn't use it because `Node.definition` is not implemented in the Node class -- it *must* be implemented by a subclass. It was helpful during development to have the NotImplemented exception raised with additional information, but now it may be more clear to remove that.

[2018-06-12 14:21] mlshapiro commented on #58
ah I see - ok, yes then we can plan to take the `_` off since this is a public utility to be used by subclasses. I'll change to a feature and implement when its appropriate

[2018-06-12 14:24] jmilloy commented on #58
I'm just going to do this right now.

[2018-06-12 14:34] jmilloy commented on #58
Pushed with additional documentation. I also see what @mpu-creare means now with regard to #55, I'll put that in a new issue.

[2018-06-12 14:39] jmilloy commented on #58
I moved too quickly, and *now* I actually see what @mpu-creare means with #55. I should not have pushed the change that I did. Let me try to revert.

[2018-06-12 14:51] jmilloy commented on #58
Okay, this is fixed in #55.

[2018-06-12 14:51] #58 closed

[2018-06-12 14:57] mpu-creare commented on #58
Apparently I'm way too slow. Let me know if you still have any questions.

[2018-06-12 17:42] mlshapiro opened #59 "Coordinates intersect and DataSource get_data() interface"
**Description**

- Coordinates.intersect() takes optional argument `ind`. I propose we change this `return_index` to make it clear that would you are asking for is the method to return the index of the coordinates.
   - Does it make any sense to have a `CoordinateIndex()` class? This may be overengeering, and this is also a discussion for a different topic/time.
- DataSource.get_data() takes two i

[2018-06-12 17:53] mpu-creare commented on #59
Incidentally, we should decide what could be contained as part of the index -- and that has to be matched by the coordinates produces when `return_index=False`.

For example, `index` could be:
1. A list of slice objects
   * Strided, or just start, end
2. A boolean array
3. A flat integer array
4. An integer array of multi-dimensional indices

Different types of datasources may only support a subs

[2018-06-12 18:45] jmilloy commented on #59
Note that sometimes coordinate.intersect does return a slice.

[2018-06-12 18:52] mpu-creare commented on #59
Without setting the flag? Or are you saying from my list above it returns a single slice object (i.e, not as part of a list).

[2018-06-12 18:56] jmilloy commented on #59
No, when ind=True. I thought that it returned like a list of index arrays, on for each dimension, but sometimes the index array is actually a slice, e.g. for MonotonicCoord or UniformCoord. But let me double check.

[2018-06-12 19:04] mpu-creare commented on #59
A list of arrays, I certainly missed that one.

[2018-06-12 19:04] jmilloy commented on #59
That Coordinate.intersect method is complicated; needs some comments and better documentation, hard to tell what it does by reading the code. But the BaseCoord.intersect method that it uses returns sometimes a slice and sometimes an index array (when ind=True). Maybe Coordinate.intersect converts those slices to index arrays, but I didn't think so. I just wanted to point that aspect out to @mlshap

[2018-06-12 19:11] jmilloy commented on #59
As for naming, I would consider following numpy sort and argsort, where and argwhere type convention. intersect would return the intersection as a Coordinate object and argintersect would return index arrays and/or slices. In the implementation, we rename our current intersect method to `_intersect` and then it is less important what the arguments are named; users never see them.

The argument to

[2018-06-12 19:39] mlshapiro commented on #59
wow this is far more nuanced than i expected - thank you for explaining. @jmilloy i like the `argintersect` implementation. This makes sense, especially due to the heterogeneous nature of the returned slide/index/coordinate locator.

I will not be touching the `intersect` method, but I will change the `get_data()` input to `coordinate_index` and I will note in the documentation that this could be

[2018-06-12 20:05] mpu-creare commented on #59
+1 for the argintersect

[2018-06-13 16:34] jmilloy opened #61 "chunked Median does not work"
**Description**
The stats median node reduced _chunk method does not work.

**Steps to Reproduce**
[code]

**Expected Behavior**
The reduce and reduce_chunked should both work and should return the same output.

**Observed Behavior**
The chunked execution raises an Exception.

**Additional Notes**
There is a failing testing for this that is currently flagged to skip.

[2018-06-13 16:42] jmilloy opened #62 "stats Reduce nodes do not work for all chunk_sizes"
**Description**
The stats Reduce nodes return incorrect output for some chunk_sizes.

**Steps to Reproduce**
[code]

**Expected Behavior**
The output should be the same for all chunk sizes and for non-chunked execution.

**Observed Behavior**
 - chunk_size 10 works correctly (but is very slow)
 - chunk_size 1000 now works correctly (and is fast)
 - chunk_size 20 does not work correctly (and is als

[2018-06-15 12:33] dsully1992 opened #63 "Create a testing utility"
As testing coverage is increased, each test creates data sources and coordinates in its setup. This duplicated effort should be handled by a testing utility.

[2018-06-15 15:01] jmilloy commented on #54
@mpu-creare @mlshapiro I pushed an updated (partial) spec to develop. I will probably flesh it out a little bit more on the airplane tomorrow, and possibly here and there I'm out the next two weeks, so take a peek again and let me know what you think.

Still need to do:
 - Coordinates methods
 - rotated coordinates
 - default ctype, etc handling (I get why the current solution doesn't really work

[2018-06-15 17:00] dsully1992 opened #65 "OrderedCompositor caching and source_coordinates do not work"
**Description**
The compositor `source_coordinates` and `cache_native_coordinates` properties do not work.

- Using `cache_native_coordinates=True` will result in an error in the node caching method.
- Using `source_coordinates={some coordinate object}` will cause an error in `Compositor.iterOutputs`

**Steps to Reproduce**
[code]

**Expected Behavior**
Native coordinates should be cached and iter

[2018-06-15 17:30] dsully1992 commented on #49
I was not able to mock an OrderedCompositor that could cache native coordinates or iterate over intersecting source_coordinates in order to execute. I wrote issue #65, and this test should be updated once that is resolved.

[2018-06-16 03:08] jmilloy commented on #47
BTW why is this labeled as wontfix?

[2018-06-20 16:26] drc-creare commented on #33
It may be desirable for caching to be managed in a centralized store behind the scenes. It could be opportunistic based on resource constraints (limited RAM) and cost to compute. [Dask](https://dask.pydata.org/en/latest/caching.html) is incorporating something like this using [cachey](https://github.com/dask/cachey). Cachey considers compute-time, data size, and access time (e.g. how recently was

[2018-07-02 19:06] mpu-creare commented on #51
Done.

[2018-07-02 19:06] #51 closed

[2018-07-06 15:29] mpu-creare commented on #1
I believe this is fixed by #55 . @jmilloy do you concur?

[2018-07-06 15:31] mpu-creare commented on #8
THis is handled by #55

[2018-07-06 15:31] #8 closed

[2018-07-06 15:37] mpu-creare commented on #23
This was fixed in #64

[2018-07-06 15:37] #23 closed

[2018-07-06 15:39] #52 closed

[2018-07-06 15:42] mpu-creare commented on #42
I think this discussion is superseded by  #54. Closing.

[2018-07-06 15:42] #42 closed

[2018-07-06 15:45] jmilloy commented on #1
Yes.

[2018-07-06 15:45] #1 closed

[2018-07-06 15:48] mpu-creare commented on #50
Done in 8bf52acf07f281a0a684b98193eaea1919c28fc5

[2018-07-06 15:48] #50 closed

[2018-07-09 20:03] jmilloy commented on #62
Fixed in https://github.com/creare-com/podpac/pull/68

[2018-07-09 21:07] jmilloy commented on #47
I've still got 3 stats tests to do, but the target coverage is reached.

[2018-07-09 21:07] #47 closed

[2018-07-09 21:16] jmilloy commented on #62
This issue is partially fixed, but some cases still do not work. The description is updated.

[2018-07-13 15:36] mpu-creare commented on #27
Fixed in #71

[2018-07-13 15:36] #27 closed

[2018-07-26 17:30] jmilloy opened #74 "CoordSelect tests are incomplete and very slow"
**Description**
The CoordSelect tests in test_coord_select.py are currently just copied from the initial __main__ script. The test there needs to be updated, cleaned up, broken into units, and sped up.

**Steps to Reproduce**

Run the tests locally.

**Expected Behavior**

The tests run quickly.

**Observed Behavior**

test_coord_select.py :: TestCoordSelect :: test_coord_select is slow and eats u

[2018-07-30 11:17] mpu-creare commented on #65
The problem with the above example is that source_coordinates should be the same size as the number of sources. It should also be a coordinate that uniquely describes one of the sources. So, let's fix it.

[code]

In fairness. I did have to fix a few other bugs.

[2018-07-30 11:35] mpu-creare commented on #65
7882bb7892c5eb6ddc7ea539b2a4d99d97030552

[2018-07-30 11:35] #65 closed

[2018-08-13 15:16] mlshapiro opened #81 "Import/Export Conventions intra-module and for API"
**Description**
Currently different parts of the podpac module handle imports differently.

- in `podpac.core.data.datasource`

[code]

- in `podpac.core.algorithm.signal`

[code]

- `podpac.core.node`

[code]

**Describe the solution you'd like**

- The `__init__.py` file in the root of the `podpac/core` remain empty
- All subdirectories in `podpac/core` use the `__init__.py` file to define ALL p

[2018-08-13 16:31] mlshapiro opened #83 "__init__() method on subclasses"
**Description**

Should we document how to use the __init__() method on subclasses of Node (or other traitlet classes)?

I still don't fully understand the *arg **kwarg propogation through the traitlet classes, but I do know that if I try to define an __init__() function, it does not work?

Is there a workflow for a "function that gets called when class is initialized" (i.e. for a Data source that

[2018-08-13 18:58] jmilloy commented on #54
@mpu-creare Do you want to continue this issue as the coordinate refactor that implements the spec as well? Or should I start a new issue for that, and try to wrap the spec with the notes from our in-person meeting so we can close this?

[2018-08-13 19:11] #49 closed

[2018-08-13 19:15] #54 closed

[2018-08-13 19:15] #48 closed

[2018-08-13 19:23] jmilloy opened #84 "Implement Coordinate Spec"
See https://github.com/creare-com/podpac/blob/develop/doc/source/developer/specs/coordinates.md

See also:

 * #2 Coordinate Groups
 * #3 Tests
 * #4 Docs
 * #45 User Guide
 * #53 Naming convention
 * #42 lat_lon order

[2018-08-13 19:24] mpu-creare commented on #81
When you do this keep in mind:
* some things have to be imported without the 'from'
* e.g. settings need to be imported as `import podpac.settings`
    * the danger is `from podpac.settings import CACHE_DIR` makes  COPY, and if something changes a setting it doesn't propagate to the rest of the package.
* The same goes for `ureg`

* Also please document this in the developer notes

[2018-08-13 19:28] mpu-creare opened #85 "Set up Maintainable AWS infrastructure"
**Description**
We need a mechanism to update our podpac lambda function implementation for the different releases

**Describe the solution you'd like**
Get our AWS infrastructure in place. -- Use a docker image? User  a script? Use the awscli? User a 3rd party library to do things?

* Need to manage:
    * A lambda function installation with a RestFUL API
    * An EC 2 instance that can be cloned

[2018-08-13 19:36] mpu-creare opened #86 "Create Traitlets + PODPAC usage notebook example"
Create an example/documentation of how to use traitlets with PODPAC

This should be a notebook that works through the common use-cases. This will be geared towards developers, but users might find it useful as well.

[2018-08-13 19:48] mpu-creare commented on #54
Start a new issue... in fact, you could do a WIP PR.
Do please wrap in the notes from above so they don't get lost.

[2018-08-13 21:06] jmilloy commented on #10
@mpu-creare This looks long, but I don't think it will take you long to answer my question.

Currently we parse data values (string, number, boolean, list, dictionary) in all node definitions from "attrs" and "params". We also translate string references to previous nodes in the pipeline in two cases: "inputs" in Algorithm nodes and "sources" in Compositor nodes. These two cases need to be handled

[2018-08-13 21:10] jmilloy commented on #10
@mpu-creare

Altogether, 1/1 looks like this (but you can't set dictionary attrs in pipelines):

[code]

[2018-08-13 21:12] jmilloy commented on #10
@mpu-creare

And 2/4 looks like this (but you can't use periods in node names):

[code]

[2018-08-13 21:12] jmilloy commented on #10
@mpu-creare

The final option 3/3 is the least restrictive but the most cumbersome.

They are all about the same effort in the implementation.

[2018-08-14 00:40] mpu-creare commented on #10
I like the fact that there's a nice 1:1 match between json and python for (`string`, `number`, `boolean`, `list`, `dictionary`) , so I don't like disallowing dictionaries. Particularly because I suspect that will catch some people off guard.

I've been thinking about this from the Python side.

[code]
And this can get translated to:
[code]
which is nice, because on the Python side you don't have t

[2018-08-14 15:11] jmilloy opened #87 "Merge params into attrs"
**Description**

Currently we have both node attrs and params. Params can be overridden at evaluation time so that a node can be reused with different params. The distinction has been complicated, and with the new caching system is no longer necessary. We should just use attrs that are set at creation time.

**Describe the solution you'd like**

 * Convert all `param=true` traitlets metadata tags

[2018-08-14 15:12] jmilloy commented on #87
This will be complete alongside #10

[2018-08-14 15:17] jmilloy commented on #84
For reference, useful notes here #54 related to the coordinate creation spec.

We expect to do no additional work on the developer spec itself, as it will be superseded by the actual implementation and its docs, tests, and user guide.

[2018-08-14 15:41] jmilloy opened #88 "Require complete coordinates during evaluation"
We will throw an exception when a node is evaluated with missing coordinates dimensions.

 * For example, when a node with (lat, lon, time) coordinates is evaluated at only (lat, lon) coordinates, we will throw an exception.
 * The other option, which has been rejected, would be to expand the evaluation to all available time coordinates. If all available time coordinates are desired, the user shou

[2018-08-14 15:43] jmilloy commented on #88
@mpu-creare I don't believe we've got an issue for this yet. Please let me know if I've missed anything here. When we discussed this before, I proposed we remove the `replace_coords` function because it was confusing and was only used in this one location, and just implement this logic and check right there where it is used.

[2018-08-14 15:48] mpu-creare commented on #88
The logic should probably go at the head of the `eval` function... probably in the base node class (requiring children to call super for these checks).

But it's fine to lump this into the Coordinate refactor.

[2018-08-14 15:52] jmilloy commented on #88
I suppose it doesn't make a big difference to me if it is implemented in the base node `eval` method (requiring `super().eval(coords)` calls) or in the base node `get_output_coords` method (requiring similar `self.get_output_coords(coords)` calls, which I think is how the child eval methods are currently implemented).

[2018-08-14 19:26] #36 closed

[2018-08-14 19:26] #37 closed

[2018-08-14 19:30] jmilloy commented on #87
Summary of the params:

[code]

[2018-08-14 20:13] jmilloy commented on #74
Speed issue fixed in 7176243

[2018-08-14 20:15] jmilloy opened #89 "Signal Algorithm tests needs to be updated"
**Description**
These tests are an outdated monolith without any assertions.

**Describe the solution you'd like**
Unit tests with assertions for correctness.

[2018-08-14 20:21] jmilloy opened #90 "Reduce node iter_chunk_size attribute needs to be an execution setting"
**Description**
The Reduce nodes in podpac.core.algorithm.stats use an `iter_chunk_size` attribute to reduce memory requirements during evaluation by breaking up the evaluation into smaller pieces. This doesn't effect the result, just *how* the node is evaluated. It should really be the same for every node that might need it that run on a particular system.

**Describe the solution you'd like**
Th

[2018-08-14 20:27] jmilloy commented on #90
@drc-creare @dsully1992 Does it make sense to assign this to one of you? We will eventually have a more robust way to manage execution of pipelines, and this is part of that.

[2018-08-15 12:51] jmilloy opened #91 "Compositor node threaded and n_threads attributes need to be an execution setting"
**Description**
The Compositor node in uses `threaded` and `n_threads` attributes, which doesn't effect the result, just *how* the node is evaluated. It should really be the same for every node that might want to run multithreaded that run on a particular system.

**Describe the solution you'd like**
This should be managed in a user setting.

[2018-08-15 12:51] jmilloy commented on #91
Similar to #90

[2018-08-15 12:54] jmilloy commented on #91
@drc-creare @dsully1992 Same as the reduce node iter_chunk_size, is it appropriate to assign this to one of you?

[2018-08-15 13:08] jmilloy commented on #87
@mpu-creare Previously only params were added to the UnitsDataArray attrs. Should I add all node attrs or none of them?

[2018-08-15 14:31] #87 closed

[2018-08-15 17:18] mlshapiro commented on #83
resolved to document in the traitlets notebook that @mpu-creare is developing.

for future reference, the `init()` function of the node is where this code should live.  No subclass of a "has_traits" class should use the __init__ function.  One could also use the traitlets observe or validate methods to create the same behavior

[2018-08-15 17:18] #83 closed

[2018-08-16 14:42] mpu-creare commented on #63
Closed by #66 merge

[2018-08-16 14:42] #63 closed

[2018-08-16 20:42] mlshapiro commented on #56
closing in favor of #40 and #81

[2018-08-16 20:42] #56 closed

[2018-08-16 21:13] mlshapiro commented on #81
Documented in contributing.md in cbaa4985bbcf24246337577996b88523c3976ea5

[2018-08-16 21:13] #81 closed

[2018-08-16 21:13] mlshapiro commented on #40
Documented in contributing in cbaa4985bbcf24246337577996b88523c3976ea5

[2018-08-16 21:13] #40 closed

[2018-08-16 21:41] mlshapiro opened #93 "DOC: import syntax sanity check"
@mpu-creare @jmilloy  I now realize I should have made a branch with the import spec, but can you please sanity check my spec in contributing.md in cbaa4985bbcf24246337577996b88523c3976ea5 and e4d126e13e37912217d0e214a619641ab5b0ce5c

I realized that my understanding of the python import system is not as good as it should be - does my spec actually work?  I was hoping to come away with a template

[2018-08-17 10:53] mpu-creare commented on #93
Based on the commits, are you suggesting a flat structure for the public API?

I'd prefer a somewhat hierarchical structure, at least for the nodes. The main reason for this in my mind is to separate the library components from the actual data source/algorithm implementation of components:
[code]
I could be convinced that `algorithm`, `data`, `compositor`, `pipeline` should all go into a `nodes` "

[2018-08-17 12:48] jmilloy commented on #93
I prefer the hierarchical structure. And I think it still makes sense to allow a natural mix of depths:

[code]

@mpu-creare It sounds like you don't mind using this public API in the podpac source ie `from podpac import Node` isn't just for user code but for anywhere in the podpac source that you want to import Node?

[2018-08-17 13:04] mpu-creare commented on #93
I just wrote a long comment and then convinced myself otherwise. I see no need for regular users to need `Node`. Let's keep it in core and refer to it using the full path. `podpac.core.node.Node`

[2018-08-17 13:08] jmilloy commented on #93
What about `from podpac import Coordinate`? I'd provide that shortcut for users, but use `from podpac.core.coordinate import Coordinate` in the podpac source.

[2018-08-17 13:40] mpu-creare commented on #93
Agreed.

[2018-08-17 14:11] mpu-creare opened #94 "Don't Save Username and Password in JSON pipeline definition"
**Description**
Currently SMAP nodes save the username and password in the JSON. These are tagged attributes.

**Steps to Reproduce**
See `SMAP-level4-data-access.ipynb`

**Expected Behavior**
username and password should not be saved.

[2018-08-17 14:26] jmilloy commented on #94
Currently, the pipeline parser doesn't check whether the attrs you are setting are tagged as `attr=True`. I don't think that's a problem, and it means that you can remove the attr tag from these traits so that they won't be automatically included in the pipeline definition, still assign them in pipelines, and then handle outputting a placeholder in the definition in the SMAP nodes.

[2018-08-20 12:52] mlshapiro commented on #93
updated in fc7a5448693ccf7cdd1ccddb523fc7718cf90943

discussed this further with @mpu-creare

the short explanation:

- public user API will be developed an curated in root `__init__.py`. This may include a level of submodules ( like `podpac.algorithm`) that group some advanced, but still public, imports.
- developer API follows the core directory so we don't have to do anything special
- all sour

[2018-08-20 12:52] #93 closed

[2018-08-22 14:30] joffreypeters opened #96 "Data Caveats and User Authorization"
**Description**
Some government data comes with [caveats](https://en.wikipedia.org/wiki/Classified_information_in_the_United_States#Handling_caveats): for example FOUO or PROPIN which stand for "for official use only" and "proprietary information" respectively. This data should be handled differently in some circumstances, and in some cases should not be accessible by certain users. These data sou

[2018-08-27 17:33] drc-creare opened #98 "Cache index used for SMAP queries on publicly availble S3 bucket (or similar)"
**Description**
When first using the SMAP datasource an index must be created, this requires many calls to the NASA SMAP servers and takes a long time. This calculation is the same for all podpac users and is therefore redundant.

**Describe the solution you'd like**
Alter the SMAP datasource so that in addition to being able to calculate this index and save/retrieve it from local disk, it can als

[2018-08-27 19:28] mpu-creare opened #99 "Add logging capability"
Right now we don't log when OpenDAP servers are down for a request.

[2018-08-27 19:29] mpu-creare opened #100 "Improve error messages"
**Description**
We will need to have error messages percolate up to the user when using pipelines -- both on the web side and the Python side.

**Describe the solution you'd like**
Full tracebacks and sane error messages are communicated to the user

This may also be related to logging #99

[2018-08-27 21:01] jmilloy commented on #84
@mpu-creare quick question

We used to be able to pass the default ctype, etc once in the Coordinates constructor. That's not as easy anymore in the new spec because the 1d coordinates are explicitly instantiated.

You can still do this:

[code]

But you can't do this:

[code]

Is that okay? I guess shortcut functions such as the ones that Jerry requested would still take a ctype argument and pass

[2018-08-27 21:07] mpu-creare commented on #84
Why can't you do
[code]
Can't you just overwrite the ctype in the 1D coordinates in the constructor of the Coordinates?

I suppose you'd want to be able to have different ctypes for different coordinates (i.e. time v.s. lat/lon), so you'd only want to overwrite if it hasn't been set...

Traits has this nice feature where it will set a default the first time a variable is requested if it hasn't bee

[2018-08-27 21:08] mpu-creare commented on #84
I think I figured out how to be a bit more concise.

    I could figure out a way to make it work... in Coordinates1d init I could store whether the ctype was explicitly set, and if not, then the Coordinate init could overwrite it. Is that worth it?

So basically, that functionality already exists in traits. Don't worry about figuring it out for now, we can always do it later.

[2018-08-27 21:34] jmilloy commented on #84
Okay, thanks. I knew that Traits wouldn't set the default until the trait was requested, but I didn't know you could easily check whether it had done that yet.

[2018-08-27 21:59] drc-creare commented on #98
SMAP index updating on S3 can be done with recurring AWS lambda function.

We can set S3 bucket to be requester pays after some number of requests per month/day/hour. This functionality has not been confirmed but it likely to exist (or it could be via AWS lambda function which likely does have this kind of functionality).

[2018-09-06 19:02] jmilloy commented on #38
We have removed execution parameters, so the example with multiple parameters above is no longer an issue. But I think the example in the Description is still an issue. I'll write a real example that breaks before I start on this.

[2018-09-17 17:58] mlshapiro commented on #53
this will be closed by #84

[2018-09-17 17:59] mlshapiro commented on #59
@jmilloy i assume this will also be closed by #84

data source includes new `coordinate_index` usage

[2018-09-17 18:08] mlshapiro commented on #46
updated in be6e31f41f6e1743b8095ae55b9710db9be02a5f

backwards compatible

[2018-09-17 18:08] #46 closed

[2018-09-17 18:10] mlshapiro commented on #31
will address in #7

[2018-09-17 18:11] mlshapiro commented on #41
this will be broken and addressed in #7

[2018-09-17 18:11] mlshapiro commented on #35
will be addressed in #7

[2018-09-17 18:13] mlshapiro commented on #30
this seems related to the data source handling - unless you get there first, I will try to handle

[2018-09-17 18:14] mlshapiro commented on #24
this was erroneous

[2018-09-17 18:14] #24 closed

[2018-09-17 18:15] mlshapiro commented on #22
this was also erroneous

[2018-09-17 18:15] #22 closed

[2018-09-17 18:15] mlshapiro commented on #6
hope to answer with #7

[2018-09-17 18:16] mlshapiro commented on #5
noting for #7

[2018-09-17 18:19] mlshapiro commented on #7
Rough overview of plan:

- [ ] define Interpolator abstract class architecture and API
- [ ] define DataSource integration and configuration of Interpolator
- [ ] move current interpolation methods to Interpolator classes and achieve current functionality with old methods (using new API)
- [ ] implement new Interpolator features
- [ ] refactor old methods to support new interpolator features
- [ ]

[2018-09-17 19:27] mpu-creare commented on #33
We discussed a few aspects:
* Expiration of the cache
* Caching to ram for the initial release
* Caching to S3 for convenience
* Caching to prevent egress for NASA -- Main next step for disk caching

[2018-09-17 20:06] jmilloy commented on #2
This issue is still outstanding.

The `CoordinatesGroup` will be used for native coordinates, so it will support indexing, intersection, and selection, but nodes will not be able to evaluate a node with a `CoordinatesGroup`. We may provide a convenience method or function for evaluating a node at each Coordinates in the group and returning a list of outputs.

[2018-09-17 20:10] jmilloy commented on #3
This issue should now be addressed again in earnest alongside #84.

[2018-09-17 20:12] jmilloy commented on #18
We decided not to implement this.

[2018-09-17 20:12] #18 closed

[2018-09-17 20:13] jmilloy commented on #45
There is an incomplete guide at https://github.com/creare-com/podpac/blob/develop/doc/source/user/coordinates.md

[2018-09-17 20:14] #53 closed

[2018-09-17 20:20] jmilloy commented on #59
@mlshapiro @mpu-creare Looking back at this, I forgot about the `argintersect` proposal.

Currently, it is implemented similar to numpy functions like [np.unique](https://docs.scipy.org/doc/numpy/reference/generated/numpy.unique.html) with a `return_indexes` argument.

It just returns the `intersection` (as a Coordinates object) by default, or you can also return `indexes`:

[code]

Please let me

[2018-09-17 20:23] #84 closed, assigned to jmilloy

[2018-09-17 20:24] jmilloy opened #102 "Dependent/Rotated/Calculated Coordinates"
There is a stub for this, but it is not yet implemented.

[2018-09-17 20:28] jmilloy opened #103 "Handle Coordinates Properties consistently"
**Description**
Coordinate properties include ctype, coordinate reference system, and units. These can currently be specified during manual `Coordinates1d` creation and are generally passed when copying coordinates and checked when appropriate. We also need to be able easily set defaults during `StackedCoordinates` and `Coordinates` creation that can still be overridden by the `Coordinates1d` if n

[2018-09-17 20:31] jmilloy opened #104 "Test and update SMAP with regard to Coordinates refactor"
**Description**
The Coordinates API was updated in #84 but SMAP has not been tested. I suppose it is possible that there are no issues.

**Steps to Reproduce**

Run the SMAP notebooks.

[2018-09-17 20:32] jmilloy commented on #104
@mpu-creare There are no SMAP tests. I haven't looked at the code, but I assume that there are unaddressed issues in the SMAP nodes. What is the best way for me to test SMAP at this point? Or would you like to assign this to someone else, anyways?

[2018-09-17 20:51] mpu-creare commented on #104
Best way to test SMAP usage is to run the notebooks.

[2018-09-19 18:26] mlshapiro opened #105 "check stacked coordinates length on creation"
**Description**
When creating stacked coordinates, I don't get an error when using arrays of different lengths. I get the error the first time I try to call any property or method on the coordinates.

This may be by design, I just mention it here in case it is not by design.

**Steps to Reproduce**
[code]

**Expected Behavior**

[code]

[2018-09-19 18:52] jmilloy commented on #105
Thanks, fixed here 8a92233

[2018-09-19 18:52] #105 closed

[2018-09-20 14:01] mpu-creare opened #106 "Wrap GPM Precipitation"
**Description**
Write class to provide access to [GPM precipitation](https://pmm.nasa.gov/data-access/downloads/gpm)

**Describe the solution you'd like**
Write a wrapper similar to the SMAP wrapper, starting with [one of the data products (GPM_3IMERGHHE.05)](https://gpm1.gesdisc.eosdis.nasa.gov/opendap/hyrax/GPM_L3/GPM_3IMERGHHE.05/contents.html)

**Sample Code**
[code]

**Additional context**
We

[2018-09-27 15:33] dsully1992 commented on #85
So far, I've created a DockerFile in the `dist/aws` directory, which installs `podpac` and its dependencies on a base container distributed by amazon. This container replicates the ec2 instance used by Lambda functions, which makes this approach pretty useful. I think this approach is our best option, since it can be used to create both Lambda functions and EC2 instances.

[2018-10-03 18:30] #59 closed

[2018-10-04 14:16] jmilloy commented on #104
Currently the SMAPDateFolder(OrderedCompositor) uses `Coord` with a delta. `Coord` has been replaced by ArrayCoordinates1d which does not support a delta argument.

@mpu-creare wrote:

I will replace the Coord usage now, but closing this issue will require reproducing and fixing this case.

[2018-10-04 14:18] mpu-creare commented on #104
Does `ArrayCoordinates1d` support both `point` and `segment` ctypes? Because essentially this should be a `segment` ctype with a specified segment length.

[2018-10-04 14:29] jmilloy commented on #104
Yes, it supports segment ctypes, but there is not segment length attribute yet.

ArrayCoordinates1d handles non-monotonic and monotonic coordinate arrays. Segment ctypes are only supported for monotonic arrays, where the segment length is inferred from the distance between coordinate values. But segment ctypes are not supported for non-monotonic arrays. I would happily add a segment_length attribu

[2018-10-04 14:41] mpu-creare commented on #104
I think I remember that discussion... at the time I couldn't think of a use-case for segment_length for non-monotonic arrays... I guess SMAP-Sentinel is that use-case.

Let's remember to talk about this today to figure out a resolution.

[2018-10-04 15:27] jmilloy commented on #88
This is implemented in 1ad55ae. Needs to be tested. Some eval methods do not call `get_output_coords`; maybe they should.

[2018-10-04 19:41] jmilloy commented on #104
After discussion we are going to replace the extents with a more general segment_length attribute that will handle this case.

[2018-10-04 19:54] jmilloy opened #110 "Pipelines should create unique instances for nodes that are re-used"
**Description**
When a node is re-used in a Pipeline, it may be evaluated more than once with different coordinates. The pipeline should still evaluate correctly, but debugging becomes unreliable. All of the nodes in a Pipeline should be unique instances.

**Describe the solution you'd like**
Nodes should be copied if necessary during Pipeline instantiation.

**Additional context**
We may addition

[2018-10-04 19:58] jmilloy opened #111 "Read-only Node traits"
**Description**
Some node traits, especially the tagged Node `attrs`, should be read-only.

**Describe the solution you'd like**
We should look through the Node classes and set `readonly=True` to the appropriate traits. Note that these can still be set when necessary with `set_traits`.

[2018-10-04 21:18] jmilloy opened #112 "UnitsDataArray ufuncs suddenly not working in TravisCI"
**Description**
The CI tests are no longer passing because of the UnitsDataArray ufuncs test. This includes the master branch. This suggests that something in our CI build process has changed.

**Steps to Reproduce**

See a [recent TravisCI build on any branch](https://travis-ci.org/creare-com/podpac/branches), including this [rebuild of master](https://travis-ci.org/creare-com/podpac/builds/41319

[2018-10-04 21:19] jmilloy commented on #112
I took a peek at this but I couldn't figure anything out quickly. I can't reproduce here on my machine. Possibly this is a numpy or xarray version issue?

@mpu-creare I assigned you because you wrote the UnitsDataArray ufuncs code.
@mlshapiro I also assigned you because I think you might have more familiarity with the TravisCI jobs.

[2018-10-08 19:17] mpu-creare commented on #7
* Note, this will break the SMAP node. Interpolation_tolerance will be the problem. See MPU when this is ready.

[2018-10-08 19:56] mpu-creare opened #113 "Fix Public interface for podpac import"
**Description**
Right now import podpac doesn't give a nice, structured interface.

**Describe the solution you'd like**
Use the discussed structure

[2018-10-09 21:05] mpu-creare opened #114 "Intersect misses dimensions when stacked"
**Description**
When intersecting a grid using a point coordinate, the full grid is returned because the dimensions are miss-matched

**Steps to Reproduce**
[code]

**Expected Behavior**
I would expect behavior similar to the following:
[code]

**Additional Notes**
Problem happens here: https://github.com/creare-com/podpac/blob/develop/podpac/core/coordinates/coordinates1d.py#L236

[code]

[2018-10-09 21:14] mpu-creare commented on #114
@jmilloy  FYI. I have a fix on the SMAP branch.

[2018-10-10 01:12] mpu-creare commented on #112
Looks like it's an error straight in the [xarray layer](https://github.com/pydata/xarray/issues/2440):
[code]

Let's skip it for now.

[2018-10-10 01:51] mpu-creare commented on #112
Finally fixed in f24d08481de3cbd1f331e62d2a075ee8797bbf0e

[2018-10-10 01:51] #112 closed

[2018-10-10 13:14] mpu-creare opened #116 "Creating stacked Coordinates seems to hang"
**Description**
When creating Coordinates using a mixture of lists and clinspace, all stacked together, podpac seems to hang.

**Steps to Reproduce**
[code]

**Expected Behavior**
This should just return the following

[code]

**Observed Behavior**
It just hangs and never returns (at least I wasn't patient enough to wait for it to return.

**Additional Notes**
I suspect this is related to the np.a

[2018-10-10 13:16] mpu-creare commented on #114
Fixed here 6fa21dd2ebe9258d8337fc828baf416f7b26c938

[2018-10-10 13:16] #114 closed

[2018-10-11 18:30] mpu-creare opened #117 "Time information seems to be lost in stacked coordinate creation"
**Description**
When creating stacked coordinates with time, the hours, minutes, seconds information is lost.

**Steps to Reproduce**
[code]

**Expected Behavior**
I would expect this the time to be preserved.

[2018-10-11 18:31] #117 closed

[2018-10-12 13:58] #113 closed

[2018-10-12 14:09] mpu-creare commented on #25
I think this is a Python property method:
[code]

Seems to work just fine.

[2018-10-12 14:09] #25 closed

[2018-10-12 14:14] #39 closed

[2018-10-12 14:16] mpu-creare commented on #94
This was fixed, missed which commit it happened in. Likely during the SMAP robustness updates recently .

[2018-10-12 14:16] #94 closed

[2018-10-12 14:34] mpu-creare opened #118 "Add "select" method to Coordinates object."
**Description**
I want to be able to select a subset of coordinates by:
* bounding box
* indices

Right now I have to create another set of coordinates and then do an intersection.

**Describe the solution you'd like**
Basically duplicate the functionality in Coordintes1d for the bounding box part.
Not sure about the indices...

**Sample Code**
This is not a Spec, but some notional examples
[code]

[2018-10-14 01:46] #85 closed

[2018-10-15 17:43] jmilloy opened #119 "Hours, minutes, and seconds are dropped from datetime coordinates when concatening stacked coordinates."
**Description**
The time portion of a datetime is dropped when concatenating stacked coordinates using podpac.core.coordinates.concat.

**Steps to Reproduce**

[code]

**Expected Behavior**

`c` should have hours, minutes, and seconds.

**Observed Behavior**

The hours, minutes, and seconds are dropped.

**Additional Info**
Related: #117

[2018-10-15 17:46] jmilloy commented on #119
Fixed in f189355.

[2018-10-15 17:53] jmilloy opened #120 "Add segment length property to Coordinates1d"
**Description**
Non-monotonic coordinates cannot use segment ctype. In particular, area_bounds and intersection with outer=True do not work.

**Describe the solution you'd like**
Add a segment_length property, which can be used to implement area_bounds and outer intersections.

**Sample Code**

[code]

[2018-10-15 17:53] jmilloy commented on #120
This issue was discussed in #109 and will replace the workaround in 7811d6c.

[2018-10-15 17:59] mpu-creare commented on #120
Incidentally, I suppose the segment_length should be allowed to be an array the same size as the coordinates. That way you can set the size of each segment in a non-monotonic system.

[2018-10-15 18:03] jmilloy commented on #120
Sure thing. What about UniformCoordinates? Should segment_length (value or array) be supported in the same way, or is the segment length always going to be the step?

[2018-10-15 18:05] dsully1992 commented on #85
@mpu-creare Do nodes/coordinates already store the information needed for the node JSON we're using to execute in Lambda functions? I see node definitions include the 'pipeline' property, but am unsure how to get the output and coordinates properties. The coordinates object might not have everything the JSON object is expected to have. For an example, see example.json in feature/aws. This is the J

[2018-10-15 18:07] mpu-creare commented on #120
Mmm.. that's a good point. Although, it would be an odd case to have different segment lengths for uniform coordinates.... but it could happen.

I think I'd rather not try to support this functionality because I doubt anyone will ever use it. I think calculating segment_length (i.e. == step) in UniformCoordinates is fine. If we ever do have a use-case, I don't think the refactor would be horrendou

[2018-10-15 18:08] mpu-creare commented on #85
You bring up a good point. Traditionally the lambda function worked off the WCS payload to determine coordinates (uniform), but with PODPAC we could ask the Coordinates node to create WCS coordinates, or output our own JSON that makes sense (i.e. more full-featured).

@jmilloy Any thoughts.

[2018-10-15 18:09] jmilloy commented on #119
The fix in f189355 is insufficient because it *adds* the time to datetimes if it isn't there already. The workaround needs to be a bit more complex.

[2018-10-15 18:09] dsully1992 commented on #85
@jmilloy @mpu-creare I had deleted the comment above with plans to take the conversation offline.

Instead, we can discuss this here. Since this comment, I added a property to `Output`, which is only implemented for `ImageOutput` as of now. This property is the output definition, like this:

[code]

My thought is to do something similar - or a `to_json`/`make_pipeline_definition` for coordinates.

[2018-10-15 18:11] dsully1992 commented on #85
An alternative is to separately parameterize these fields in `aws_lambda` so users have to explicitly provide them in order to execute the node on AWS.

[2018-10-15 18:16] jmilloy commented on #85
Oh, that output. Okay. I think the output should be part of the pipeline definition. At least, pipeline's support an output:

[code]

[2018-10-15 19:36] drc-creare opened #121 "When source data is defined for the entire globe we should be able to handle queries that potentially wrap around the edge of the source data"
**Description**
Imagine the source data is a grid that spans the world (say a GeoTIFF or xarray). The source data is defined in a grid that has entries for longitudes starting with -180 and going up to +180. Now image that a user submits a query for longitude values that go from -190 to -170. We should be able to correctly construct a response to this even though it might require slicing the under

[2018-10-15 19:37] drc-creare commented on #121
@mpu-creare  does this adequately describe the issue we ran into today?

[2018-10-15 19:44] mpu-creare commented on #121
Yes, thanks Dave.

[2018-10-15 19:47] drc-creare commented on #121
Thanks @mpu-creare .

[2018-10-16 00:48] mpu-creare commented on #119
Amazing. Had to go all the way to the underlying coordinates. Seem like final fix in 82e3f8eee49093469249478d935505ea43773b07 .

[2018-10-16 01:31] jmilloy commented on #119
Yeah. The pandas MultiIndex uses pandas Timestamps for datetimes, which always use full datetime precision. So unfortunately when we use the pandas MultiIndex in the xarray coords for stacked coordinates, the original datetime precision isn't maintained.

[2018-10-16 01:39] mpu-creare commented on #119
I think that when you get down to the xarray layer it doesn't matter as much. The precision is useful when doing nearest-neighbor lookups of time with an automatically calculated tolerance, but not much beyond that... So I think that's fine.

Thanks Jeff.

[2018-10-18 14:40] mpu-creare commented on #33
When this is finally refactored, we need to remove the `source` attribute from Compositors, since this was used (as a hack) to uniquely identify the compositor. The unique identifier will now the the pipeline definition. @jmilloy  FYI

[2018-10-18 14:46] drc-creare commented on #33
Yes, thanks @mpu-creare . That said I am using it currently as a "user friendly" identifier that goes in the filenames when its a disk store. Its not utilized by the cache to function properly. This should be changed to some other property in `Node` (instead of `Compositor`) and should have a more descriptive name.

[2018-10-18 15:07] jmilloy commented on #33
@drc-creare sorry I don't totally follow you. Is the `source` attribute in the filename just to make them more human readable, or is it actually required to make the filenames unique?

[2018-10-18 15:13] mpu-creare commented on #33
I followed (I think)

Yes.

No.

[2018-10-18 15:15] drc-creare commented on #33
Yeah, just human readable. That's a better way to describe it. Its optional and not necessary for the cache to function properly. There was some desire for the cached files to be not completley obtuse, so I'm attempting to replicate the original strategy of nested folders representing classes and the option of some kind of human readable component to the filename.

[2018-10-18 15:19] jmilloy commented on #33
I think the `base_ref` property in Node could be a good choice for this then. It's defined for all nodes and should always be a string (unlike the `source`).

[2018-10-18 15:32] drc-creare commented on #33
Thanks @jmilloy , I will take a look at `base_ref`. It sounds like a good property to use.

Would different instances of Node objects that have the same pipeline definition have the same `base_ref`?

I'll have to be careful about this. Don't want different "human readable" parts of the filenames resulting in multiple files for the same pipeline_definition/key/coordinates.

[2018-10-18 15:55] jmilloy commented on #33
Yep, I think so.

[2018-10-18 19:40] jmilloy commented on #88
This is completed in 395f535, including unit tests.

[2018-10-18 19:40] #88 closed

[2018-10-18 20:01] jmilloy opened #123 "Cannot evaluate a 'lat_lon' DataSource with 'lat' requested coordinates"
## Description
When a DataSource has stacked native coordinates, it should be possible in some cases to evaluate it even if some of the dimensions are missing.

## Examples

### native_coordinates `lat_lon_time`, requested coordinates `lat_lon` or `time`

[code]

## Notes
Currently, the DataSource eval checks the requested coordinates against the native coordinates and will raise an exception in c

[2018-10-18 20:02] jmilloy commented on #123
@mlshapiro We may choose to handle this in the interpolation, but I might be able to fix it in the eval without you having to touch the interpolation, so for the time being I've assigned both of us.

[2018-10-18 20:06] jmilloy commented on #123
@mlshapiro No, after a better look, I think this is a case that needs to be handled during the interpolation. Let me know if this isn't making sense or if you think I've overlooked something.

[2018-10-18 20:07] jmilloy commented on #123
(currently only in the feature/node_spec branch, I'll update once this is merged in)

[2018-10-20 02:01] jmilloy commented on #38
This was several commits, completed here 667f5b2.

[2018-10-20 02:01] #38 closed

[2018-10-20 02:03] jmilloy opened #124 "Remove implicit_evaluation"
**Description**
We will now always evaluate, and rely on the caching to avoid duplicate evaluation.

[2018-10-22 18:47] mpu-creare commented on #104
I've tested this. Everything seems to work just fine.

[2018-10-22 18:47] #104 closed

[2018-10-22 18:49] mpu-creare commented on #11
I believe this will be fully addressed with the most recent node refactor. The solution was always implicitly evaluating nodes (essentially) and then the caching interface will prevent re-calculating outputs.

[2018-10-22 18:49] #11 closed

[2018-10-22 19:05] jmilloy commented on #124
8acbb8e2

[2018-10-22 19:05] #124 closed

[2018-10-22 19:15] mpu-creare commented on #33
Please add a 1GB disk cache limit. If users exceed this limit, please throw warning. Also check to see if disk space is available before caching? At least a GB

[2018-10-22 19:19] jmilloy opened #125 "In eval methods, cache evaluation results and check the cache before evaluating"
**Description**
Each eval method should return cached output without further evaluation if possible and should cache the output after evaluation. The coordinates hash for this should be agnostic to the dims order.

**Solution**
A decorator for eval methods.

[2018-10-22 19:19] mpu-creare opened #126 "Create AWSLambda node that evaluates nodes in the cloud"
**Description**
Create a node that wraps another node. This wrapped node is then excuted on an AWS lambda function

Also add a notebook showing an example use.

[2018-10-22 19:20] mpu-creare opened #127 "Create a set of simple example notebooks"
**Description**
Create very short notebooks that show how to use basic datasource and algorithm nodes.

TODO: Define and prioritize.

[2018-10-22 19:20] mpu-creare opened #128 "Create Windows install ZIP of PODPAC 2.1 version."
**Description**
Create the ZIP windows version of a full PODPAC 2.1 installation

[2018-10-22 20:11] jmilloy commented on #125
The decorator will also factor out a few other things from the eval method.

[2018-10-22 23:19] dsully1992 commented on #126
@mpu-creare Are you aware of anyone recently adding a dependency on `bs4`? The Lambda function appears to fail to import `podpac.core.pipeline.Pipeline` because of that?

I'm updating the DockerFile to install bs4 now, but it's worth asking. The turnaround on updating and testing the Lambda is long, and if it's something podpac needs, it should go in the setup.py/requirements.txt to be installed b

[2018-10-22 23:56] dsully1992 commented on #126
I'm not sure what is going on with the podpac installation on the Lambda function. For some reason it fails now, and I can see that some of the dependencies in the `setup.py` aren't installed by the DockerFile. However, I haven't changed my imports in the handler, so I'm not sure why this is becoming an issue now. My attempt at a solution was to add those dependencies to requirements.txt, which in

[2018-10-23 13:32] mpu-creare commented on #126
bs4 (beautifulsoup4) is not a new dependency... I don't think. It should have been under the datatype requirements for a while .

[2018-10-25 13:34] #86 closed

[2018-10-25 13:36] mpu-creare opened #129 "Ensure SMAP notebooks work for 2.0 release"
**Description**
Ensure the SMAP notebooks still work after the refactoring is complete in the 2.0 release

[2018-10-25 15:04] mlshapiro commented on #123
i will take a look at this today when I get through the full implementation of nearest and nearest_preview. thanks for tracking.

[2018-10-25 15:07] jmilloy commented on #123
Ah, I removed the need for this in c75babc.

[2018-10-25 15:10] mpu-creare commented on #123
Why did you remove the need for this? It's a feature that I need and really want implemented in podpac...

[2018-10-25 16:39] mpu-creare commented on #123
That's fair. My use case has:
* lat-lon-time triplet (rover data collecting measurements).
* time only dataset (another sensor that isn't georegistered)
* static lat,lon gridded datasets

So I want to be able to use the coordinates of the the second and third bullet to index into the first bullet.

In fact, I also want to be able to use the coordinates of the first bullet to index into the second

[2018-10-25 18:04] jmilloy commented on #123
Okay, great. The test removed in c75babc didn't cover this case, nor did this issue as I initially write it. I've updated the description.

[2018-10-26 15:42] mlshapiro opened #130 "Difference between .coords and .coordinates"
**Description**
Question: What is the difference between the .coords on ArrayCoordinates1D and .coordinates properties on Coordinates1D?

From the spec for Coordinates1D:

[code]

From the spec for ArrayCoordinates1D:

[code]

[2018-10-26 15:51] jmilloy commented on #130
The `coordinates` is a common read-only property of all Coordinates1d.

ArrayCoordinates1d uses `coords` trait to maintain its coordinate values, just like UniformCoordinates1d uses `start`, `stop`, and `step` for its coordinate values. Each implements the `coordinates` property, which of course returns a copy of the `coords` for ArrayCoordinates1d.

If you want to change the coordinates of an Arr

[2018-10-26 15:54] jmilloy commented on #130
We could make the `coords` private if you want (but probably not `start`, `stop` and `step`).

[2018-10-26 16:06] mlshapiro commented on #130
perfect - thank you for the explanation. I will add this explanation to the spec.

I ended up making some notebooks for each of these classes so that I don't have to keep writing examples as I'm trying to develop. Thats where these questions are coming from, mostly just trying to understand.

[2018-10-26 16:06] #130 closed

[2018-10-26 16:14] jmilloy commented on #130
My understanding was that the developer specs would be abandoned once implemented and eventually removed, in favor of the user guides and docstrings, and that @mpu-creare advised us not to worry about maintaining the dev specs if the implementation deviated. The coordinates user guide and docstrings are not complete (#45, #4) but should be soon; I'd put updates for clarification in those locations

[2018-10-26 20:04] drc-creare opened #131 "the pipeline definition of `podpac.core.data.types.Array` can not be converted to json"
**Description**
`Array` type node pipeline definition can not be converted to json because `numpy.ndarray` can not be converted to json.

**Steps to Reproduce**
[code]

**Expected Behavior**
I would have expected this nodes pipeline definition to be json serializeable. That said, this is going to be difficult to achieve in all cases. `UnitsDataArray` are also not JSON serializable for example.

**

[2018-10-26 20:06] drc-creare commented on #131
@jmilloy not sure if you are the right one to assign this. @mpu-creare node.json (json version of pipeline definition) will probably often cause problems. A lot of things are not json serializable (e.g. numpy.ndarray for instance). I'm not sure if xarray is.

[2018-10-26 20:51] jmilloy commented on #131
This is an easy fix. In general, we expect node attrs to be simple and serializable values that users can type out in json format. I believe that the Array `source` and the ReprojectedSource `reprojected_coordinates` are the only two exceptions, and we can easily serialize those two types.

@mpu-creare The DataSource source is sometimes tagged as an attr and sometimes not. I need to fix that now.

[2018-10-26 21:02] drc-creare commented on #131
Thanks @jmilloy that does sound like a pretty straight forward fix. Have a good weekend.

[2018-10-26 21:03] jmilloy commented on #131
At the same time, I don't think using the hash of the pickled definition instead of the json definition is a bad idea. There will always be the possibility of attrs that can't be serialized; maybe those custom nodes won't be usable in a pipeline or AWS, but their results could still be cached.

[2018-10-26 23:41] mpu-creare commented on #131
I agree that the source should not be tagged. Basically because we know every datasource has to have a source anyway (otherwise it's not a datasource). But what do we do if it's also tagged?

I suppose we should always check if source or an attr is a serializable type, and if not, throw some sort of warning or exception.

As part of that check, we can have a few types that we know how to serialize

[2018-10-29 13:32] mlshapiro commented on #7
@mpu-creare ready to merge - I am going to close this issue and restart a new issue for 0.2.1 to fix the open issues above.

See 0caf984259b9fcff68fa6213ee309ac39e2456c0 for interpolation_tolerance refactor in SMAP. You can show me how to test this today

[2018-10-29 13:43] mlshapiro commented on #31
@jmilloy interpolation as now implemented supported integer data sources, but the output data is cast to floats if the interpolation process runs.  For nearest neighbor, I think this comes from xarray in the reindex process (need to check).

Can you edit below for an example of what you want to see?

[code]

[2018-10-29 14:15] mlshapiro commented on #41
With the new syntax, this would look like:

[code]

which currently works. Note that if you tried to evaluate at different `lat_lon` coordinates such that you have to actually interpolate this will not work. We don't currently support stacked dimensions for Nearest interpolation (this will come shortly)

so

[code]

[2018-10-29 14:15] #41 closed

[2018-10-29 14:17] mlshapiro opened #133 "Nearest neighbor select_coordinates and interpolate on stacked coordinates"
**Description**

Currently we don't support any stacked dimensions for nearest neighbor interpolation.

**Describe the solution you'd like**

1. Interpolate dimensions that are not stacked even if other stacked dimensions exist in coordinates
2. Perform an actual multi-dim nearest neighbor (find the stacked dimension with the nearest point and use that)

[2018-10-29 14:20] mlshapiro opened #134 "Short circuit interpolation when eval coordinates are equal or a subset of source coordinates"
**Description**

Currently the interpolation and coordinate selection short circuits when source coordinates are equal to eval coordinates, but it does not short circuit if eval_coordinates or a dim of eval coordinates is a subset of source coordinates.

**Describe the solution you'd like**
Compare dims of eval coordinates to the like dim of source coordinates and short circuit when the eval coord

[2018-10-29 14:21] mlshapiro commented on #41
See #133 for full fix

[2018-10-29 14:47] mlshapiro commented on #35
this will actually get fully addressed in #133.

For now what I'm going to do is relax the "short-circuit" on the `interpolation.interpolate` method so that if the source_coordinates contains the eval_coordinates it will handle this case without actually doing any interpolation.

See L1194 of interpolate.py

[2018-10-29 14:51] jmilloy commented on #31
I really don't remember writing this issue. I wonder if the nan_vals was not implemented at the time.

[2018-10-29 14:51] #31 closed

[2018-10-29 17:05] jmilloy commented on #131
3235564

[2018-10-29 17:05] #131 closed

[2018-10-29 17:50] jmilloy commented on #10
@mpu-creare @mlshapiro

I'm trying to wrap this one real quick. I'm not doing anything now regarding serialize/deserialize the interpolation property, but there is an issue with it that I need to clean up. In the pipeline node definition for a datasource, should the interpolation be in the "attrs" or top-level?

    "nodes": {
        "my_data_source": {
            "node": "MyDataSource",

[2018-10-29 18:05] mpu-creare commented on #10
It's complex enough an inherent enough that I think it should go top-level.

[2018-10-29 19:00] jmilloy commented on #10
Okay, that's fixed here: dc8d8fa

[2018-10-29 21:23] jmilloy opened #135 "Array data source native_coordinates need to be an attr in order to be accurately hashable and serializable"

[2018-10-30 01:14] jmilloy commented on #10
@mpu-creare The ReprojectedSource `coordinates_source` is any Node but it uses `coordinates_source.native_coordinates`. I don't know enough about ReprojectedSource usage -- should I update `coordinates_source` to be specifically a DataSource, or should I update ReprojectedSource to use `coordinates_source.find_coordinates` instead of `coordinates_source.native_coordinates`?

[2018-10-30 02:46] jmilloy commented on #135
See 01f5bd21eabb01fabbc9fd19990d45bd4a3fb8dd for the anticipated implementation for serializing and deserializing the coordinates.

[2018-10-30 13:06] mpu-creare commented on #10
That should specifically be a `DataSource` node.

[2018-10-30 13:17] jmilloy commented on #10
d728317

I know it doesn't exactly belong to the sub_attributes feature branch, but it's fixed there.

[2018-10-30 19:16] #2 closed

[2018-10-30 19:17] mpu-creare opened #138 "SMAP-Sentinel should return Group Coordinates"
**Description**
Update SMAP-Sentinel to output group coordinates for Native and partial-native coordinates (second was probably renamed)

[2018-10-30 20:25] #10 closed, assigned to jmilloy

[2018-10-31 19:17] drc-creare opened #140 "Integrate refactored cache into Node class."
**Description**
Integrate refactored cache into Node class. This means implementing the stubs in Node for cache operations and instantiating a default cache controller that is imported by Node.

[2018-10-31 19:18] mpu-creare opened #141 "Fix up traitlets usage in pipeline node"
**Description**
There are a couple of issues in the pipeline node.

* Generally you shouldn't set any attributes in traitlets validators
* When you create a pipeline with anything but the json the `hash` returns 0 (not correct)

[2018-10-31 19:19] mpu-creare opened #142 "Add validation example to traitlets notebook"
There's no example of validator usage on the notebook.

Validators should not set attributes, for example -- need to explicitly show this.

[2018-10-31 19:19] drc-creare opened #143 "Finish doc strings for 0.2.0 cache refactor"
**Description**
Some of the classes in the inner workings of the refactored cache are missing docstrings that need to be filled out.

[2018-10-31 20:10] mpu-creare commented on #140
Please also rename `del` to `rem` in `Node`

[2018-11-01 13:57] jmilloy commented on #140
I have a branch with the output caching decorator. Do you need that in the 0.2.0 release or is 0.2.1 okay?

[2018-11-01 14:21] dsully1992 commented on #126
As we've discussed, these dependency problems were new to the Lambda because of how PODPAC's module structure. This has been addressed, allowing completion of this issue for the short term. I created a [pull request](!144) for this feature, and will create a couple new issues for future enhancements, such as installing other dependencies on the AWS Lambda function to allow all `Node` types to be e

[2018-11-01 14:21] #126 closed

[2018-11-01 14:29] dsully1992 opened #145 "AWS Lambda Function should be able to process all PODPAC `Node` types"
**Description**
The AWS Lambda function handler should be able to evaluate all types of `Podpac Nodes` (in a `pipeline`). This would involve importing more (all) of the dependencies PODPAC installs in our developer environment.

**Describe the solution you'd like**
- [x] The DockerFile should be updated to install these dependencies, sorting out a mechanism for easy maintenance between `requiremen

[2018-11-01 14:32] dsully1992 opened #146 "Write script to use AWS CLI to update our Lambda Function"
We want to kick off an update to our AWS Lambda Function with a single action. This can be accomplished by writing a bash/python script that runs our Docker commands (see our [developer doc](https://github.com/creare-com/podpac/blob/352b867def02d4ac9575fc645d9f869628dd24cb/doc/source/developer/aws.md)), then uploads the resulting zip files to S3, and updates the Lambda function's source code link.

[2018-11-01 14:33] drc-creare commented on #140
Thanks @jmilloy ! I am targeting 0.2.1 for Node/cache integration, so 0.2.1 should be ok for this.

[2018-11-01 14:37] dsully1992 opened #147 "Make `aws_lambda` compatible with Python 2"

[2018-11-01 14:39] dsully1992 commented on #141
Note: this caused some pains in creating a `pipeline` in our Lambda function. I've worked around that by converting the definition (`OrderedDict`) to JSON, and instantiation the pipeline with that instead. However, it seems a slight optimization to update `handler.py` to use the definition once this issue is resolved.

[2018-11-01 15:03] mpu-creare commented on #140
0.2.1 please

[2018-11-01 15:42] jmilloy commented on #125
See also #140

[2018-11-01 17:42] #147 closed

[2018-11-01 17:59] mlshapiro opened #148 "Add `__eq__` support for coordinates"
**Description**

I would like to be able to ask if Coordinates (or BaseCoordinates) are == to other Coordinates or BaseCoordinates.

Spec tb

[2018-11-01 18:12] mlshapiro commented on #134
note that the `_loop_helper` was an initial implementation of something like this

[2018-11-01 18:13] #35 closed

[2018-11-02 14:02] #7 closed

[2018-11-02 19:37] mpu-creare opened #149 "Add clinspace and crange to Coordinates notebook"
**Description**
The [Coordinates](https://github.com/creare-com/podpac/blob/develop/doc/notebooks/developer/Coordinates.ipynb) developer notebook describes how to use Coordinates, but it doesn't include a description for creating 1D coords objects using clinspace and crange. MOreover, it's not clear why you would use clinspace over linspace, and crange over range.

**Describe the solution you'd li

[2018-11-02 20:20] jmilloy commented on #149
There is a lot of duplicate information in the User Guides and the notebooks. Do we really need both? Can we do away with the User Guides in favor of the notebooks?

[2018-11-02 20:48] mpu-creare commented on #149
Yes. Notebooks in favor of User Guides. The User Guides should link to the notebooks.

[2018-11-05 13:04] #43 closed

[2018-11-05 13:08] mpu-creare opened #152 "Add ability to automatically deal with different CRS and Projections"
**Description**
One of PODPAC's core features is to automatically deal with geospatial coordinate reference systems and projections in a seamless manner. Right now, all of the datasets have to be in the same CRS and have the same units to work together (interpolation is automatic).

**Describe the solution you'd like**
Need a mechanism to:
* [ ] specify the `proj4` CRS in coordinates
* [ ] automat

[2018-11-05 13:09] mpu-creare opened #153 "Automatically deal with unit conversion in Coordinates"
**Description**
A core feature of PODPAC is to automatically handle unit differences in Coordinates. This is not currently implemented.

**Describe the solution you'd like**
We need a mechanism:
* [x] To assign units to coordinates that doesn't class with CRS for lat-lon
* [x] To automatically do unit conversions when interpolating datasets

[2018-11-05 13:11] mpu-creare opened #154 "Fix units-checking in UnitsDataArray"
**Description**
A core functionality of PODPAC is to automatically deal with unit conversions through UnitsDataArray object.

**Describe the solution you'd like**
* [x] Verify that the Units are still working as expected
* [x] Enable users to turn on/off units checking through their settings files
* [x] Enable nodes to specify the units for their outputs
* [x] Make sure units are serializable both

[2018-11-05 15:04] mpu-creare opened #155 "Nearest Neighbor lookup doesn't find date-time when it should exist"
**Description**
When I evaluate a SMAP node with a date that should exist using 'nearest' interpolator, the time is not found.

**Steps to Reproduce**
[code]

The specific problem seem to be this call:
[code]

This works just fine:
[code]

[2018-11-05 15:05] mpu-creare commented on #155
Incidentally, I've just realized that the compositors may need additional logic to, for example, interpolation between different files in the compositor...

[2018-11-05 20:08] mpu-creare opened #156 "Install PODPAC and use for a unique problem"
**Description**
We need a fresh user to test if everything works.

[2018-11-05 20:17] jmilloy commented on #153
See also #103

[2018-11-05 20:17] jmilloy commented on #152
See also #103

[2018-11-05 21:10] mpu-creare opened #157 "DISCUSSION: Should we create an "examples" repository for files?"
* I really want to put more relevant examples into PODPAC (instead if always using generated data).
* I don't want to bloat the code with large geotiffs, csvs, etc.

The way I've seen others solve this problem (i.e. OpenFOAM) is to create a second repository with example files. So the second repository is large and bloated, but the primary code repository remains lean.

* What do y'all think about

[2018-11-07 14:07] mlshapiro opened #158 "Support `coordinate_index_type` in DataSource"
**Description**

We currently do not support `coordinate_index_type` in DataSource class

**Describe the solution you'd like**

- Spec out implementation
- Implement

[2018-11-09 14:36] mpu-creare commented on #127
Sofar I have the following notebooks that need to be created. These should be standalone and **short** (except for the first one), assume you have MATLAB user on your hands. We should use a consistent format as well in terms of introductory text and heading style:

* [ ] Getting Started (Introduction + Index)
* [x] Reading a raster file
* [ ] Reading a .csv file
* [ ] Creating coordinates
* [ ] Re

[2018-11-09 15:10] jmilloy commented on #127
- [ ] Writing pipelines
 - [ ] Sharing nodes (outputting a node's pipeline definition)
 - [ ] Using custom nodes in pipelines (plugins)
 - [ ] Advanced coordinates creation (e.g. using ArrayCoordinates1d, etc directly in order to specify different ctypes for different dimensions)
 - [ ] Coordinates usage (methods and properties API)

What do you think about some additional pipeline notebooks? I gu

[2018-11-09 15:13] jmilloy commented on #127
Plotting outputs and/or using xarray?

[2018-11-09 15:43] jmilloy opened #159 "Replace `hash` property with __hash__ magic method"
**Description**
Nodes and Coordinates have a `hash` property that returns the hash of its JSON definition. We should use the __hash__ method instead. Note that it is best practice to also defined the __eq__ method (see #148) so that `a == b` implies `hash(a) == hash(b)`. This is a quick tweak.

**Sample Code**
[code]

**Related**
It may likewise make sense to replace the Coordinates `copy` method

[2018-11-09 16:59] drc-creare commented on #159
Thumbs up! I like this idea.

Worth noting there could be some side effects. I imagine a lot of things depend on the magic __hash__ function, so we could have unanticipated effects. For example, python sets might utilize them (along with __eq__) so it could be that adding two node objects with the same pipeline definition to a set means that you end up with just one of them stored. This particular

[2018-11-09 18:45] mlshapiro commented on #20
@jmilloy @mpu-creare I finally revisited this now that we are through the major refactors. Unfortunately there is no truly automatic way for this to work, given the way that we would like to have the convenient  *public API* while organizing the source code in a more nested hierarchy.

See c9480e5c0713891590108a1be4f7cabc5acd91d2, and in particular https://github.com/creare-com/podpac/commit/c9480

[2018-11-09 19:58] mlshapiro commented on #30
This has been fixed in previous refactor:

[code]

[2018-11-09 19:58] #30 closed

[2018-11-09 19:59] mlshapiro commented on #157
I think this makes a lot of sense. Is there a reason you structured the examples as a python module?  I think its fine to just have a repository of python scripts/notebooks organized with directories as each example.

[2018-11-09 20:06] dsully1992 commented on #145
UPDATE: We decided to separate `aws_requirements.txt`, which is used by the `DockerFile`. In doing so, I'm now creating both the `dist` and `deps` zip files. I'm back to having some issues with linking those dependencies on the AWS Lambda function, which is the final step to enabling all PODPAC Node types to process.

[2018-11-09 20:22] mlshapiro opened #160 "QUESTION: hasattr vs util.trait_is_defined()"
**Description**

Looking at the Compositor, it looks like you use the built in `hasattr` instead of looking at the objects _trait_values.  The `util` method `trait_is_defined()` uses `_trait_values`.

Do you have any guidance as to when to use one vs the other?   DOes `hasattr` make a call to the traitlets default if it accesses the member?

[2018-11-09 21:02] mpu-creare commented on #160
That's the one! It might be that the compositor is out-dated.

[2018-11-09 21:03] mpu-creare commented on #157
I made a module so we could eventually pip install. Also, it makes it easier to deal with paths. All our notebooks can work by using the same function to figure out the path of the example files. Otherwise, we could ask users to unpack the examples in the same directory every time... but that seems more fragile.

[2018-11-09 21:14] jmilloy commented on #160
The compositor code is definitely out-dated.

 - It looks like `hasattr` causes a call to the traitlets default if the trait hasn't been set yet, so I guess you have to avoid `hasattr` if you don't want to call the default method.
 - But `_trait_values` won't contain a key for the trait if it hasn't been set yet, so that's not a suitable alternative if you want to know if an object has the attribu

[2018-11-09 21:16] mlshapiro commented on #155
updating example to have username/password

[code]

[2018-11-09 21:21] mlshapiro commented on #160
Ah yes - we should handle this and leave off the "none" case.

when you call `obj.has_trait` it will try to run the default, so we shouldn't do that. I think we could probably just leave it as:

[code]

[2018-11-09 21:29] jmilloy commented on #160
But, really, why can't you just do `return trait in obj._trait_values`? What does the RuntimeError and tl.TraitError catch?

[2018-11-09 21:30] mlshapiro commented on #160
Catches bad programming :)  you are totally right. I'll fix.

has_trait works great, don't know how i missed that.

[2018-11-09 21:33] #160 closed

[2018-11-09 22:08] mlshapiro commented on #155
@jmilloy  this looks like a coordinates intersect handling issue when the length of the intesercted coordinate is 1:

[code]

since both of these are `ArrayCoordinates1d`, it goes to the `select` method, but `bounds[0] == bounds[1]`

I don't have time to fix today, but I will attempt to fix and have you review

[2018-11-13 17:43] mpu-creare commented on #157
I had a chat with @jbieszcz .

The plan is to put ALL of the examples and their data in the podpac_examples repo. This will keep the code repo nice and lean, and allows to put large files with the examples in one place.

Anyone else want to weigh in? Otherwise I'll close this soon.

[2018-11-13 17:52] drc-creare commented on #157
Sounds good!

[2018-11-13 17:56] jmilloy commented on #157
Will these examples be available for testing? In particular, could/would/should the **podpac/core/pipeline/test/test.json** file be moved to the podpac_examples repo? The examples would be required for some tests to pass, but those tests would be skipped to be skipped if the examples repo wasn't available).

[2018-11-13 19:03] jmilloy commented on #157
Yes, that makes sense.

[2018-11-13 20:39] #141 closed

[2018-11-13 21:43] mpu-creare commented on #157
Cool. It's happening.

[2018-11-13 21:43] #157 closed

[2018-11-14 14:45] jmilloy commented on #155
This will be fixed in #120. It may also require #103.

[2018-11-14 15:14] jmilloy commented on #155
I should say, the intersection issue @mlshapiro points out will be fixed.

[2018-11-14 18:46] mlshapiro commented on #155
@jmilloy I misspoke  - the example cited above does return nan values, but that is appropriate behavior as I wrote it since the default for the `outer` keyward arg is false. If I set `outer=True`, then I get back the outer two data points as expected.

[code]

I will continue to work on fixing this issue as @mpu-creare  has described it initially

[2018-11-14 18:51] mlshapiro commented on #155
The smap intersect example also works with the `outer` keyword:

[code]

By default the DataSource eval method sets `outer=True` during the intersect, so this is not related to the intersect

[2018-11-14 20:10] jmilloy commented on #120
@mpu-creare I started to look at this again this morning. I don't think that segment lengths are required for non-monotonic outer intersection. I think it is only the area_bounds that would use segment lengths, but area_bounds already uses extents if they were provided, so the segment lengths wouldn't be adding any functionality. I'm going to implement the non-monotonic outer intersection and subm

[2018-11-14 21:07] mlshapiro commented on #155
f27778fef85e3069321874ca80af1f3ba0945753 implements the default interpolator definition in compositor nodes, but this was also not the issue

[2018-11-14 21:35] jmilloy opened #162 "fix area bounds in non-monotonic coordinates"
**Description**
The area bounds of non-monotonic coordinates is incorrect when ctype is not 'point'.

**Steps to Reproduce**
[code]

**Observed Behavior**
[code]

**Expected Behavior**
Either
 * the `area_bounds` should be inferred reasonably from the coordinates, or
 * an exception should be raised

**Additional Notes**
The area_bounds also works correctly when using ctype 'point`. For segment ct

[2018-11-14 21:35] jmilloy commented on #162
See also #120

[2018-11-14 21:44] jmilloy commented on #162
@mpu-creare will you let me know if the inference or the exception is better? Both are quick to implement.

[2018-11-14 21:55] jmilloy commented on #155
There is a short-circuit in the select method that uses the area_bounds to detect an empty selection. The area_bounds are incorrect for non-monotonic coordinates (unless you specify `ctype='point'` or provide `extents`), see #162. The area_bounds could also be incorrect for singleton coordinates. Are the SMAP times singletons or non-monotonic somewhere, in a way that makes them different from the

[2018-11-15 12:08] mpu-creare commented on #162
Please do the inference.
[min - segment_length_of_min / 2, max + segment_length_of_max / 2] for not point
[min , max ] for point

If the user does not specify `segment_length` for ctype `not 'point'`, raise an exception with a clear message.

Thanks!

[2018-11-15 12:09] mpu-creare commented on #120
* In the monotonic case, we actually know the bounds, and they should come from the neighboring elements:
[code]
So this suggests maintaining the segment lengths

* Same goes for the strided selection:
[code]

The strided selection is not great, because you'll really have gappy data at this point.
I.e. starting from:

[code]

i.e. gappy coverage. This is the correct behavior because the coordinate

[2018-11-15 12:13] mpu-creare commented on #155
I believe it's all monotonic, but the requested coordinates are singleton.

[2018-11-15 14:37] mpu-creare opened #164 "Create UnitTESTS for H5PY Node"
**Description**
I have not made unit tests for this node yet.

[2018-11-15 14:38] mpu-creare opened #165 "Unify naming of 'util/utils' in submodules"
**Description**
Some sub-modules user `util.py` other use `utils.py`. We should pick one and standardize.

[2018-11-15 14:40] mpu-creare opened #166 "CSV Unit testing"
**Description**
Need to add pipeline unit test for CSV Node.

Probably actually should make a template for testing particular types of Nodes.

[2018-11-15 16:01] mpu-creare opened #167 "crange and clinspace should let users pass in a 'name'"
**Description**
`crange` and `clinspace` doesn't allow me to specify a `name`

[code]

**Describe the solution you'd like**
[code]

[2018-11-15 16:04] jmilloy commented on #167
Yep, no problem.

I'm curious what do you need it for.

[2018-11-15 16:17] jmilloy commented on #120
Great, that's what makes logical sense to me, as well.

The most straightforward way to implement this is a `segment_lengths` trait with a @tl.default defined that infers the lengths when possible, but that will roughly double the size of array coordinates. Is that okay?

Do you want to require segment_lengths when creating singleton coordinates, as well, or is there some default that makes sense?

[2018-11-15 16:18] jmilloy commented on #167
Would it be better to also leave out the '(?)' in the `repr`?

[2018-11-15 16:19] jmilloy commented on #162
Okay, so this depends on #120.

[2018-11-15 16:22] mpu-creare commented on #120
can we make `segments_lengths` either a float or an array? In that case it won't double the size?

Doubling the size is fine. If you can't handle the size of double the array you have bigger problems.

I think we should require `segment_length` when creating coordinates of type `not point`. I don't see another way around that. The default for singletons should probably be `point`... I bet that wil

[2018-11-15 16:23] mpu-creare commented on #167
No. I think it's entirely appropriate.

[2018-11-15 16:32] jmilloy commented on #120
I'll try. I'll probably implement arrays first and do the optimization separately.

I learned yesterday that traitlets validators are *not* called when you set a trait to None. That was making this a bit of a pain to implement well. I just had a new thought, though, and it *does* call the validator when you set a trait to None if the trait is `tl.Any`, so I can use that instead of a Union.

I reme

[2018-11-15 16:35] jmilloy opened #168 "The default ctype for singleton array coordinates should be 'point'"
Currently:

[code]

Desired:

[code]

Note: this does not affect UniformCoordinats, which inherently specify a segment length (though of course you can still specify uniform point coordinates if you need to). This is the current behavior and will not change:

[code]

[2018-11-15 16:41] #103 closed

[2018-11-15 17:18] #167 closed

[2018-11-16 21:46] mlshapiro commented on #99
see #170

[2018-11-19 20:57] mpu-creare opened #171 "Integrate timing / execution information into PODPAC Lambda node"
**Description**
We need to have a sense of how much money an evaluation will cost.
Need to also be able to set up a budget limitation easily.

[2018-11-19 20:59] mlshapiro commented on #106
First example: https://gpm1.gesdisc.eosdis.nasa.gov/opendap/hyrax/GPM_L3/GPM_3IMERGHHE.05/contents.html

[2018-11-21 17:59] mpu-creare opened #173 "Nearest Neighbor interpolator should have option to remain within extents, or extrapolate"
**Description**
THe nearest-neighbor interpolator right now extrapolates beyond the extents of the dataset. We need a mechanism to make sure this doesn't happen if undesired.

[2018-11-26 19:37] jmilloy commented on #118
A similar `select` method should be added to `StackedCoordinates`.

[2018-11-26 20:17] #4 closed

[2018-11-28 21:29] mpu-creare opened #177 "Interpolation attributes in the DataSource should be json serializable"
**Description**
When I define

[code]
Then I get the following error:
[code]

Problem comes from:
[code]

**Expected Behavior**
[code]

[2018-11-29 19:46] jmilloy commented on #177
I think we should write a custom JSONEncoder that handles numpy arrays, Coordinates, numpy datetime64 and timedelta64, etc and use that every where. The classes themselves should accept serialized arguments and convert them, e.g. '1,D'  -> np.timedelta64(1, 'd'). That will make it a lot easier to handle these cases as they come up.

[2018-12-03 16:10] mlshapiro opened #178 "handle cache paths in the cache module"
**Description**
Currently the settings module handles cache paths with S3. I think this would be better handled at runtime by the cache module.

See https://github.com/creare-com/podpac/blob/develop/podpac/core/settings.py#L105

[2018-12-03 16:30] mlshapiro commented on #165
this seems to have been handled - I don't see any `util.py` in the project.

`utils.py` forever more.

[2018-12-03 20:21] mpu-creare commented on #57
see #176

[2018-12-03 20:21] #57 closed

[2018-12-03 20:31] mpu-creare opened #180 "Improve links to examples and references on documentation page"
* Add examples and references links to front center of documentation
* Add links to examples as an index in the examples page
* Add AGU poster to the website.

[2018-12-03 20:35] mpu-creare opened #181 "S3 Cache Store implementation"
Implement S3 Cache store.

[2018-12-03 20:36] mpu-creare opened #182 "Update PODPAC Lamba to 0.2.1 and then 0.2.2"
Update AWS Lambda function to 0.2.1 and then 0.2.2

[2018-12-03 20:51] mpu-creare opened #183 "MODIS datasource"
https://registry.opendata.aws/ see what it would take to get access t this data and make a small example.

[2018-12-03 20:53] mpu-creare opened #184 "Implement Budgeting Reporting and Documentation for AWS Usage"
* [x] Write a function to report the cost of using Lambda functions
* [x] Add documentation that links to AWS tools for managing AWS budget.
* [x] Automate creation of lambda functions from PODPAC.

[2018-12-04 13:21] mlshapiro opened #185 "Speed up module import"
**Description**
If I do

[code]

it takes about ~4 seconds to load.

**Describe the solution you'd like**

A very fast load process for the core modules, longer load times for other modules and feature

[2018-12-04 13:33] mpu-creare commented on #185
I had a similar thought. I think the optional_import function should incorporate the lazy-loading module:
https://pypi.org/project/lazy-import/

[2018-12-05 15:08] jmilloy commented on #159
The __hash__ method can't replace the hash property because it must return and int, and we are using a string (md5 hexdigest). I don't think we have any reason to implement __hash__.

[2018-12-05 15:08] #159 closed

[2018-12-05 16:53] jmilloy commented on #148
I implemented this because I wanted to use it in tests.

[2018-12-05 16:56] mpu-creare commented on #148
That is an awesome reason for implementing something.

[2018-12-06 00:35] #145 closed

[2018-12-06 21:29] #3 closed, assigned to jmilloy

[2018-12-07 18:50] jmilloy opened #188 "What are Node `node_defaults` for, and why is _first_init private?"
I routinely have to use `_first_init`. Why is it private? It's also not well-documented.

Normally I would just use `__init__`. I guess I can't because of node_defaults. But are `node_defaults` used anywhere? What would they do, anyways, that a trait definition `default_value` doesn't do?

[2018-12-07 22:44] jmilloy opened #189 "Where do I set the cache_type"
**Description**
I just got an exception that says `Trying to cache data but no cache_ctrl available. Specify cache_type.` but  I don't know how or where to do that.

Also, it prevents the code from running. It seems to me that it should work even if the cache hasn't been set up.

**Describe the solution you'd like**

~Can you put instructions for where or how into the exception? Git is a good exam

[2018-12-07 22:47] jmilloy commented on #189
@mpu-creare What do you think about the podpac-config script? It's out of scope of this issue, specifically.

I guess any time, or at least the first time, you *have* do something with settings it would be great if it was very easy to figure out what to do (and also easy to do). Then again, I'm behind as far as settings go, and this is the first time I've run into it. Maybe I just need to be caugh

[2018-12-07 22:50] jmilloy commented on #189
Oh. I have to backtrack a little bit. It's a Node property, so this isn't something that a user should encounter if the node they are using has been setup correctly.

Why the heck is it a node property?

[2018-12-07 23:04] jmilloy commented on #189
Another thought I had was that I think we should have a goal that nodes fail during *initialization* instead of during *evaluation*. If you have a long running node and then it eventually poops out because you didn't specify a cache for another node in the pipeline... Maybe it would be better if there was a way to raise the exception during initialization. Maybe a `NodeCacheCtrl` mixin that has th

[2018-12-08 02:40] mpu-creare commented on #189
Can you post a specific code snippet of what you were trying to do? The caching interface is not mature yet, and I'm aware of some issues. I made a few choices for my recent demos that I'm not entirely pleased with...

[2018-12-08 05:19] jmilloy commented on #189
I'm using in the [GFSSource Node](https://github.com/creare-com/podpac/blob/dbfa91bf81fd7146cd143efa17a58d738d9d1eb4/podpac/datalib/gfs.py).

The following will gave me `NodeException: Trying to cache data but no cache_ctrl available. Specify cache_type.`

[code]

The following works:

[code]

I would expect the node initialization in the first example to raise the standard kind of exception for w

[2018-12-10 15:38] jmilloy opened #191 "Rasterio node ignores nan_vals"
**Steps to Reproduce**

In the feature/gfs branch:

[code]

**Expected Behavior**

`output` should have `nan` instead of the `dataset.nodata` value.

**Observed Behavior**

The `dataset.nodata` values are in the output.

**Additional Notes**
 * `DataSource` handles `nan_vals` in `Datasource._get_data`, but the Rasterio node overwrites `DataSource.get_data` and doesn't need to call `DataSource._get

[2018-12-10 15:55] jmilloy commented on #191
Okay, I got hit by the output caching. Gotta turn that off for node development.......

[2018-12-10 15:55] #191 closed

[2018-12-10 17:52] mlshapiro opened #192 "remove `html` and `notes` directory"
**Description**

Confirm we aren't using these directories anymore and remove

[2018-12-10 20:27] mlshapiro opened #193 "integrate `open_dataset` from GFS into Rasterio DataSource node"
**Description**
@jmilloy figured out how to read Rasterio files via memory (See datalib.GFS).
Make this a feature of Rasterio DataSource nodes.

[2018-12-10 22:33] mlshapiro opened #194 "Generalize S3 Handling from GFS/TerrainTiles"
**Description**

We have two examples of how to integrate data from an S3 Bucket (GFS, TerrainTiles).
We should determine if there any pieces that are abstractable and/or worth abstracting.
Then we should figure out the best way to include this with an arbitrary DataSource node.
It could be a decorator on the DataSource, or perhaps a keyword, not sure what will work best.

- It should be very easy

[2018-12-11 02:11] jmilloy commented on #189
Okay, I see. I should write my node with `put_cache(..., raise_no_cache_exception=False)`. I guess I think that the default should be False. But I think I understand why you want the default to be True. If the default is True, the exception text is a tad tricky; the solution for a user just evaluating a node would be to specify the cache_type when creating the node, but the solution for a user wri

[2018-12-11 02:27] jmilloy opened #195 "Compositor time-interpolation"
**Description**

The Compositor needs to do time interpolation.

For example, the GFS source data is whole-world data for a specific times at 3-hour resolution. A GFS Compositor would be able to interpolate to any time. Note in particular that the sources may or may not all share the same coordinates.

**Describe the solution you'd like**

To be determined.

[2018-12-11 14:24] mlshapiro commented on #195
this relates to https://github.com/creare-com/podpac/pull/187#discussion_r240452981

At this point I think we have enough experience to spec out what the "Compositor" should be (a composite of DataSource, but perhaps DataSource should be more scalable).  Lets wrap this into a discussion starting when we do the 0.3 push.

[2018-12-11 16:01] jmilloy opened #197 "`Array.eval` does not set pre-initialized output (possibly applies to any DataSource)"
**Description**

When you provide an `Array` data source node with an pre-initialized output array, the data is not set, .

**Steps to Reproduce**

[code]

**Expected Behavior**

 * `out` should contain the evaluated data (in fact, `out`, `out2`, and `out3` should all be equal)
 * `out` and `out2` should be the *same* object.

**Observed Behavior**

 * `out` is all np.nan (`out2` and `out3` do con

[2018-12-11 16:09] jmilloy commented on #197
This primary issue (the output argument not being set) is due to datasource.py:337

[code]

[2018-12-11 16:11] jmilloy commented on #197
@mlshapiro I'm assigning you, but bounce this back to me if you need to.

See also https://github.com/creare-com/podpac/commit/57a1aee239a6ad566def6ac86b7549ba8dffdfad

[2018-12-11 16:15] jmilloy commented on #197
Possibly what we need to do is transpose the `coordinates` to match the provided output (instead of transposing the output to match the provided coordinates). We'd need to keep remember the order so that we can transpose the output back before returning. Actually, now that I've thought that through, let me just try that.

[2018-12-11 16:38] jmilloy commented on #197
See #198

[2018-12-12 15:06] mlshapiro commented on #197
@jmilloy is this closed by your PR #198 ?

[2018-12-12 15:06] jmilloy commented on #197
Yes

[2018-12-12 15:06] #197 closed

[2018-12-12 15:59] jmilloy commented on #194
Loading a local GFS file is just an unmodified Rasterio node: `gfs_source = Rasterio(source=filename)`, and loading the aggregated data from a directory should be a thinly wrapped Compositor, once that is implemented properly. I don't think there is really any shared code between the S3 GFS and a local GFS. They are both thin wrappers, and the local GFS wrapper depends completely on your local fil

[2018-12-12 22:51] mpu-creare opened #201 "TerrainTiles is not JSON serializable for Lambda Function"
**Description**
I can't run the TerrainTiles node on lambda because the interpolator definition is not serialized properly

**Steps to Reproduce**
[code]
gives
[code]

[2018-12-12 22:54] mpu-creare opened #202 "I can't run downscaling example on the cloud through Lambda function"
**Description**
/podpac-examples/notebooks/demos/SMAP-downscaling-example-application.ipynb

**Steps to Reproduce**
[code]
Then traceback on cloudwatch:
[code]

**Expected Behavior**
This should work

**Observed Behavior**
This doesn't work.

**Additional Notes**
I'm surprised that it doesn't work. When I try to reproduce what the lambda function should do locally, it works just fine. I can easily

[2018-12-13 13:22] jmilloy commented on #201
@mlshapiro Do you want to take this or should I?

[2018-12-13 13:30] jmilloy commented on #202
The issue isn't serializing/deserializing the node, but serializing/deserialising the coordinates. Can you include creating `c` in your steps to reproduce? We should look at the output of `c.definition` and try running `Coordinates.from_definition(c.definition)` locally to try and reproduce.

[2018-12-13 18:51] mpu-creare commented on #202
no rush.

[2018-12-13 18:51] mpu-creare commented on #202
I can't reproduce locally. We'll make a plan next week.

[2018-12-17 16:37] mpu-creare commented on #189
That would be a great goal, but I'd like to slightly modify. How about fail *early* in evaluation. The way we work with these nodes is that we might be incrementally setting them up, so they may not be valid during initialization, but by evaluation they certainly should be. I agree about your statement for log-running nodes, that would be terrible.

[2018-12-17 21:47] jmilloy commented on #102
The rotated coordinates will be a special case for parameterized (non-regular) coordinates.

Can this be limited to spatial (lat-lon) coordinates or does it need to be general?

[2018-12-17 21:53] mpu-creare commented on #102
Spatial lat-lon will be fine, because that will cover the GDAL transform case, which is what we're trying to cover.

We should discuss the details of this at some point... there are a couple of considerations for:
- metadata
- re-opening files
- saving files

[2019-01-02 18:18] mpu-creare commented on #188
You are correct. I thought I had removed `node_defaults` after the traitlets refactor... I don't quite remember all the details, I'll have to look it up.

[2019-01-02 18:18] #182 closed

[2019-01-02 19:09] mpu-creare commented on #140
This was done in #175

[2019-01-02 19:09] #140 closed

[2019-01-02 19:52] dsully1992 commented on #202
@mpu-creare Can you coordinates in the steps to reproduce? We can debug the handler to pinpoint whether the coordinates or pipeline are being serialized or deserialized incorrectly

[2019-01-02 19:55] jmilloy commented on #202
It's the coordinates, the coordinates object it's trying to deserialize has no list of values or start/stop/step. It only has name, coord_ref_sys, and ctype, but it needs either values or start/stop/step or start/stop/size.

[2019-01-02 19:58] mpu-creare commented on #202
I'm trying to run this example: https://github.com/creare-com/podpac-examples/blob/develop/notebooks/demos/SMAP-downscaling-example-application.ipynb

The coordinates that give the problems, IIRC, is from this part of the pipeline, where the `reprojected_coordinates` are not being correctly deserialized on the handler:

[code]

It's worth trying to reproduce locally, but I wasn't able to do so. I'

[2019-01-02 19:59] mpu-creare commented on #202
Well... either that or something in the json serialization/deserialization that's doing something funny.

[2019-01-02 19:59] dsully1992 commented on #202
I see. Let me know if you'd like an updated AWS Lambda function.

[2019-01-02 20:02] mpu-creare commented on #202
I think testing the handler in the docker image locally would be worth doing before updating the AWS Lambda... I also think it's worth automating the process at this point.

[2019-01-02 20:05] dsully1992 commented on #202
I'll sort it out locally in the docker, with a little massaging to mock using the handler.

Let's talk more, separately about automating the process.

[2019-01-18 15:01] dsully1992 commented on #202
In only briefly attempting this in the Docker container, here is where I run into problems:

[code]

Let's discuss at our meeting today.

[2019-01-18 15:15] dsully1992 commented on #202
[code]

[2019-01-18 15:21] mpu-creare commented on #202
Ah well. that looks like an authentication error with a terrible traceback but an actually very appropriate error message at the head of it all..

[2019-01-18 15:34] dsully1992 commented on #202
Agreed. I'm leaning toward just updating the AWS Lambda to include our latest changes.

[2019-01-18 16:02] mpu-creare commented on #99
@mpu-creare  please add logging to SMAP

[2019-01-18 16:19] dsully1992 commented on #145
@mpu-creare It sounds like this has again become an issue. See issue #202

[2019-01-18 16:36] mpu-creare opened #203 "Write a CI test for automatically testing serialization and deserialization of public API podpac nodes"
**Description**
* Test should detect all PODPAC nodes in the public API
* Test should fill in appropriate types of data for all of the tagged node attributes
* Each node should be serialized, then deserialized, and the first compared to the reconstructed

This should run at every commit.

[2019-01-18 16:55] mpu-creare opened #204 "Create an automatic CI release/test for creating a lambda function when tagging releases"
**Description**
See #146
* Test should run every time PODPAC is tagged with a version number
* Test should:
    * Build the lambda function from scratch
        * This will upload to s3 as podpac_deps_x.x.x.zip and podpac_dist_x.x.x.zip
        * This will also upload to s3 as podpac_deps_latest.zip and podpac_dist_latest.zip
    * Update the main podpac lambda function that uses the standard entr

[2019-01-18 17:31] jmilloy commented on #189
@mpu-creare I'm not sure what the resolution for this is. I started it as a question because I was getting an exception and honestly had no idea what I was supposed to do, but I eventually figured it out. I don't like how the node caching defaults are set up and I think the exceptions aren't really helpful, but if I'm the only one, then I guess we should just close this and add a new (actionable)

[2019-01-18 21:19] mpu-creare commented on #189
I want to have a conversation with you about this... that's why it's not closed yet. I tried to put sane, safe defaults, which requires more work on the node developer's part... but if you found it confusion then:  defaults should either be changed, error messages improved, documentation improved, etc... but I think we discuss at some point.

[2019-01-18 21:19] mpu-creare commented on #188
I need to look at this more carefully. We should discuss.

[2019-01-21 15:13] mpu-creare commented on #188
Yes, let's get rid of `node_defaults`. I was using it for creating a pipeline factory, but I think a function would actually be more appropriate to do this. (It was used in the GeoWATCH project).

[2019-01-21 15:26] mpu-creare opened #205 "Every node needs a default cache_ctrl based on the local settings"
Right now cache_type has to be specified for each node individually. By default, each node should at least have a RAM control, and anything in addition based on the settings.

So basically:
* Default is RAM if nothing else is specified
* Default it based on settings files
* Default is modified by nodes based on what developer has implemented
* Node cache is modified by user upon node creation.

[2019-01-22 16:01] dsully1992 commented on #202
Note: I plan to work on #146 and hope to use the result of that to update the Lambda to resolve this issue.

[2019-01-23 18:54] drc-creare commented on #205
This makes sense. Thanks @mpu-creare .

We do not yet have a RAM cache store. Should we try to add this to 0.3.0 Release?

Alternatively, we could could have the default cache_ctrl be no cache store. It seems to me that it would be reasonable to expect the cache_ctrl to "function" when initialized with an empty list of cache_stores. I think that's the way it is written.

[2019-01-25 17:20] dsully1992 commented on #146
Note: the AWSCLI command to update our lambda function looks something like this, vice the `--dry-run` option:
[code]

The `--s3-key` value will be slightly different, according to the naming convention specified in #204 which will be reflected in the script specified by this issue.

[2019-01-25 17:22] dsully1992 commented on #146
Note: this [stackoverflow answer](https://stackoverflow.com/a/34254700/10624790) will come in handy for this script to pass the Dockerfile the commit sha to checkout when rebuilding the zip files from which the AWS Lambda should be created/updated.

[2019-01-25 19:53] dsully1992 commented on #146
Note: I've written a bash script to automoate building the docker, uploading those zips to s3, and updating the lambda function to use those zips. However, I need to sort out the naming convention for a released and test version of the Lambda function. My plan is to parameterize the git tag and sha in this script, then add logic to prefer the tag, then check the sha, then just check the HEAD of th

[2019-01-28 20:24] mpu-creare commented on #205
Note, this requires a ram store to be implemented. @drc-creare  please review what @jmilloy does.

Note, this doesn't have to be the final implementation.

[2019-01-28 20:30] mpu-creare opened #207 "Automate Links to Notebook Examples in the Documentation"
**Description**
Right now the links to the example notebooks have to be manually inserted by running `make_notebook_links.py`

**Describe the solution you'd like**
When building the doc, automatically run `make_notebook_links.py` and fill in the for the examples.md file

[2019-01-29 19:24] #188 closed

[2019-01-29 20:43] mpu-creare opened #209 "AWS Manager and Pipeline nodes should communicate exceptions/error messages."
**Description**
Pipeline Nodes should be able to pass error messages from Lambda functions down to the user

**Describe the solution you'd like**
When I execute a lambda manager node, if an exception occurs on the lambda function, then the local lambda manager node should report the same error.

[2019-01-30 13:56] #185 closed

[2019-01-30 13:57] #180 closed

[2019-01-30 13:57] #164 closed

[2019-01-30 13:57] #189 closed

[2019-01-30 13:57] #99 closed

[2019-01-30 13:57] #166 closed

[2019-01-30 13:58] #20 closed

[2019-01-30 13:58] #127 closed

[2019-01-30 13:59] #45 closed

[2019-01-30 13:59] #156 closed

[2019-01-30 13:59] #149 closed

[2019-01-30 13:59] #125 closed

[2019-02-01 20:19] mpu-creare opened #210 "Use CMR for filename in SMAP data"
**Description**
Turns out that if you look at the `granules` search in CMR, you CAN find the filenames of files.

**Describe the solution you'd like**
Right now SMAP/SMAP Sentinel crawls through the opendap website to figure out all of these filenames. The CMR is 1000x faster, so we should use that instead.

**Sample Code**
[https://cmr.earthdata.nasa.gov/search/granules.json?page-size=2&page_num=

[2019-02-01 22:52] jmilloy commented on #162
Implemented in #163

[2019-02-01 22:52] jmilloy commented on #120
Implemented in #163

[2019-02-01 22:54] jmilloy commented on #111
Note: I did this for coordinates in #163

[2019-02-01 23:08] jmilloy opened #211 "Custom JSONEncoder for serialization"
**Description**
Node and Coordinate objects need to be serializable.

**Describe the solution you'd like**
The Node and Coordinate classes contain a `definition` property and a `json` property that serializes this definition. We should use a custom JSONEncoder to handle unserializable objects and use it to implement the `json` property. The JSONEncoder needs to handle *at least*:

 * numpy array (

[2019-02-01 23:11] jmilloy commented on #211
Next steps are to
 * Update `Node.json` to use the JSONEncoder
 * Add Coordinates and Interpolation cases to the JSONEncoder

[2019-02-01 23:12] jmilloy commented on #152
Note: I've enforced that all 1d coordinates in a Coordinates be the same crs in #163

[2019-02-01 23:13] jmilloy commented on #135
I think this will be simplified by #211

[2019-02-04 20:45] dsully1992 commented on #202
I am working on updating the Lambda function, but can't get around this issue with lazy-import:

[code]

[2019-02-04 21:01] jmilloy commented on #202
Weird. That's usually a python 2 vs 3 issue. I'm using python 3.5 and installed lazy-import 0.2.2 with pip (on ubuntu) last week just fine. I know that's not much help.

[2019-02-05 12:01] mpu-creare commented on #202
That looks like an error happened, and the error contains bytes that cannot be decoded.

Try installing a specific version of lazy-import. Also try installing an older version, e.g. 0.2.1.

That is very strange...

[2019-02-05 14:23] dsully1992 commented on #202
Ok, I think I found a fix. I based the Dockerfile off other forum posts in which the authors installed python3 using curl and make, because the amazon linux image is so trimmed down. However, the yum repo in that image has python37 available for install. Lazy-import installs when I use pip3.7 from that yum installation, so I'll update the Docker to use yum's python/pip.

[2019-02-06 13:54] dsully1992 commented on #202
Update: I have spent far more time on this than anticipated. The docker container can run podpac and all of its dependencies, but the AWS Lambda function complains about a broken installation of numpy. I'm guessing this has to do with how the zips are put together. Here is the stacktrace:
[code]

[2019-02-06 13:59] dsully1992 commented on #202
I spent a bit of time looking into this and attempting fixes. In my latest attempt, the docker mounts the local podpac directory (which I have installed on my machine), copies those settings, runs `git clean -xdf` to remove files added by the local installation of podpac, then installs podpac in a new directory designated for the archive files. I may revert to cloning a fresh podpac in the docker

[2019-02-06 14:02] mpu-creare commented on #202
Let's try to get this done early in 0.4.0 -- this seems like an important issue that needs to be resolved carefully.

[2019-02-06 14:12] dsully1992 commented on #202
Ah right because I've unintentionally upgraded the docker image to python 3.7, that numpy installation is compiled for python 3.7, not 3.6. I'll try to find another fix to install lazy-import in the docker image with python 3.6.

[2019-02-06 15:53] dsully1992 commented on #202
Ok, so lazy-import's README.rst has non-ascii characters. I'm unclear on why some installations of python 3.6 (my windows, MacOS, and other local machines) encodings module can handle this when installing lazy-import. Lazy import has an issue and pull request to fix this; however, AWS Lambda functions now have a Python 3.7 environment. So, I've updated our Lambda functions to use that environment,

[2019-02-06 15:59] mpu-creare commented on #202
What does the JSON look like for your Lambda function call?

[2019-02-06 16:02] dsully1992 commented on #202
I sent you an e-mail linking to it on S3.

[2019-02-06 16:02] jmilloy commented on #202
Can I get that link, too?

[2019-02-06 16:04] dsully1992 commented on #202
Sure, I almost posted the JSON here, but it is large, and I didn't want to comb through it to ensure there is no private information.

[2019-02-06 16:09] dsully1992 commented on #202
Note, the JSON was created by following [this notebook](https://github.com/creare-com/podpac-examples/blob/develop/notebooks/demos/SMAP-downscaling-example-application.ipynb)

[2019-02-06 16:17] jmilloy commented on #202
I don't think this will solve this problem, but that json is now out of date after the merge this morning, and you will have other issues. You should pull and regenerate the json.

[2019-02-06 16:20] dsully1992 commented on #202
I figured my branch is slightly out of date, since I know there have been other changes to develop since my last merge. The reason I was hoping to talk it out here before updating is I have to recreate the AWS Lambda function in parallel with any local pull, so it is running the same version of Podpac as I am locally. What is out of date about it? It seems likely that it being out of date means I

[2019-02-06 16:21] jmilloy commented on #202
Ah, I semi-reproduced this. I'm on the hunt. I've got to be somewhere till about 1:30, but I'll get back on it this afternoon.

To reproduce locally, you can load the json (`d` below), and you can load the reprojected_coordinates from_definition the first time but then it removes the values key for some reason and you can't do it the second time. Should be something I can fix pretty quickly now th

[2019-02-06 16:23] dsully1992 commented on #202
Thanks, Jeff. I'll hold off for now, then pull develop, merge it into my feature branch, and update the AWS Lambda function once your fix is in.

[2019-02-06 19:38] jmilloy commented on #202
Re: out of date

The time coordinates in the requested coordinates are no longer valid. You can just remove the ctype: 'midpoint' property, and the time will coordinates will default to ctype: 'point'. If you regenerate the json, I think it should leave out the ctype properties.

This is a confluence of a couple of changes.
 - I added segment_lengths. When a segment ctype, such as 'midpoint', is u

[2019-02-06 19:48] dsully1992 commented on #202
@jmilloy Thank you for the fix and explanation. I'll kick off my update of the Lambda function and test it either this afternoon or tomorrow.

[2019-02-06 20:30] #120 closed

[2019-02-07 12:11] mpu-creare commented on #98
We're planning to implement #210 instead.

[2019-02-07 12:11] #98 closed

[2019-02-07 12:19] mpu-creare commented on #207
Finally fixed in 3dd266562a00344c0d8696b397b1937ebfca72f8

[2019-02-07 12:19] #207 closed

[2019-02-07 12:25] #129 closed

[2019-02-07 16:18] #168 closed

[2019-02-07 16:20] #162 closed

[2019-02-07 16:47] jmilloy commented on #155
I just tested this again and it is still evaluating to NaNs after #162 and #120 and #163.

Additionally, I tried evaluating at `2018-05-19` instead of `2018-05-19T12` and got a different error. (Note that `['2018-05-19', '2018-05-20']` works just fine).

[code]

[2019-02-07 16:52] mpu-creare commented on #155
I think the SMAP compositor still needs some update to incorporate your changes... also potentially we really need the compositor to do some interpolation for us.

[2019-02-07 16:55] jmilloy commented on #155
Ah, for reference that's #195.

[2019-02-07 18:52] dsully1992 commented on #202
Uh oh. I get the following stacktrace when following the notebook after merging develop:

[code]

[2019-02-07 19:24] jmilloy commented on #202
Alright, I can take a look at it.

[2019-02-07 19:43] dsully1992 commented on #202
I'm no traitlets expert, but this seems like a symptom of not having default values for the `_is_monotonic`, `_is_descending`, and `_is_uniform` properties.

[2019-02-07 19:45] jmilloy commented on #202
I don't want a default value, but I need to figure out how an ArrayCoordinates1d object got created without setting _is_monotonic in __init__

[2019-02-07 19:47] dsully1992 commented on #202
Ok. For what it's worth, here are the steps I used to create this problem:

[code]

[2019-02-07 20:12] dsully1992 commented on #202
I needed to clear my cache.

[2019-02-07 20:32] dsully1992 commented on #202
Ok. The Lambda function is updated, and works for the example in the [notebook](https://github.com/creare-com/podpac-examples/blob/develop/notebooks/demos/SMAP-downscaling-example-application.ipynb). I have an issue with loading that `pkl` file in the podpac `aws_lambda` node, which I'm working on addressing now.

[2019-02-07 20:45] dsully1992 commented on #202
Loading the pickle file was failing because my python environment had an old version (0.23.x), which I upgraded (to 0.24.1). I don't see pandas listed in `setup.py` (or `aws_requirements.txt`), and I'm not sure the best way to install it. I think it comes from xarray as it stands.

I also though `setup.py` was pulling it's required dependencies from `aws_requirements.txt`, but it doesn't appear th

[2019-02-07 20:45] #202 closed

[2019-02-08 22:55] drc-creare commented on #181
Note: [This](https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html) describes how boto3 handles AWS credentials we should try to mimic as much of this functionality as possible:

- fall back on the aws cli credentials file(s)
- allow for overriding keys (note the addiitonal session key)
- allow for the roles that can be defined with aws cli

[2019-02-11 14:36] mlshapiro commented on #32
@mpu-creare I don't think we need to support multiple versions of the docs right now. if you disagree i will leave this up, otherwise lets remove this for now

[2019-02-11 14:40] mlshapiro commented on #152
@mpu-creare i am overestimating the time on this one because i think this is one of the more important features to get right. This will be the first thing I work on starting this week.

[2019-02-11 20:03] #143 closed

[2019-02-11 20:16] mpu-creare commented on #155
closing in favor of #195

[2019-02-11 20:16] #155 closed

[2019-02-11 20:18] mpu-creare commented on #32
Agreed closing until we want multiple version.

[2019-02-11 20:18] #32 closed

[2019-02-12 20:38] drc-creare opened #212 "FileCacheStore.rem() does not handle `key`/`coordinates` wildcards correctly"
**Description**
I believe that `podpac.core.cache.FileCacheStore.rem()` will fail for some very rare cases that multiple cache entries hash to the same filename and the rem() is called with key/coordinates wildcards.

[2019-02-12 20:43] drc-creare opened #213 "Add resource limitations to current cache stores"
**Description**
We'd like users to be able to specify limits for RAM/disk-space/s3-storeage-usage for the existing cache stores. Ultimately the store(s) should have configurable policies for prioritizing cache entries based on the limits, but the simplest policy is to reject new items once a limit has been reached.

**Describe the solution you'd like**
A clear and concise description of what you w

[2019-02-12 20:48] drc-creare opened #214 "Reorganize cache module(s)"
**Description**
Currently all cache code are in a single file which is getting unwieldy. I think it should be split up into:

* `controllers`
* `stores`
* `containers`
* maybe eventually `policies` (prioritization of cache entries subject to resource constraints).

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Sample Code**
[code]

**Additional

[2019-02-12 20:55] drc-creare opened #215 "CacheController needs improvement/testing for handling multiple CacheStore objects"
**Description**
Currently there is only one CacheController and while it can be instantiated with multiple CacheStore objects (RAM, Disk, S3, etc.) it's current behavior is rudimentary and not necessarily what we would like. Actually, multiple stores are actually untested at present.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Sample Code**

[2019-02-13 14:58] jmilloy opened #216 "Coordinates that are equal may currently have different hash values"
**Description**
The Coordinates hash is currently based ultimately on the underlying Coordinates1d.definition. However, two identical Coordinates may have a different definition, depending on how they were defined.

**Steps to Reproduce**
[code]

**Expected Behavior**

The hash values should be the same.

**Observed Behavior**

The hash values are different, even though the Coordinates are the sam

[2019-02-13 15:33] drc-creare commented on #205
@jmilloy It might make sense for you to use the `feature/cache-s3-0.2.2` branch as a starting point. I've done a little reorganization and the documentation is a little better. I can also merge it into develop. Its basically complete. I plan on reorganizing (see issue #214), but after this feature branch is finished.

[2019-02-13 15:37] jmilloy commented on #205
@drc-creare

Okay. I literally just finished implementing a quick ram cache and am about to test. Maybe I'll jump over to the branch for that, too.

[2019-02-13 15:37] #33 closed

[2019-02-13 15:47] mpu-creare commented on #212
WE talked about this and because the keys are no longer hashed, this shouldn't be an issue.

[2019-02-13 15:47] #212 closed

[2019-02-13 16:11] mpu-creare opened #217 "Implement an HDF5-like container for cache"
**Description**
Right now the file cache stores data as a pickle. Pickle's can break across version of Python, and versions of the code. We want a more general solution.

**Describe the solution you'd like**
Ideally our hdf5 file should follow the netcdf cf conventions, but perhaps that's too much to ask. The actual container doesn't HAVE to be hdf5 (zarr? geotiff? numpy's npz? something from xarr

[2019-02-13 16:32] mpu-creare opened #219 "Updated Caching for 4.0 release, (including Smart Caching for data sources)"
**UPDATE**
We've been discussion caching in #498 and will continue the discussion here.

**Required Use Cases for Caching**
* Speed up pipeline execution where nodes are re-used inside a pipeline for a single coordinates eval
* TODO: Add more

**Nice-to-Have Use Cases For Caching**
* Smart caching (as described below)
* TODO: add more

**Problems with Current Cache System**
* When debugging, cachi

[2019-02-13 16:40] jmilloy commented on #135
@mpu-creare was right, this was already complete.

[2019-02-13 16:40] #135 closed

[2019-02-13 17:19] jmilloy commented on #201
Closing in favor of #177.

[2019-02-13 17:19] #201 closed

[2019-02-13 17:24] jmilloy commented on #177
The error has changed, but some (all?) interpolator definitions will still fail. Need to add a case to the JSONEncoder and then define a `definition` property and `from_definition` method in the Interpolator classes.

[2019-02-13 17:25] #211 closed

[2019-02-13 19:11] jmilloy commented on #90
2ed0a763

[2019-02-13 19:11] #90 closed

[2019-02-13 19:11] jmilloy commented on #91
9db792d3

[2019-02-13 19:11] #91 closed

[2019-02-15 17:49] jmilloy commented on #205
@mpu-creare Should the user be able to completely disable a cache store type in the settings?

[2019-02-15 17:59] mpu-creare commented on #205
Yes -- with the caveat that this may potentially break certain nodes.

[2019-02-15 18:04] jmilloy commented on #205
So each cache type has three potential states in the settings:

 * enabled, and nodes use this cache for outputs by default
 * enabled, but nodes don't use this cache for outputs by default
 * disabled

Does that sound right? We'll need settings for

 * RAM_CACHE: 'always', 'enabled', or 'disabled'
 * DISK_CACHE: 'always', 'enabled', or 'disabled'
 * S3_CACHE: 'always', 'enabled', or 'disabled'

O

[2019-02-15 18:21] mpu-creare commented on #205
How about a cache type is either enabled or disabled, and then you pick which one is the default?
* RAM_CACHE_ENABLED: True or False
* DISK_CACHE_ENABLED: True or False
* S3_CACHE_ENABLED: True or False
* DEFAULT_CACHE: 'none', 'RAM', 'DISK', or 'S3'
* CACHE_OUTPUTS_TO: []  (where list items can include, "RAM", "DISK", or "S3")

[2019-02-15 19:40] jmilloy commented on #205
I don't totally follow. I guess we'll need to have another conversation about this when I get back.

[2019-02-15 20:51] jmilloy commented on #205
We discussed

 * the `DEFAULT_CACHE` setting defines a default CacheCtrl object from a list of cache stores
     - For now that can just be a list of strings, e.g. `['ram', 'disk']`, but we may sometime need to be able to define a cache store item more completely, e.g. `{'s3', 'bucket': 'MY BUCKET', ...}` instead of just `s3`.
     - The default is `['ram']`
 * The `CACHE_ALL_OUTPUTS` setting is a

[2019-02-15 20:56] jmilloy opened #223 "podpac should use the correct directories for settings, cache, etc by default."
The [xdg spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) defines environmental variables and defaults for application files. For example

 * the correct location for podpac settings is ~/.config/podpac/settings.py, or if $XDG_CONFIG_HOME is set, $XDG_CONFIG_HOME/podpac/settings.py
 * the correct location for the disk cache is ~/.config/podpac, or if $XDG_CACHE_H

[2019-02-15 21:19] mpu-creare commented on #223
Nice! Thanks, good find. I agree we should fix this.

[2019-02-21 16:25] mpu-creare opened #224 "Write an Intake Node"
**Description**
Write a datasource node that leverages intake recipes. e.g. pangeo.io/catalog.html

**Describe the solution you'd like**
It would be nice to have a PODPAC node that can take advantage of intake recipes. If the recipe truly loads data into an xarray, then we can do the reprojection/regridding if needed.

**Sample Code**
[code]

[2019-02-25 20:19] #181 closed

[2019-03-05 13:52] jmilloy commented on #205
@mpu-creare Can you clarify `CACHE_ALL_OUTPUTS`? My understanding is that you want sort of a debugging flag that caches outputs to the default cache stores in addition to the node cache_ctrl. How do the `CACHE_ALL_OUTPUTS` setting and the node `cache_output` attribute interrelate?

If cache_output is True and CACHE_ALL_OUTPUTS is False, we should use the node cache_ctrl just like we do currently.

[2019-03-05 15:39] mpu-creare commented on #205
* `cache_output` should override `CACHE_ALL_OUTPUTS`
* `cache_output` should have 3 values:
    * True: Cache's the node's output, ignore `CACHE_ALL_OUTPUTS`
    * False: Doesn't cache the node's output, ignore `CACHE_ALL_OUTPUTS`
    * None: Follows whatever `CACHE_ALL_OUTPUTS` is set to.

So, the default in the base `Node` should be `None`.

The `cache_ctrl` should not interact with this setting

[2019-03-05 16:23] jmilloy commented on #205
Ahh. Now that makes sense, *and* is easy to implement. And easy to document.

[2019-03-05 19:26] mpu-creare commented on #102
Potential Issues:
* Need to think about serialization... does to_netcdf still work?
* Need to include metadata to reconstruct gdal transform
* Rotated coordinates should probably use the gdal transform under the hood, or the rasterio affine map
* When intersection or sub-selecting, preserve the underlying index of the array (i.e. original goes from 0-10, subselect goes from 2-5)

[2019-03-05 19:43] mpu-creare commented on #102
A few more thoughts:
* A DependendCoords (similar to StackedCoords) class might be helpful
* it might be nice to have a link between the two dependent coordinates (from one to the other).
    * In the rotated coordinates case, perhaps these will share the affine mapping (i.e. change the affine mapping in one changes the other...)

[2019-03-05 20:25] jmilloy commented on #102
* We will use what xarray calls [non-dimension coordinates](http://xarray.pydata.org/en/stable/data-structures.html#coordinates) with underlying dimension coordinates 'i', 'j', 'k', and 'l' as needed as indexes.
 * We could use non-dimension coordinates for the StackedCoordinates as well (instead of the MultiIndex). This is just a note for future reference.
 * Currently there is a nice 1-1 mapping

[2019-03-05 22:11] jmilloy commented on #102
* I don't think there is a way to do the necessary intersections without some shared state in dependent coordinates. I interested in the idea of say two separate objects (lat and lon dependent coordinates) with a shared affine mapping, but a RotatedCoordinates object may be a better choice.

[2019-03-05 22:51] jmilloy commented on #102
@mpu-creare How do you want to create rotated coordinates? I think we need 7 arguments:

* theta, upper left lat and lon, bottom right lat and lon, and shape (in each direction)
* theta, upper left lat and lon, bottom right lat and lon, and step (in each direction)
* theta, upper left lat and lon, shape (in each direction) and step (in each direction)

I will use an [Affine object](https://github.

[2019-03-06 13:09] mpu-creare commented on #102
What would `step` be in the examples above? Isn't that the underlying index of the array? Or would it be a (lat,lon) tuple (for each direction of the array).

Anyway, based on my question I think option 1 makes the most sense (no step specification involved = no confusion). Note, this is over-specified for pure-rotation, but it also covers the case for skew... which is great.

Also, the ability to

[2019-03-06 14:44] jmilloy commented on #102
Yep, a lot of sense. Great.

[2019-03-06 15:53] jmilloy commented on #102
I guess we need to support segment ctypes and segment lengths. I may skip that in the first pass and only do 'point' coordinates. But: I assume that segments are rotated as well. The segment lengths gets a bit back into "what is step" territory. I think the segment length and the step is the same -- the horizontal or vertical distance between adjacent coordinates before rotation, which is preserve

[2019-03-06 16:10] jmilloy commented on #102
I'm also keeping other dependent coordinates in mind here, such as polar coordinates. It is possible that the NEXRAD coordinates are actually spherical, with an altitude component that is stacked with the radius.

[2019-03-06 16:21] mpu-creare commented on #102
Ah! Now the step makes sense, as part of a  scale factor...

The way gdal's transform works is by specifying dlat/di, dlat/dj, dlon/di, and dlon/dj ... and I think those are essentially the entries in the matrix (plus the offset).

So I suppose the scale then specifies the scaling
* i2units and
* j2units,

 where **units** are usually in degrees for us, but could be meters, or feet, depending on t

[2019-03-06 16:21] mpu-creare commented on #102
Thanks for keeping NEXTRAD in mind as well.

[2019-03-06 16:28] jmilloy commented on #102
I'm optimistic about [GDAL integration](https://github.com/sgillies/affine#usage-with-gis-data-packages).

[code]

And there is `Affine.to_gdal` as well.

[2019-03-06 22:37] jmilloy commented on #102
@mpu-creare Do the rotated coordinates ever need to be 3-dimensional (ie lat, lon, and alt), or can they always be either (lat, lon) or (lon, lat)?

[2019-03-07 12:03] mpu-creare commented on #102
Since this class is really to support the gdal functionality that we're currently missing, lat-lon only is fine. If we ever have a use-case for lat-lon-alt, then we can modify, or write a new class.

So no, only 2-D.

[2019-03-11 16:12] dsully1992 commented on #184
Note: (tools/example)[https://www.concurrencylabs.com/blog/aws-lambda-cost-optimization-tools/]

[2019-03-11 16:15] dsully1992 commented on #184
There is also an AWS CLI API for creating and managing budgets, which we could wrap, or link users to.

[2019-03-11 19:53] jmilloy commented on #102
Just as an update

The `RotatedCoordinates` object contains the rotated coordinates system and is created with a shape, theta, ulc, and lrc/step:

[code]

Some key properties and methods:
 * `rot.affine`: the Affine transformation object
 * `rot.geotransform`: the gdal geotransform tuple
 * `rot.coordinates`: a tuple of 2d arrays for the latitude and longitude coordinates
 * `rot.intersect(...)`:

[2019-03-13 16:02] mpu-creare opened #226 "Can't specify intermediate time points in a request"
**Description**
When I request a time range as a specified frequency, the SMAP node retrieves all intermediate times as well (Very inefficient).

**Steps to Reproduce**
[code]

I have logging turned on, and this produces the following:

[code]
Note that I'm also getting 3, 6, and 9 o'clock

**Expected Behavior**
Log should look like this:
[code]

[2019-03-25 18:09] dsully1992 commented on #184
@mpu-creare I had mentioned discussing our options a bit further, but I no longer think we need to. I plan to move forward with the plan you describe in this issue. The PODPAC aws_lambda manager will have an option to report some CloudWatch budgeting status information before evaluation, and will report the cost of a node evaluation once complete. Our AWS documentation is now slightly out of date,

[2019-03-25 18:52] dsully1992 commented on #203
This and #204 are related.

[2019-03-25 18:53] dsully1992 commented on #171
This, #184 and #209 are all related.

[2019-03-25 19:24] #205 closed

[2019-03-25 19:36] #178 closed

[2019-04-01 15:09] mlshapiro commented on #152
Seems like we use `crs` and `coord_ref_sys` in the coordinates and node objects. Based on proj4 and rasterio, I am going to change these references to `crs` and refer the coordinate `coord_ref_sys` to self.crs

[2019-04-01 15:15] mlshapiro commented on #152
hm on second thought, `coord_ref_sys` is everywhere. i'm going to keep this for now and refer `crs` to `coord_ref_sys`.

After @jmilloy finishes the coordinates updates, I will merge those in and then make the vernacular change to `crs`

[2019-04-01 16:58] jmilloy commented on #177
Does merge #229 close this?

[2019-04-01 17:06] mlshapiro commented on #177
yes - closed by #229

[2019-04-01 17:06] #177 closed

[2019-04-05 17:58] jmilloy commented on #118
This is implemented in 6fa9036 along with the RotatedCoordinates feature. Tests still outstanding.

[2019-04-05 19:03] mlshapiro opened #233 "replace `coord_ref_sys` properties with `crs` on all Coordinates classes"
For consistency.

This should be done after all changes to Coordinates classes have been merged so that we don't have difficult PRs

[2019-04-08 19:30] #152 closed

[2019-04-08 19:30] #146 closed

[2019-04-09 20:39] mlshapiro opened #235 "Add crs to UnitsDataArray metadata"
**Description**

Currently UnitsDataArray classes have no way of knowing the crs of the underlying coordinates.

**Describe the solution you'd like**

We want to add the crs string from the underlying `Coordinates` to the `UnitsDataArray` metadata.

**Additional context**

This should come after #228 is merged to utilize the helpers created on that branch.

[2019-04-11 13:07] mpu-creare opened #236 "PODPAC Web API / Viewer"
**Description**
I want to be able to give a live demo of creating a pipeline and view the results in a webbrowser, where the tiles are generated via lambda functions on-demand and in parallel.

This would require an API to a lambda function, and a way to view / interpret the data.

A nice demo would be to reproduce the elements of the attached study.

[ChewSmall2018.pdf](https://github.com/creare-

[2019-04-11 21:17] mpu-creare opened #237 "Integrate with NSIDC EGI interface"
**Description**
The NSIDC EGI API utilizes CMR for spatial and temporal filtering, as well as subsetting, reformatting, and reprojection services

Seems like a wider EOSDIS initiative (ESI) https://developer.earthdata.nasa.gov/sdps/programmatic-access-docs#egiparameters

https://nsidc.org/support/how/how-do-i-programmatically-request-data-services

[2019-04-12 18:39] jmilloy opened #238 "Interpolation and intersection ignores ctype"
**Description**
The ctype ('left', 'right', 'midpoint', or 'point') for coordinates is not used anywhere.

**Steps to Reproduce**
[code]

**Expected Behavior**

`o_left` and `o_right` should be different, because they represent different locations in the data source.

**Observed Behavior**

`o_left` and `o_right` are the same.

**Additional Notes**

 * Possibly we can check `ctype` before intersec

[2019-04-12 18:40] jmilloy commented on #238
@mpu-creare Have I thought this through correctly? And if so, what is the priority on this to you? Is it properly labeled a bug, or is it more of an enhancement to you? It goes right along with handling units and crs conversions -- does it belong the 1.0.0 release as a "feature complete" issue?

[2019-04-12 18:43] mpu-creare commented on #238
I'd label it as a bug... but it's probably more of a feature. You are correct, we haven't paid attention to it since we don't have a use case yet. We will very quickly begin having use-cases for `point` vs `midpoint`, but `left` and `right` will probably lag for quite a while.

[2019-04-12 18:48] jmilloy commented on #238
Maybe I can fix the "bug" aspect by adding a check when intersecting (maybe another when interpolating) than just raises an exception, and we can make a separate issue for the feature.

That could cause some issues pretty quickly because we default to 'midpoint' when we can (uniform coordinates or monotonic coordinates) and default to 'point' when we cannot (unordered arrays, singletons). I expect

[2019-04-12 18:53] mpu-creare commented on #238
I think we should address this... but I think this should be driven by an application otherwise we'll get it wrong. We have another project coming in that uses point data heavily, so we can take care of it there.

[2019-04-15 16:29] #102 closed

[2019-04-15 16:29] #118 closed

[2019-04-15 16:29] #233 closed

[2019-04-16 15:32] jmilloy commented on #216
9f273c7

[2019-04-16 15:32] #216 closed

[2019-04-18 17:08] jmilloy commented on #89
2770c53

[2019-04-18 17:08] #89 closed

[2019-04-18 18:52] #110 closed

[2019-04-19 14:01] jmilloy commented on #183
I think this is part of the "application development" phase.

[2019-04-19 14:18] jmilloy opened #243 "Dependent Coordinates CRS Transform"
**Description**
The Coordinates `transform` method is working, but could use a few enhancements.
 * transform dependent lat-lon coordinates
 * transform unstacked lat-lon coordinates with different sizes
    - we will accomplish this with dependent coordinates
 * skip lat-lon transformation when possible, e.g. the transformation only changes altitude. This will prevent unstacked lat-lon coordinate

[2019-04-19 14:41] jmilloy opened #244 "Implement or replace Coordinates units"
**Description**
The coordinates `units` are not integrated with the crs transform (otherwise used) and may be the incorrect type. The `crs` contains the lat-lon units and *may* also contain the altitude (`vunits`). The `units` provides a way to specify the altitude units separately from the crs.

Currently `units` is a podpac `Units` object defined on each of the underlying coordinates. I don't th

[2019-04-19 14:43] jmilloy commented on #244
@mlshapiro @mpu-creare I thought we might discuss this Monday, but I believe I will be out. This is a fairly straightforward enhancement that I believe I could implement for 1.0.0, though I would maybe leave the integration with `transform` to Marc.

[2019-04-22 15:18] mlshapiro commented on #153
as far as I can tell this has been implemented in #152. May need a little refinement in #244

[2019-04-22 19:03] #154 closed

[2019-04-22 19:04] #213 closed

[2019-04-22 19:14] mpu-creare opened #245 "Test Podpac_example notebooks for 1.0 release"
**Description**
NOTE: This is waiting on the release branch for 1.0 to be created.

We need to ensure that the example notebooks are up to date and run without error on the 1.0 release.

Please check a notebook (or two or three... etc.) and check it off when you confirmed it runs through without errors. Also make any modifications needed. In particular, I should have written

* **Earthdata Login**

[2019-04-22 19:16] mpu-creare opened #246 "Create 1.0 Release Branch"
I want to create the 1.0 Release branch so we can start testing. Please have your features completed and merged into develop by 2019/04/26 (this Friday).

[2019-04-22 19:52] mpu-creare commented on #244
As a note, I'm using `pint` for the units in the `UnitsDataArray`. I'd prefer to use `pint` everywhere for consistency sake... but I'm also ok with a string here. `pint` does have some nice features to go from a `pint.Unit` object to a string and vice versa.

`pint` requires that you use a universal `unit registry`, which I have setup as `podpac.units` (which I believe points to `podpac.core.units

[2019-04-24 13:36] jmilloy commented on #244
I realize now how lightweight the `Units` trait is. I'm willing to use `pint` if there is a reason. Do we need to support any non proj4-compatible altitude units? If not, we won't be doing any conversions where pint will help, and we would just be converting to `pint.Unit` and back for no reason (and the registry wouldn't matter). But if so, then I will use pint, use proj4 when possible and fallba

[2019-04-24 13:53] mpu-creare commented on #244
Hmmm... again, difficult to answer without a use-case.

The problem with altitude units is that researchers sometimes use units of 'pressure' which don't correspond to 'distance above ground'... so it would be nice to use pint's automatic conversion between different pressure units (atm, bar, kpa, etc.) which is not covered by Proj.4 units https://proj4.org/operations/conversions/unitconvert.html#

[2019-04-24 13:53] mpu-creare commented on #244
And yes, this would be great to have in 1.0 because I'd have a hard time justifying time on this feature in the future.

[2019-04-24 14:13] jmilloy commented on #244
Yes, let's use a string. UnitsDataArray already uses strings and then uses pint internally. For the Coordinates altitude unit, we will use strings as well and then use proj4 internally. The `Units` trait will be removed.

If we have a use-case come up for altitude that requires non proj4 units, we can continue to use strings and then proj4 *and* pint internally as appropriate. Or, we can add a 'pr

[2019-04-24 14:14] jmilloy commented on #244
`UnitsNode` is not used for anything. Let me know if it can be removed. Makes sense to do it now. Otherwise, I will leave it, and I have enough info to complete this issue this week. Thanks.

[2019-04-24 14:22] mpu-creare commented on #244
I'm fine removing `UnitsNode`.

Well, `UnitsDataArray` uses pint.units in the 'unit' attr -- so these cannot be strings. It will do a conversion from strings to pint on creation (and vice versa on serialization), but in general if you set UnitsDataArray.attrs['units'] = str, it will break parts of the code. If you set Node.units = str, then I think everything works out fine... which I suppose is o

[2019-04-24 16:31] trey-stafford opened #247 "pip installed podpac (v0.3.0) missing nsidc_smap_opendap_url.txt"
**Description**
Version 0.3.0 of podpac installed via pip does not include datalib/nsidc_smap_opendap_url.txt

**Steps to Reproduce**
[code]

**Expected Behavior**
I expect to be able to use `podpac.datalib.SMAP` to retrieve data from NSIDC's OpenDAP instance.

**Observed Behavior**
Observed in https://github.com/creare-com/podpac-examples/blob/develop/notebooks/basic_examples/010-retrieving-SMAP-

[2019-04-24 16:36] jmilloy opened #248 "disk store tests break other tests"
**Description**
Something about the unit tests for the disk cache store is breaking other tests by changing the settings.

**Steps to Reproduce**

When I run the full suite of tests, the WCS `test_get_data` test fails because `settings['DISK_CACHE_DIR`] is None. If I run `test_types.py` alone, it passes, or if I comment out `test_disk_store.py`, then the rest of the tests all pass.

** Observed Be

[2019-04-24 16:47] jmilloy commented on #247
I'm not well-versed with the SMAP datalib, but it appears that part of this is a typo in an otherwise expected error. I've pushed a fix to branch hotfix/smap-logger-225

[2019-04-24 16:52] trey-stafford commented on #247
Note that I temporarily fixed this issue for myself by creating the missing file manually.

[code]

[2019-04-24 17:01] jmilloy commented on #247
An additional hotfix 73b078e in hotfix/smap-url to handle missing file. It appears that the file should be created by podpac with a default value if it is not present, but it was failing to do so.

[2019-04-24 17:10] jmilloy commented on #247
Thanks @trey-stafford, I've taken a quick look and passed this along to @mpu-creare for review.

[2019-04-24 17:23] mpu-creare commented on #247
Reviewed and merged into develop. Thanks for the work-around, we'll have this update in the 1.0 release which is around the corner.

[2019-04-24 18:33] jmilloy commented on #244
Ah, I see. But, no, `Node(units='meters')` doesn't work currently. It gives a TraitError. But that will change.

Should the Node `units` trait be tagged as an `attr`? It's used or tested or documented anywhere so I'm having a hard time. (I wish I could be more independent and decisive here, sorry)

Something like this?

[code]

[2019-04-26 13:39] jmilloy commented on #244
@mlshapiro @mpu-creare What do you guys know about WGS84 altitude units?

With EPSG:2193, for example, the vunits work as expected:

[code]

But with WGS84, vunits are ignored:

[code]

That makes it impossible to transform alt units using proj4 when using WGS84, which we use by default. I already put a warning in when using WGS84 and specifying alt_units, and maybe that is enough.

This shows the

[2019-04-26 13:44] jmilloy commented on #244
Okay, I think I get it now, and I'm more confident that the above is the correct behavior.

[2019-04-26 14:18] #244 closed

[2019-04-26 17:52] mpu-creare commented on #246
@jmilloy @mlshapiro @drc-creare @dsully1992 as a reminder, I'm planning to create the release branch first thing Monday morning.

[2019-04-26 19:00] jmilloy opened #251 "Coordinates transform incorrect for unstacked lat-lon"
**Description**

The Coordinates transform transforms unstacked lat and lon coordinates as though they will still form a grid in the new projection, which is not necessarily the case:

[code]

`tlat[1], tlon[2]` does not equal `tlat1, tlat2`.

**Solution**

For unstacked lat-lon, the entire grid of lat-lon coordinates needs to be transformed. I will use DependentCoordinates to accomplish this with

[2019-04-26 19:58] drc-creare commented on #248
@jmilloy sorry, didn't see this until today and then I had to fix my podpac installation. I tracked down the bug. Working on a better fix to specifically restore the settings for these tests.

[2019-04-26 20:24] #248 closed

[2019-04-28 15:05] #235 closed

[2019-04-28 22:23] jmilloy opened #252 "Convert `segment_lengths` when transforming lat and lon coordinates"
**Description**
The `segment_lengths` of lat and lon coordinates need to be transformed when the coordinates are transformed. Currently, a warning is issued. The segment_lengths for alt coordinates are converted using the `alt_units` and/or proj4 vunits, when applicable, and we may be able to do the same for lat and lon using the proj4 `+units`, though I'm not sure if this will always be possible.

[2019-04-28 22:29] jmilloy opened #254 "transpose Coordinates with DependentCoordinates"
Coordinates with DependentCoordinates `lat,lon` can (now) be transposed. However we should be able to transpose the dependent dimensions, as well.

[code]

[2019-04-28 22:32] jmilloy commented on #254
There is a test failing for this. The fix is straightforward but not trivial.

[2019-04-28 22:33] #243 closed

[2019-04-28 22:33] #251 closed

[2019-04-29 12:39] jmilloy commented on #254
The bug is fixed in 6794ddf, and the rest can wait.

[2019-04-29 12:59] jmilloy opened #256 "Coordinates from_xarray with dependent coordinates"
**Description**
The Coordinates `from_xarray` constructor does not handle dependent coordinates.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Sample Code**

[code]

**Additional context**

The `xcoord.keys()` gives the Coordinates `dims` we need and `xcoord.dims` gives the Coordinates `idims`. If they don't match, we have DependentCoordinates

[2019-04-29 13:48] jmilloy commented on #111
It will not be sufficient to add read_only=True to the traits; we'll have to explicitly call `set_trait` in the Node init methods.

[2019-04-29 14:03] mpu-creare commented on #246
@jmilloy @mlshapiro @drc-creare @dsully1992  We're now on the release branch.
Please test it if you have a chance (see #245).
 No more features on this branch, only bug fixes. If what you were working on didn't make it in to 1.0.0 we'll have to wait till the next release.

[2019-04-29 14:03] #246 closed

[2019-04-29 14:11] mlshapiro commented on #224
draft in #255

[2019-04-29 14:11] #224 closed

[2019-04-29 15:23] mpu-creare commented on #210
Tested and it seems to be working as expected.

[2019-04-29 15:23] #210 closed

[2019-04-30 16:46] jmilloy opened #258 "Compositor multi-threading cannot use the RAM cache"
**Description**

When multithreading is on and a Compositor node attempts to use the cache, it fails because the thread-local RAM cache has not been initialized in the child threads.

**Steps to Reproduce**

Notebook 021-composite-array-dataset, cell 6

**Observed Behavior**

[code]

[2019-04-30 16:50] jmilloy commented on #258
Easier than I expected. I just added the following to the `get`, `put`, `rem`, and `has` methods of the RamCacheStore:

[code]

[2019-04-30 16:50] #258 closed

[2019-05-01 13:23] jmilloy commented on #153
This is indeed completed with #244.

[2019-05-01 13:23] #153 closed

[2019-05-01 13:29] jmilloy opened #260 "Datasource types unit tests"
The following Nodes have low test coverage.

 * [ ] PyDAP
 * [ ] Rasterio
 * [ ] H5py
 * [ ] WCS
 * [ ] S3
 * [ ] Dataset
 * [ ] Intake

[2019-05-01 13:31] jmilloy commented on #260
Possibly the PyDAP and S3 Nodes should not count towards coverage. We can use `#pragma: co cover` for these, as in #259, if that is indeed appropriate.

@mlshapiro Feel feel of course to assign this back to me, or do the ones that you feel belong to you and then pass it along to someone else for additional work.

[2019-05-01 14:34] mlshapiro commented on #260
of course - I will see if I can add some of these this week, but I will most likely get to it later. I need to write tests for the intake datalib too.

[2019-05-02 06:33] mlshapiro opened #261 "coordinates.transform() returning dependent coordinates when not expected"
While running through the [Terrain-Tiles.ipynb](https://github.com/creare-com/podpac-examples/blob/develop/notebooks/demos/Terrain-Tiles.ipynb) I'm seeing unexpected results.

I drilled down and it is coming from the datasource coordinates transformation (Terrain Tiles comes back in EPSG:3857).  The native coordinates are a grid of UniformCoordinates1D and the requested coordinates are a grid of U

[2019-05-02 12:16] jmilloy commented on #261
I don't think it works that way, see #251

[2019-05-02 14:49] mlshapiro commented on #261
oh wow, good catch. nice implementation too. So then something is wrong with TerrainTiles - would you mind try to evaluate that notebook? The data is empty -

[2019-05-02 14:49] #261 closed

[2019-05-02 14:55] jmilloy commented on #261
Sure, I'll take a look. I wonder how the interpolator handles DependentCoordinates... may need to convert to StackedCoordinates to calculate and then reshape the results back or something.

The fact that lat and lon had to be the same size was a red flag.

[2019-05-02 15:49] jmilloy opened #262 "Integrate RasterIO node and RotatedCoordinates"
**Description**

The RasterIO node `get_native_coordinates` should be updated to use the new `RotatedCoordinates`.

[code]

[2019-05-03 01:12] mlshapiro commented on #245
I have found issues with:

- SMAP-downscaling-example-application.ipynb --> MPU
- All lambda notebooks (needs updated lambda function - see fix/aws branch
- TerrainTiles - note sure whats going on here, but this shouldn't be a showstopper

I also think we should move the "SMAP" section out the 001-raster, but I haven't gotten around to it. The notebooks are tested and cleaned up.

[2019-05-03 12:37] dsully1992 commented on #245
Great, thanks @mlshapiro

I'm planning to produce an updated Lambda function with the 1.0.0 release. I had started a feature branch for logging/budget reports, so I merged fix/aws into that.

[2019-05-07 20:31] mlshapiro commented on #236
this will rely on a good serialization method for UnitDataArrays (and returns from lambda functions).

I have a few ideas on this and will take this one.

[2019-05-07 20:39] mlshapiro commented on #245
I've checked again for `Earth Data` - it seems to be fixed. Only AWS and downscaling example left.

[2019-05-07 20:42] #193 closed

[2019-05-07 20:45] mlshapiro opened #263 "nightly dev releases"
**Description**

It would be helpful to have a nightly dev release on pip that gets automatically built by CI (i.e. `pip install podpac-dev`)

I found this past demo I wanted to be able to use some of the latest features, but I had to manually install - harder for demo users to do.

Also, this will be helpful when we have help in testing.

[2019-05-08 00:49] mpu-creare opened #264 "UnitsDataArray Documentation"
**Description**
Improve the documentation on the UnitsDataArray and the use of units

**Describe the solution you'd like**
Document what cases are handled for units, and which cases are not.

[2019-05-08 00:53] mpu-creare opened #265 "Operations on the unitsDataArrays strips some of the attributes"
**Description**
A clear and concise description of what the bug is.

**Steps to Reproduce**
[code]

**Expected Behavior**
The metadata should remain even after the addition.

[2019-05-08 11:06] mpu-creare commented on #245
The problem with the ` SMAP-downscaling-example-application.ipynb` notebook was really due to an issue with our WCS server -- we're now apparently saying the TWI has time and has data from the beginning to the end of time... which is not great.

[2019-05-08 15:12] jmilloy opened #266 "Should we allow evaluating non-point Coordinates?"
Evaluating nodes with segment coordinates is a complex and potentially intractible issue. Interpolation from data sources will require weighted averages in a lot of complicated ways. A lot of things would be simplified if we only supported evaluation of nodes with point coordinates. In fact, we could consider removing ctypes (and segment lengths) from underlying Coordinates1d and DependentCoordina

[2019-05-08 18:15] dsully1992 commented on #245
We're all set on the Lambda front. It looks like all notebooks are working, so I'll close this issue.

[2019-05-08 18:15] #245 closed

[2019-05-08 19:21] #247 closed

[2019-05-08 19:54] mpu-creare commented on #245
@mlshapiro @dsully1992 @drc-creare @jbieszcz @jmilloy Nice work team. Release 1.0.0 is out on PyPI, the windows distribution is up, and it's tagged on github.

[2019-05-08 20:49] jmilloy opened #268 "Merge StackedCoordinates and DependentCoordinates"
**Description**

The DependentCoordinates are a generalization of StackedCoordinates that supports N-dimensional stacked coordinate arrays. It is confusing to have both, and also to have both the `lat_lon` and `lat,lon` dimension names.

The DependentCoordinates takes a list of numpy arrays, whereas the StackedCoordinates takes a list of Coordinates1d objects, so that needs to be sorted out as wel

[2019-05-08 20:51] jmilloy commented on #268
@mlshapiro @mpu-creare We've both discussed this at some point.

[2019-05-20 14:33] mpu-creare opened #269 "Create Daymet Data source"

[2019-05-20 14:37] mpu-creare commented on #5
Closing this because it will be handled in #195

[2019-05-20 14:37] #5 closed

[2019-05-20 14:39] mpu-creare commented on #236
We're going to need this for the Drought Monitoring application

[2019-05-20 14:42] mpu-creare opened #270 "Wrap Data from NDMI Node"
**Description**
We need to be able to pull data from here https://droughtmonitor.unl.edu/ to compare to our SMAP version.

* [ ] Figure out how to read and parse the data source
* [ ] Write a PODPAC node to access it (in the datalib)

This might be a good place to start: https://droughtmonitor.unl.edu/Data/DataTables.aspx

[2019-05-20 14:43] mpu-creare commented on #183
I'm assigning this to @drc-creare since it might be related to another project.

[2019-05-20 14:46] mpu-creare opened #271 "Design Front-end for drought-tracker application"
**Description**
Need to implement the front-end viewer for the Drought-monitor.

See spec developed offline (not attached).

Composed of simple plot / line viewer. And then also a national map.

[2019-05-22 19:28] jmilloy opened #272 "code autoformatting"
**Description**
Choose and deploy a code autoformatter.

**Describe the solution you'd like**
Python black (or a different autoformatter), with instructions and possibly configuration for running the autoformatting as a pre-commit hook.

[2019-05-22 19:29] jmilloy commented on #272
You can see a demo of the autoformatting in feature/black.

[2019-05-25 13:56] #62 closed

[2019-06-03 21:05] drc-creare commented on #270
There are a lot of different ways to get at this data. Given what I think we want to do with it, I think the most promising is actually via WMS:

http://ndmc-001.unl.edu:8080/cgi-bin/mapserv.exe?map=/ms4w/apps/usdm/service/usdm_20190528_wms.map&SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&LAYERS=usdm20190528&WIDTH=640&HEIGHT=480&crs=EPSG:3857&styles=default&format=image/png&bbox=-18367715.9809,1689200

[2019-06-03 21:12] drc-creare commented on #270
@mpu-creare Do we already have a WMS Node? If so, perhaps we can use the WMS feed for the NDMI data.

[2019-06-03 21:29] drc-creare commented on #270
It looks like not all dates are valid, but we can use the REST API to retrieve all valid dates for a given year. I think they mention that the REST API is limited to one year at a time:

[code]

[2019-06-04 12:44] mpu-creare commented on #270
This is perfect. We can use the WMS endpoint for the slippy map (leaflet, no PODPAC required), and we can use the REST API endpoint for the line plot -- so we need a node for that.

[2019-06-04 15:14] drc-creare commented on #270
The REST API is an interesting use case for PODPAC. Its clear how time would be represented as native coordinates, location is not as clear. The REST API can be queried by several different area types in order to retrieve statistics for those areas:
* National (US, CONUS, totoal)
* USDA Climate Hub (multi-state groups)
* Regional Drought Early Warning Systems (RDEWS) ID
* coutnies
* state
* U.S. A

[2019-06-04 15:27] drc-creare commented on #270
FCC has an API for retrieving the FIPS county code ofr a lat/lon point:

https://geo.fcc.gov/api/census/

NDMI uses the FIPS code. FCC API TOS states that:

"All services which utilize or access the API should display the following notice prominently within the application: “This product uses the FCC Data API but is not endorsed or certified by the FCC”...."

They dont say what coordinate system t

[2019-06-04 15:45] drc-creare commented on #270
Feature Request: Polygon to Grid interpolation.

[2019-06-05 15:57] mpu-creare commented on #270
I'll take over. Seems like we could do this on the Javascript side pretty easily.

[2019-06-14 12:16] mlshapiro opened #274 "Improve docstring in Compositor docs"
**Description**

Implementing compositors is difficult. The docstring should have simple examples and document each piece that needs to be overwritten.

[2019-06-17 19:11] mpu-creare commented on #194
Maybe we could just have a file_open function in the datasource that handles paths that deal with s3://... just an idea.

[2019-06-17 19:13] mpu-creare commented on #271
Functionality is in. Next step is polishing the look.

[2019-06-17 19:15] mpu-creare commented on #271
Let's ask a designer to make this look good.

[2019-06-17 19:15] mpu-creare commented on #270
We did this in JavaScript, so it's done.

[2019-06-17 19:16] #270 closed

[2019-06-17 19:42] mpu-creare opened #275 "Stage Drought Monitor categories"
Need to stage the drought categories computed using SMAP.

[2019-06-17 19:48] mpu-creare opened #276 "Create Cloud Formation Template to Setup PODPAC AWS"
**Description**
I want to be able to set up AWS in a black-box fashion using PODPAC.

**Sample Code**
[code]

[2019-06-17 19:58] mpu-creare opened #277 "Figure out how to get data through a lambda function from javascript"
We need to be able to do a round-trip javascript request to a lambda function with data coming back.

* [x] Create a rate limited lambda function for the drought-monitor application
* [x] How do we trigger the lambda function?
    * Post a pipeline definition to the s3 bucket -- for now... eventually post directly to the lambda function
* [x] How do we get the data from the lambda function?
    *

[2019-06-18 13:21] mpu-creare commented on #217
I think for most xarray outputs we can just us the arr.to_netcdf() function, and then load using xarray as well. That should be pretty straightforward.

[2019-06-24 20:59] jmilloy commented on #217
@drc @mpu-creare We cannot change the storage format of particular objects because we do not have "1 file = 1 hashed object". I think this was done to handle the (unlikely) case of clashing hash keys, and I think it is over-engineered. I have a few ideas about how to implement this, but I'm not sure if I should go ahead without discussing it with you guys. Maybe you have a better idea.

1. Simplif

[2019-06-24 21:05] jmilloy commented on #217
The common idea for all of the above solutions is that there is a single file for each object that can be formated as desired given the type of the object. Maybe I am overlooking something about HDF5 that makes it easy to store multiple objects of various types in a dictionary using the "listing", or something like that.

[2019-06-24 21:19] jmilloy commented on #217
@drc-creare and I are leaning towards option 2, noting that the metadata could alse be the most useful way to implement active cache management (e.g. storing last access time, number of accesses, etc) and maybe also to implement accessing partially cached results from overlapping regions. We're not going to implement either of those now, but that helpef tipped the scales in that direction.

@mpu-c

[2019-06-25 11:06] mpu-creare commented on #217
It sounds like  you and @drc-creare came to a consensus. I like the metadata design, but we don't have to implement that right now.

Incidentally, hdf5 let's you do almost anything you want. You could have multiple 'data' keys with multiple 'coordinates' keys, for example... so you could have 1 file for 2 objects with the same hash.

[2019-06-27 13:03] jmilloy commented on #275
@mpu-creare Can I help out with this? What do I need to know?

[2019-06-27 13:39] mpu-creare commented on #275
I just sent you an email, let me know if you have questions.

[2019-07-01 19:06] #237 closed

[2019-07-01 20:28] jmilloy opened #280 "Cannot evaluate DependentCoordinates"
**Steps to Reproduce**

[code]

**Expected Behavior**

The node should evaluate to `[0, 1, 2]`.

**Observed Behavior**

[code]

**Additional Notes**

There may be additional issues, especially if an `output` is provided to `node.eval`, due to the fact that the coordinates dims and the output dims don't match. I was initially testing to see if the `node_eval` wrapper needed to be updated to use `id

[2019-07-01 20:35] jmilloy commented on #280
It looks like there are also (different) issues with native_coordinates with DependentCoordinates:

[code]

[2019-07-03 13:05] mpu-creare commented on #217
Closed by #278

[2019-07-03 13:05] #217 closed

[2019-07-03 14:13] jmilloy opened #281 "Replace boto3 usage with s3fs in S3CacheStore"
s3fs wraps boto3, providing a simpler interface. We could use an `s3fs.S3FileSystem`,  which is similar to the builtin `os` interface and would allow us to simplify (and in many cases, remove) the file storage abstraction methods. Or we could consider using an `s3fs.S3Map`, which may further eliminate the distinction between local and S3 file caching.

[2019-07-03 14:23] jmilloy commented on #194
With s3fs, it is even easier to generalize so that `s3://` paths and local paths are just two simple cases of the same node. I think s3fs is simple enough that if we need to implement those two cases in more than one place (e.g. `Rasterio`, `H5PY`, and `CSV`) that would be okay, even preferable, as each one may need to handle loading S3 data in slightly different ways.

[2019-07-03 14:38] jmilloy commented on #194
I think we should also have a conversation about whether datasource `types` are based on the data *format* or the data *storage*. It is incongruous to me that we have format-based datasources such as `Rasterio` and `H5PY` alongside a storage-based datasources such as `S3`. Basically, I would remove the `S3` node.

Still thinking out loud. `Array` node and `Dataset` node are both clearly format-bas

[2019-07-03 14:49] mpu-creare commented on #194
Yes, we do want to remove the `S3` datasource if we can just specify sources as `s3://` etc. I would much prefer that.

`ReprojectedSource` has always been a little odd... it's really an algorithm node but it uses the `DataSource` machinery. Similarly, the `TimeInterpolationCompositor` (which we still have to write) is a compositor but uses `DataSource` machinery. I think there must be a better de

[2019-07-03 16:30] jmilloy commented on #194
@mpu-creare Can you tell me what an `s3://` source should look like? You could use the podpac-internal-test bucket and drought_parameters.zarr path as the example. Is `s3://podpac-internal-test/drought_parameters.zarr` sufficient (with the `AWS_REGION_NAME` setting for the region)?

[2019-07-03 16:36] mpu-creare commented on #194
Yes, that should suffice. That matches what rasterio does, e.g: https://rasterio.readthedocs.io/en/stable/topics/switch.html?highlight=S3#dataset-identifiers  https://rasterio.readthedocs.io/en/stable/topics/vsi.html

[2019-07-03 18:13] mpu-creare opened #283 "TerrainTiles is broken on develop"
**Description**
When I run the https://github.com/creare-com/podpac-examples/blob/develop/notebooks/developer/demos-dev/Terrain-Tiles.ipynb notebook, I get a nan output

**Observed Behavior**
I did some digging, seems like there's a lat-lon mixup somewhere in the coordinates transform function, in https://github.com/creare-com/podpac/blob/develop/podpac/core/data/datasource.py#L344:

[code]
As you

[2019-07-03 18:39] mpu-creare commented on #283
Looks like the error might be in terraintails and not coordinates? That would be encouraging!

[2019-07-03 19:54] mlshapiro commented on #194
I completely agree that DataSource types should be *format* based. We all agree the S3 DataSource should be removed.

I think the ReprojectedDataSource is really just a datasource with `DependentCoordinates`, so it would make sense to spec/improve the `DendentCoordinates` and remove `ReprojectedDataSource`, or if we want, have a `Reproject` algorithm.

The harder cases are `WCS` (or  `EGI` for tha

[2019-07-03 20:45] mlshapiro opened #284 "add `NodeTrait` to top level imports"
[code]

[2019-07-03 20:48] #284 closed

[2019-07-04 13:11] jmilloy opened #285 "Remove S3 DataSource"
The DataSource nodes should be format-based. We are integrating S3 file access into the appropriate DataSource nodes, and we should remove the S3 node when we can.

See also #194

[2019-07-08 17:37] mlshapiro opened #286 "Method/Utility to clear cache"
**Description**

We should add a small method to automatically clear the cache given the current podpac settings.

**Describe the solution you'd like**

A top level method that will clear the cache

**Sample Code**
[code]

[2019-07-08 17:59] jmilloy commented on #286
I agree, sounds like a good thing to have in the public api.

Should be a two liner, I think

[code]

[2019-07-09 13:36] mlshapiro commented on #194
I have to update TerrainTiles and will change to use s3fs

[2019-07-10 14:25] mpu-creare opened #287 "Clean up Pipeline Outputs"
**Description**
I think it is strange that Pipeline nodes automatically write out output. I propose we remove this feature from pipeline nodes. I believe caching takes care of most of the functionality that this provided.

**Describe the solution you'd like**
Instead, users can convert node outputs to whatever they like on the Python side using the node_output.to_* functions provided by `xarray`.

[2019-07-10 18:47] jmilloy commented on #287
I agree, I like the explicit output methods.

1. What does a Pipeline node do, then? It sounds like we should just expose the method that parses a pipeline definition. I don't see any need to have a Pipeline as a wrapper anymore.

[code]

    Might as well cut out the pipeline:

[code]

2. I want to caution you again from conflating caching with output. Caching *uses* some kind of output / storage

[2019-07-10 18:58] jmilloy commented on #287
I would implement the following classmethods:
 * `Node.from_definition(<dict>)`
 * `Node.from_json(<str>)` (which wraps from_definition)
 * `Node.load(<path)>` (which wraps from_json)

plus the following normal method:
 * `Node.save(<path>)`

Alternatively, we could use utility functions if you prefer:
 * `podpac.node.from_definition(<str>)`
 * `podpac.node.from_json(<str>)`
 * `podpac.node.load(<

[2019-07-10 19:00] mpu-creare commented on #287
Interesting. One of the jobs of the pipeline node was to manage execution (i.e. for parallel jobs), but that has now been pushed on the `managers` module, of which `Lambda` is the only member.

I agree with your proposal @jmilloy -- I think we can completely eliminate the pipelines and the class methods will serve the require purpose. It also unifies what we did for coordinates.

[2019-07-11 11:05] mpu-creare commented on #287
It occurs to me that this would be backwards incompatible, so we'll have to bump a major version with this change...

[2019-07-11 13:17] jmilloy commented on #287
I can implement the node classmethods without removing the Pipeline, and we can remove the Pipeline when we're actually ready to release 2.0.

[2019-07-11 13:20] mpu-creare commented on #287
That's awesome! Great point.

[2019-07-11 13:38] jmilloy opened #288 "zarr is required to import podpac"
**Description**
The `Zarr` DataSource has a `group` trait that is an instance of `zarr.Group`, so the optional zarr library is actually required when importing podpac.core.data.types and, therefore, podpac. It should only raise the exception when the zarr datasource is used.

**Steps to Reproduce**

[code]

**Expected Behavior**

 * The import should succeed.
 * Instantiating the Zarr node should

[2019-07-11 13:39] jmilloy commented on #288
@mpu-creare @mlshapiro Do either of you know a good way to solve this issue? I don't really know how to use `ForwardDeclaredInstance` -- maybe I am using it incorrectly or maybe it is incompatible with lazy_import? Or is the `tl.Any()` workaround the best way?

[2019-07-11 13:40] mlshapiro opened #289 "Explain Mercator transformation and dimensions"
**Description**

When we transform from EPSG:4326 (lat, lon) to EPSG:3857 (Mercator, x, y) the "lat" label stores "x" values and the "lon" label stores the "y" values.  Intuitively I see the "x" being "lon" values and the "y" the "lat" values.

@mpu-creare also noticed the transformed coordinates change shape.

**Steps to Reproduce**
[code]

**Expected Behavior**
[code]

cm['lat'] == "y" values in

[2019-07-11 13:46] jmilloy commented on #289
I think shape issue is here:

[code]

It should possibly be something like this:

[code]

[2019-07-11 13:47] mpu-creare commented on #288
You may have to:
[code]

or you can also try:

[code]

[2019-07-11 13:50] mpu-creare commented on #289
Perhaps we want:
[code]
and perhaps the order of the inputs also need reversing... ?

[2019-07-11 13:59] jmilloy commented on #288
Thanks. I had to use lazy_class and a ForwardDeclaredInstance with quotes.

[code]

[2019-07-11 13:59] #288 closed

[2019-07-11 14:04] jmilloy commented on #289
Okay, `indexing='ij'` works to fix the shape, too.

[code]

[2019-07-11 14:17] jmilloy commented on #289
I think the issue is that *some* transformations may need to switch the order, but not all. The relevant code is in `DependentCoordinates._transform`:

[code]

When transform 4326 to 3857, really `tlat` is mercator x-values and `tlon` is mercator y-values, and would be more intuitively be swapped. If you swap them, then the transformed coordinates indeed match intuition and use `'lat'` for y-value

[2019-07-11 14:29] jmilloy commented on #289
So yeah, we can inspect the `pyproj.CRS` object and deal with it automatically a few ways by looking at the Axis Info.
 * I think ellipsoid is what I called "normal" above, and cartesian is "swapped". I'm not sure if that generalizes to other projections or not, but I would bet so.
 * Alternatively, if it uses Lat and Lon we call it "normal", X and Y we call it "swapped", and anything else may nee

[2019-07-11 14:35] mlshapiro commented on #289
Great - I will implement the shape fix:

[code]

As for the ordering, its all right there in the `PROJ4` documentation: https://proj.org/faq.html#why-is-the-axis-ordering-in-proj-not-consistent . I need to read through this and then I'll comment on the implementation

[2019-07-11 14:38] mlshapiro commented on #289
The relevant section may be:

[2019-07-11 14:51] mlshapiro commented on #289
I think this can be fixed pretty simply using the from_proj parameter `always_xy`. Working now.

[2019-07-11 14:59] jmilloy commented on #289
Very cool, pyproj is a good library.

[2019-07-11 15:00] mlshapiro commented on #289
This worked, pushing to a branch - @jxm would you be willing to review quickly?

This will have some unforseen consequences for datalibs that used x/y backwards. Noteable we need to reverse EGI

[2019-07-11 15:03] jmilloy commented on #289
Yeah, go ahead and assign me the PR when it is ready. Do you have time to include a test for the always_xy change and a test for the shape issue that you already pushed? Let me know if you want me to do those tests.