[2019-07-11 15:04] mlshapiro commented on #289
I will have time to fix the tests in an hour

[2019-07-11 15:31] mlshapiro commented on #289
Fixed in #290

[2019-07-11 15:31] #289 closed

[2019-07-11 16:14] mlshapiro commented on #283
fixed in 8ffa2f201391b7aa7d3ba4da5ae7cb396fbd5610

[2019-07-11 16:14] #283 closed

[2019-07-16 20:07] jmilloy commented on #272
@mpu-creare @mlshapiro

I've added a pre-commit hook for python-black. I can have the setup.py file install the hook automatically (for develop mode only) or I can add a line in the developer docs about installing the hook manually. Which do you prefer?

[2019-07-17 18:24] mpu-creare opened #293 "Cache coordinates for a datasource should depend only on the native_coordinates.dims"
**Description**
Right now if I cache a node with only lat-lon coordinates, but I use a lat-lon-time request, every new time will cache a new object.

**Describe the solution you'd like**
For datasources, the node should be cached based on only coordinate dimensions that are a part of the native coordinates

**Sample Code**
[code]

[2019-07-17 18:25] mpu-creare commented on #293
@drc-creare @jmilloy does this make sense to do? Any reservations?

[2019-07-17 18:52] jmilloy commented on #293
Yes, this makes sense.

I think we could do this in the `node_eval` decorator. We already massage the coordinates there to be order agnostic by sorting the dims, so we would just also omit extra dims at that point. Not all nodes have `native_coordinates`, so I would add an additional `find_dims` method that is like `find_coordinates` but only for dims.

Another option would be to move both of thes

[2019-07-17 19:00] mpu-creare commented on #293
I think it makes sense to do it in the Node?
* If you go deeper in the cache you lose a lot of function in the node that can help with the standardization.
* It should apply to *all* cache calls, so it doesn't belong in the wrapper

I don't think we need the flag -- once we have a use-case that needs this type of flexibility, we can implement it then.

Do you want to take a crack at it?

[2019-07-17 19:02] jmilloy commented on #293
Yep, no problem. I think it makes sense in the Node as well (though the node object just gets passed down into the store, so everything is still available).

[2019-07-17 20:44] #272 closed

[2019-07-17 22:01] mlshapiro commented on #285
complete in #294

[2019-07-17 22:01] #285 closed

[2019-07-17 22:35] mlshapiro opened #295 "Revisit stability message"
**Description**

We are getting closer to being more "stable." We should perhaps update the stability message in the README and the documentation

https://github.com/creare-com/podpac#stability--maturity

**Describe the solution you'd like**

- Quick design review of any necessary or potential API changes in v1.1, 1.2, 1.3
- Update the messages in the documentation

[2019-07-17 22:40] #286 closed

[2019-07-18 22:40] mpu-creare opened #297 "Harmonize __repr__ for nodes"
**Description**
Right now some of our nodes have a nice __repr__, but really we should have a default one

[2019-07-19 13:57] jmilloy commented on #281
Prefer fsspec to s3fs: https://github.com/martindurant/filesystem_spec

[2019-07-19 13:58] jmilloy commented on #194
potentially prefer https://github.com/martindurant/filesystem_spec to s3fs

[2019-07-19 14:13] jmilloy commented on #266
@mpu-creare Just wanted to bring this back to your attention re: segment lengths.

I'm still in favor of specifying `ctype` and `segment_lengths` alongside `native_coordinates` in datasources. Coordinates would not have segment information. Users will just specify the points they want to get data for, and when a user wants to do averages over regions they will just use the reduce algorithms.

I th

[2019-07-25 13:45] #277 closed

[2019-07-25 13:46] #275 closed

[2019-07-25 13:46] #271 closed

[2019-07-25 13:52] dsully1992 commented on #203
I misunderstood this initially. The intent here is to test recreating a node from JSON.

i.e.:
1. Create Node
2. Export to JSON
3. Create Node from JSON
4. Assert 1 and 3 match

[2019-07-25 14:03] dsully1992 commented on #184
Let's start by reevaluating our options. We should consider leveraging the power of AWS's budgeting tools, which would actually prevent charges outside of certain constraints. We could document this, or create some tool/wrapper in PODPAC to manage those settings.

- [ ]  (DSullivan) Make a PowerPoint describing AWS budgeting options
  - Note: these options span basic cost reporting all the way to

[2019-07-25 14:04] dsully1992 commented on #209
We just want an easier way to view logs from our AWS Lambda functions.

[2019-07-25 14:08] dsullivan-creare opened #298 "Use CloudFormation to create PODPAC Lambda function"
We may want to use CloudFormation or something like it to create PODPAC Lambda functions.

[2019-07-25 14:10] dsullivan-creare opened #299 "Move settings.json out of Lambda function"
How do we want to do this?

- Send settings in input JSON? (S3 file/API Gateway)

[2019-07-25 18:24] mpu-creare commented on #276
I thought I had an issue for this!

[2019-07-31 16:26] mpu-creare opened #301 "Multi-Index in xarray data arrays"
**Description**
I'm running the 010-retrieving-SMAP-Data.ipynb and I'm getting an error when I try to cache outputs.
`NotImplementedError: variable 'lat_lon' is a MultiIndex, which cannot yet be serialized to netCDF files (https://github.com/pydata/xarray/issues/1077). Use reset_index() to convert MultiIndex levels into coordinate variables instead.`

**Steps to Reproduce**
[code]

**Expected Beha

[2019-07-31 17:00] mpu-creare opened #302 "BUG: Intake catalog example has an issue with the time"
**Description**
Running https://github.com/creare-com/podpac-examples/blob/master/notebooks/demos/intake.ipynb I see the time goes from 1950 to 2099 -- this is probably a mistake, so the time is not being parsed correctly for this example.

@mlshapiro can you have a quick look?

[2019-08-08 20:46] jmilloy commented on #301
I looked into this a little bit.

We are using a multi-index for `StackedCoordinates`, but a multi-index cannot be serialized to netcdf. In fact, the [xarray docs](http://xarray.pydata.org/en/stable/reshaping.html#set-and-reset-index) say that the primary use for `reset_index` is serialization.

One solution here would be to drop the multi-indexes altogether. Another would be to `reset_index` befo

[2019-08-12 14:01] mpu-creare commented on #301
I didn't realize that the multi-index continued to provide indexing functionality not otherwise available. In that case, I prefer to keep the multi-index as it is.

For the latest release I used the `reset_index` call before serializing, so that works fine. I did not add the `set_index` when deserializing, so I'll create an issue for that.

Thanks for looking into it @jmilloy. Closing!

[2019-08-12 14:01] #301 closed

[2019-08-12 14:02] mpu-creare opened #303 "Need to properly deserialize multi-indexed UnitsDataArray objects"
see #301

[2019-08-12 19:20] #274 closed

[2019-08-12 19:26] #134 closed

[2019-08-12 19:30] #214 closed

[2019-08-12 19:32] #263 closed

[2019-08-12 19:34] #204 closed

[2019-08-12 19:40] jmilloy opened #304 "Remove deprecated Pipeline node"
* `podpac/core/pipeline` submodule.
 * `Node.pipeline` property
 * `doc/source/user/pipelines.md`

[2019-08-12 19:46] mpu-creare opened #305 "ENH: Allow Nodes to return multiple channels of data"
**Description**
Right now I can't fit a time series as a beta distrubtion and return both the alpha and beta parameters. I also cannot load a hyperspectral datasource and have all the channels available.

* Turn off the checks for the 'data' dimension on xarray outputs
* Handle any `from_xarray` calls
* any other tricky points? Where UnitsData Array is used as an input

[2019-08-12 19:47] jmilloy commented on #305
Proposal: add a dimension to the output UnitsDataArray. Some methods that take unitsdataarray inputs (e.g. from_xarray) will need to be updated. Use Node attrs to select a subset of channels.

[2019-08-12 19:50] jmilloy commented on #238
@mpu-creare I still want to address the bug aspect of this, even if we don't implement it.

[2019-09-09 19:22] mpu-creare opened #307 "ENH: Whitelist pipelines for public-facing lambda functions"
**Description**
With a public facing website, you want to limit the generality of the lambda so that a nefarious grad student doesn't use your public function to do huge computations at your expense.

**Describe the solution you'd like**
Include a `whitelist.json` file to the lambda function distribution that specifies specifically what pipelines are allowed to fun in that function. (potentially u

[2019-09-10 13:40] mpu-creare opened #308 "DOC: Fix Installation page link"
From https://podpac.org/install.html the bottom of the page has the following where I believe the `\[[1](#a1)\]` should be a link? :
[code]

[2019-09-17 19:51] mpu-creare commented on #287
Adding a note: The `from_definition` should handle styles as well -- this should be relatively trivial since style already has the needed functionality.

[2019-09-19 16:15] jmilloy commented on #287
* [x] Implement `Node.from_definition`, etc.
 * [x] Deprecate `Pipeline`
 * [x] Convert `Pipeline` usage to `Node.from_definition` usage in podpac.
 * [ ] Convert `Pipeline` usage to `Node.from_definition` usage in podpac-examples.
 * [ ] Node style serialization/deserialization

[2019-09-19 18:12] jmilloy commented on #304
See PR #311

[2019-09-19 18:12] #304 closed

[2019-09-23 19:34] mpu-creare opened #312 "ENH: Add multithreading to Algorithm Node"
**Description**
We want algorithms nodes to evaluate their inputs in parallel (multi-threaded) so that we don't have to wait for latency from S3 for all nodes in serial.

**Describe the solution you'd like**

Use an implementation similar to the Compositor nodes. Need to wait for all evaluated nodes to return before continuing with the algorithm part...

**Additional context**
This is critical to

[2019-09-23 19:37] jmilloy commented on #312
What is the fastest way I can reproduce this? I think I can implement this without using AWS, but I would prefer to test with the Drought Monitor node that is slow so I can see if I have succeeded or not.

[2019-09-24 16:51] jmilloy commented on #312
I will consider adding a `MultithreadedNodeMixin` that factors out iteroutputs, but it may be that the requirements for Algorithms are sufficiently simpler that having an algorithm-specific method makes more sense.

[2019-09-27 18:31] jmilloy commented on #111
See #315

[2019-09-27 20:58] jmilloy opened #316 "proj4 +init syntax is deprecated"
**Description**
I don't entirely follow this, but it appears that the `+init` syntax is deprecated.

See
 * https://github.com/pyproj4/pyproj/issues/355
 * http://pyproj4.github.io/pyproj/stable/gotchas.html#init-auth-auth-code-should-be-replaced-with-auth-auth-code

**Steps to Reproduce**

The coordinates tests `test_crs`, `test_alt_units`, and `test_ne_hash_alt_units` use the `+init` syntax, for

[2019-09-27 20:59] jmilloy commented on #316
In the meantime, I'm going to add a filter for this warning in our tests.

[2019-10-09 18:10] dsullivan-creare opened #318 "AWS Lambda function "easy button""
We want a single script to build a lambda function. It will likely prompt the user for a few pieces of information (aws credentials? etc.)

[2019-10-09 18:17] dsullivan-creare opened #319 "AWS Lamda update documentation to create PODPAC lambda function"
For example, include documentation on installation of docker. This will be impacted by #318

[2019-10-09 18:19] dsullivan-creare commented on #298
This may be obsolete/duplicate of #318. I'm not positive we are going to use CloudFormation, but the same functionality ("easy button" lambda function creation) should be accomplished.

[2019-10-23 19:52] mpu-creare opened #320 "Interpolation Specification no JSON serializable"
**Description**
When I try to specify different interpolation methods for different dimensions, I get an error:

[code]

**Steps to Reproduce**
[code]
The problem is that tuple keys are not JSON-serializable.

**Proposed Fix**
Let's change the specification to something like this instead:

[code]
That is, interpolation can now be a `str`, `dict`, or `list` of `dicts`.

[2019-10-25 17:11] mpu-creare opened #321 "BUG: Cache warning is out of date ."
**Description**

[code]

[2019-10-27 18:50] mlshapiro opened #322 "BUG?: ModuleNotFoundError: No module named 'pre_commit'"
**Description**

My local development environment was out of date for my branch, so I ran `pip install -e .[devall]`. I encountered the following error:

[code]

The notable piece is:

[code]

I have `pre-commit` installed and checked a few things (confirmed environment, etc), but I can't seem to figure out whats going on.

For now, I commented out the section of `setup.py` that installs the preco

[2019-10-30 19:44] #321 closed

[2019-10-31 15:23] mpu-creare opened #324 "Test Podpac_example notebooks for 1.2 release"
**Description**
NOTE: This is waiting on the release branch for 1.2 to be created.

We need to ensure that the example notebooks are up to date and run without error on the 1.2 release.

Please check a notebook (or two or three... etc.) and check it off when you confirmed it runs through without errors. Also make any modifications needed.

The list of available notebooks are as follows:
* [x] Intr

[2019-10-31 19:51] mpu-creare commented on #322
I had the same problem on ubuntu on my home computer recently. I did a little debugging and didn't get anywhere. When I do `pre-commit install` from the commandline it works fine, but `subprocess.check_call` doesn't seem to work.

[2019-11-01 10:37] mlshapiro commented on #322
great i'll commit my quick fix so that it doesn't stop others. If the pre-commit doesn't work its not the end of the world, though it could make merging harder. We have the python black commands so we can always pre-process branches before merging

[2019-11-01 10:55] #322 closed

[2019-11-01 13:48] jmilloy commented on #322
I just created a new pip environment and ran `pip install -e .[devall]` without any problems. The `pre-commit` script runs from the command line and from `subprocess.check_call`, and I can `import pre_commit`. (It is apparently also working in our CI, right?

What is the "quick fix"? Can you put it in a `try ... except ...` instead of commenting it out, so that it still works for people without pr

[2019-11-01 14:02] jmilloy opened #327 "Python 3.8"
Python 3.8 is out.
 - [x] setup/installation
 - [x] tests
 - [x] TravisCI

[2019-11-01 14:02] mpu-creare commented on #327
Sure, give it a go. I was planning to do the same thing.

[2019-11-01 14:05] jmilloy commented on #322
@mlshapiro I notice that you are on conda. @mpu-creare Are you also? Is this something that works in venv or virtualenv environments, but maybe not conda environments?

Can you `import pre_commit` in a python shell?

[2019-11-01 14:08] mpu-creare commented on #322
I was also working in Conda at home.

[2019-11-01 14:08] jmilloy commented on #327
I just noticed that python 2.7 is no longer tested. Have we dropped support for Python 2? That would be awesome, and I would love to take a pass and clean some things up if that's the case.

[2019-11-01 14:21] mpu-creare commented on #327
Unfortunately not. I would also love to drop support for Python 2.7, and I'm going to start making a serious case for it soon.

Right now it's dropped because the 2.7 version of rasterio 1.x.x is segfaulting, causing the unit tests to fail. See 61714ce3a655a6647fa69bd7dbe8898157741d32

[2019-11-01 14:25] jmilloy commented on #322
Oh, sorry, it already has a try except, just needs another except case for this pre_commit import problem (or a more general except clause).

[2019-11-01 14:29] jmilloy commented on #327
There is an issue with pyproj when using python 3.8.

See https://stackoverflow.com/questions/55084003/pyproj-package-installation-proj-dir-variable

I tried reverting to pyproj 1.9.6, which is suggested in numerous places, without success.

I moved this to the next release. Can someone more familiar with pyproj figure this out? I assigned @mlshapiro for this reason, but feel free to shoot it back

[2019-11-01 19:02] #320 closed

[2019-11-01 19:27] mlshapiro commented on #276
This is complete with the `podpac.managers.aws.Lambda` node

[2019-11-01 19:27] #276 closed

[2019-11-01 19:28] mlshapiro commented on #298
This is complete with #318

[2019-11-01 19:28] #298 closed

[2019-11-01 20:51] #308 closed

[2019-11-01 21:00] #295 closed

[2019-11-04 13:44] jmilloy commented on #327
3.8 is new enough that there aren't precompiled binaries for a lot of libraries. The PROJ_DIR issue comes up because pip is trying to install pyproj from source. This will work itself out before long. We'll make sure to add it before the next release.

[2019-11-05 12:30] mpu-creare commented on #324
The SMAP_EGI notebook sorta works, although the level 4 data returns all nans?

[2019-11-05 13:36] mpu-creare commented on #324
@mlshapiro  in the TerrainTiles notebook, the `terraintiles.get_tile_urls` seems to be broken, we should discuss.

[2019-11-05 14:02] mpu-creare commented on #324
@mlshapiro Interpolation.ipynb is still broken for the last example.
[code]

[2019-11-06 18:08] jmilloy commented on #287
Let's make a new issue specifically to migrate the podpac-examples to use Node.from_definition instead of Pipelines.

[2019-11-06 18:08] #287 closed

[2019-11-06 18:09] mpu-creare commented on #287
I think i've already done this while going through the notebook. :)

[2019-11-06 18:10] jmilloy opened #330 "Update podpac-examples to use Node.from_definition"
**Description**
Pipelines have been deprecated and will be removed in podpac 2.0. The podpac-example notebooks should be updated to use Node.from_definition instead.

[2019-11-06 18:10] jmilloy commented on #287
Oh, great! Thanks!

[2019-11-06 18:10] jmilloy commented on #330
@mpu-creare already did this.

[2019-11-06 18:10] #330 closed

[2019-11-06 19:42] mpu-creare commented on #324
SMAP-widget-data-access.ipynb is note quite working. It's also quite slow. I think something must have changed in ipywidgets. We'll have to revisit this sometime, but I think focusing on the drought monitor application is likely more fruitful.

Closing this. Thanks for the help everyone, especially Marc!

[2019-11-06 19:42] #324 closed

[2019-11-07 20:43] mlshapiro commented on #318
Closed as of #326

[2019-11-07 20:43] #318 closed

[2019-11-07 20:46] mlshapiro opened #333 "DOC: update changelog"
**Description**

We haven't updated the changelog recently. Instead, we are documenting changes on Github Releases.

**Expected Behavior**

I'd expect the CHANGELOG.md to be the primary source for changes. The Github releases is a summary of the CHANGELOG for that release.

**Observed Behavior**

CHANGELOG is out of date.

[2019-11-12 21:41] mpu-creare opened #335 "DOC: AMS SC Raster reading notebook -- add slide on HDF5 files"
Need to add a slide on what's and HDF5 file. https://github.com/creare-com/podpac-examples/blob/develop/notebooks/ams-short-course/02-1-open-raster-file.ipynb

[2019-11-13 18:13] mlshapiro opened #337 "CHORE: remove create_dataarray() from units module in 2.0"
**Description**

`create_dataarray()` is deprecated in podpac 2.0 by #334. Remove references and tests when we release 2.0

**Describe the solution you'd like**

- [x] remove test in `test_units.py`
- [x] remove reference in `units.py`

[2019-11-13 18:31] mlshapiro commented on #316
this looks as simple as removing "+init" from the prefix in our examples. I will update and require pyproj > 2.4 in the setup and run through the examples.

[2019-11-13 19:08] jmilloy commented on #337
@mlshapiro There is a release/2.0 branch with another deprecation removed already. I did that so that we can close out these kinds of issues.

[2019-11-13 19:38] #316 closed

[2019-11-13 19:42] mlshapiro commented on #316
We can still use proj strings, you just can't start from a default crs in the same line (i.e. "epsg:2193 +vunits=ft"). You can now either specify a single standard code (`crs="epsg:2193`") or a single proj4 string (`crs="+proj=merc +vunits=ft"`).

Note it sounds like proj4 strings can be loss-y, so internally we probably want to start using `wkt2` (`pyproj.CRS.to_wkt()`)  when we are making string

[2019-11-13 19:51] mlshapiro commented on #299
closed with #336

[2019-11-13 19:51] #299 closed

[2019-11-13 19:52] mlshapiro commented on #307
I think we should do this in the settings file like we handle unsafe_eval_exec

[2019-11-13 20:24] mlshapiro commented on #307
Implemented in 15398c4ab0060ccff78cc0877406c2d74423a847. See #336

[2019-11-13 20:24] #307 closed

[2019-11-14 18:39] mlshapiro commented on #337
ah this is a super good idea.  How do you want to manage this? Should we continue to merge develop into release/2.0 as we finish features and resolve the changes?

[2019-11-14 19:13] jmilloy commented on #337
Yeah, I think it's a good idea to merge in develop from time to time.

[2019-11-15 19:07] mpu-creare opened #339 "ENH: Improve stacked coordinate interface"
We should add the option to do the following:

[code]
Instead, we currently have:
[code]

[2019-11-15 19:24] mlshapiro opened #340 "ENH/BUG: Raise warning when interpolation params are ignored"
**Description**

Currently, some interpolation params will be ignored if the Interpolator doesn't support them.

**Describe the solution you'd like**

Raise a warning if interpolation params are defined, but the interpolator being used doesn't use them.

**Additional context**

This will be dependent on keeping the Interpolators up to date with the params they support.

[2019-11-15 20:09] mlshapiro opened #341 "BUG: Compositor attribute "source" is potentially confusing"
**Description**

`OrderedCompositor(source="some random name")` - what does source mean? `sources` is the  important keyword here.

If `source` is actually critical, then we should document what this needs to be, but

[2019-11-18 20:38] mpu-creare opened #342 "ENH: Keep track of create AWS resources"
We want to keep track of each of the AWS resources automatically created.

We also want to automagically name every new resource with a new name.

[2019-11-20 20:27] mpu-creare commented on #312
I'm taking this on as I need to have it  done and have time to work on it right now. 😄

[2019-11-21 14:58] mpu-creare commented on #312
started here: ce8be10949856637108b1339bfc8f97e4011b62d

[2019-11-25 14:15] #312 closed

[2019-12-02 21:59] mpu-creare opened #345 "DOC: Working with times"
We need a workshop/example on working with times.

[2019-12-03 14:01] #111 closed

[2019-12-03 14:03] #100 closed

[2019-12-14 16:29] jmilloy commented on #339
We use `lat_lon` for StackedCoordinates and `lat,lon` for DependentCoordinates. Eventually, these should be merged into a single class (see #268). For now, I am choosing that `dims=[['lat', 'lon'], 'time]` means StackedCoordinates. I don't think that will be a problem.

[2019-12-14 16:42] #339 closed

[2019-12-14 17:42] jmilloy opened #346 ""You will likely lose important projection information" when using using alt_units"
**Description**

The `set_vunits` coordinates utility function triggers a pyproj warning about losing information with some versions of pyproj. The Coordinates `alt_units` requires this function.

**Steps to Reproduce**

Using python 3.8 and pyproj 2.4.2:

[code]

You can also run the tests in `test_coordinates_utils.py::test_set_vunits` and many others.

**Observed Behavior**

[code]

This occurs

[2019-12-14 18:45] jmilloy commented on #346
@mlshapiro I think this is a case where the solution will be easy to implement, but choosing the correct one takes more familiarity with pyproj than I have.

I think the user will see this warning when they use `alt_units`. So in a way the problem is created because we are trying to support `alt_units` alongside `crs` strings, and the way have implemented that uses `proj4` strings, which are lossy

[2019-12-14 18:48] jmilloy commented on #346
(Note: I originally marked this as fixes-and-maintenance because I thought the fix might just be in ignoring the warnings in our tests, but upon further investigation, I think it is likely an acual problem in our `alt_units` handling that we should address, so I "escalated" to a bug.)

[2019-12-14 20:42] jmilloy opened #347 "coveralls is not working for python 3.5 or 3.8"
The 3.5 and 3.8 jobs on TravisCI are failing because of the following error running `coveralls`:

[code]

The error is the same in the python3.8 job.

Locally, I can `from coverage.report import Reporter` just fine in both python3.5 and python3.8 environments, so I'm not sure what's going on or how to really debug it.

[2019-12-14 20:53] jmilloy commented on #327
I've added this to TravisCI, and tests are passing, but there is a problem with coveralls that still needs to be sorted out #347

[2019-12-14 20:53] #327 closed

[2019-12-16 14:55] mpu-creare commented on #339
see 84019ab737cb9c76a11ee598f21dccc8fe10c6cd

[2019-12-18 17:52] jmilloy opened #349 "Cannot include dictionary code examples in docstrings when using @common_doc?"
**Description**
Including brackets in docstrings for dictionary code examples causes an exception when `@common_doc` tries to format the docstring.

**Steps to Reproduce**
[code]

**Expected Behavior**
The `native_coordinates` attribute description should be filled.

**Observed Behavior**

[code]

Alternatively, if the dictionary in the docstring is `e.g. ``{key: value}`` `:

[code]

**Additional

[2019-12-18 17:54] jmilloy commented on #349
I think the solution is to switch to Templates (and possibly to use `safe_substitute`, but I'm not sure that's necessary).

[code]

@mpu-creare Is it worth doing that? I estimate an hour or two. Any drawbacks?

[2019-12-18 18:13] mpu-creare commented on #349
You escape curly braces with a double brace.

[code]
gives
[code]

[2019-12-18 18:49] jmilloy commented on #349
Okay, thanks.

[2019-12-18 18:49] #349 closed

[2019-12-22 18:52] bannsec commented on #347
My tests are failing with this error with Python 3.6 as well.

[2019-12-24 16:57] mlshapiro commented on #346
@jmilloy digging into this a little more. I think we should remove `alt_units`. It doesn't really fit into proj6 paradigm, and it would simplify our lives. I will create a PR

[2019-12-24 17:17] mlshapiro commented on #342
@mpu-creare we should discuss in early Jan what you mean by this

[2019-12-24 18:25] mlshapiro commented on #346
this is a little tough since vertical units are not really (and actively stripped out) from the standard crs projections. See PR #350

[2019-12-24 18:25] #346 closed

[2019-12-27 20:02] jmilloy opened #351 "How is Compositor.select_sources supposed to work?"
I'm working on multiple-outputs support for the Compositor, and updating the tests.

What is `select_sources` supposed to do? I can't get it to work. It seems like it should select a subset of the sources, as in only the sources with native_coordinates that intersect the requested coordinates, but that's not what it does. It looks like it is implemented to select a subset of each source, which mak

[2019-12-30 20:59] mpu-creare commented on #347
Seems related to this: https://github.com/z4r/python-coveralls/issues/73

[2019-12-30 21:00] mpu-creare commented on #347
Seems like the 3.6 env is using coverage 5.0, while the passing 3.7 env is using coverage 4.x.x

[2019-12-30 21:22] jmilloy commented on #347
[These guys](https://github.com/SwamyDev/reinforcement/pull/7/files) pin the coverage module in the travel config

[code]

Maybe there is something like this that we can do, or similarly maybe we can pin the coveralls version in our setup.py?

[2019-12-31 16:32] jmilloy commented on #347
Okay, pinning coverage worked. See https://github.com/creare-com/podpac/commit/0a7ba0b0f47b2c9c1832ff5ccba5316e695f4219

[2019-12-31 16:32] #347 closed

[2020-01-03 17:41] mpu-creare commented on #351
The missing piece is that you need to also supply `source_coordinates`  : " Coordinates that make each source unique. This is used for subsetting which sources to evaluate based on the
        user-requested coordinates. It is an optimization."

This functionality is used in the SMAP context where you have hundreds/thousands of folders each associated with a date, where the date makes the folder u

[2020-01-03 18:29] jmilloy commented on #351
Okay. So `source_coordinates` should be a *single* dimension of coordinates 'time' of the *same length* as the `sources`. Is that right?

[2020-01-03 18:51] mpu-creare commented on #351
It could be a `lat_lon_time` triplet as well, but yeah, it needs to be a 1-D coordinate the same length as the `sources`... documentation could probably be improved.

[2020-01-03 18:59] jmilloy commented on #351
Thanks, see my PR with corrected passing tests, some validation , and a brief docstring update.

[2020-01-03 18:59] #351 closed

[2020-01-03 19:00] jmilloy commented on #351
#352

[2020-01-03 21:08] jmilloy commented on #341
I believe we should remove `source`.

It is only used in the `Compositor.__repr__`, and will almost always use the default value (which is pulled from the sources). The `__repr__` implementation should handle displaying the sources in some whay itself.

Maybe SMAP uses it, but if so, it should just create its own trait.

[2020-01-03 21:09] jmilloy commented on #305
This is completed in #348

[2020-01-03 21:09] #305 closed

[2020-01-03 21:11] jmilloy commented on #260
#348 refactored the data types and included tests.

[2020-01-03 21:11] #260 closed

[2020-01-03 21:13] jmilloy commented on #297
See also #341

[2020-01-03 21:17] mpu-creare commented on #341
Agreed.

[2020-01-03 21:20] jmilloy commented on #341
The SMAP OrderedCompositor has a source property. I think I can just remove it from the Compositor without any other changes. Doing that real quick right now.

[2020-01-03 21:25] jmilloy commented on #341
cfffe5d

[2020-01-03 21:25] #341 closed

[2020-01-03 21:33] jmilloy commented on #183
We now have better handling for different coordinate reference systems, which could make this easier.

[2020-01-06 22:15] mlshapiro commented on #302
@mpu-creare this must be a demo dataset, the csv file has values through 2099 :)

This is working as expected at the current head, closing for now

[2020-01-06 22:15] #302 closed

[2020-01-13 18:53] mpu-creare commented on #342
I don't remember what I meant by this. Closing.

[2020-01-13 18:53] #342 closed

[2020-01-13 18:57] mpu-creare opened #353 "Refactor AMS SC into user guide"
Since we have the slides available, we might as well convert this to a stand-alone user guide/tutorial.

[2020-01-13 19:46] mpu-creare opened #354 "Wrap OpenDataRegistry Sentinel-2 Data"

[2020-01-13 19:46] mpu-creare opened #355 "Wrap OpenDataRegistry LANDSAT Data"

[2020-01-13 19:53] mpu-creare opened #356 "Point Prober functionality"
**Description**
Would like to have a manager that will crawl through a pipeline and execute every node, recording the data and which sources are being used. This would be for debugging purposes.

Similar to the existing geowatch functionality

[2020-01-13 22:07] jmilloy commented on #252
I don't think it is possible to do this in most cases. I am still strongly in favor of *removing* segment_lengths from Coordinates (#266), which would "solve" this issue.

[2020-01-13 22:15] jmilloy opened #357 "Move ctype/segments from Coordinates to DataSource"
I think we should remove segment_lengths from Coordinates.

 * **Users would only be able to evaluate point coordinates.** I think this makes sense *and* would be simpler for users *and* would be much simpler to code/maintain. (Note that when a user wants to average over segments, an explicit convolution is better and is already implemented.)

 * **Data sources are segmented, not coordinates.** Th

[2020-01-13 22:15] jmilloy commented on #357
Ah, I guess I brought this up before in #266.

[2020-01-14 16:08] #254 closed

[2020-01-14 18:24] mpu-creare commented on #357
This kept getting pushed off. I think you've finally convinced me.
Since we always do the interpolation in the source's coordinate system, you are correct, we'd never have to convert segments if we keep them with the data source. Please go ahead and make it so.

I think my main question would be how the segment information would be propagated through an algorithm pipeline. I think metadata in the

[2020-01-14 19:09] jmilloy commented on #357
AFAIK, this information is not currently propagated in any way, so this would be a new feature.

Are you thinking something like a dictionary mapping datasources by name to its segment information? Like a flat dictionary with the same names as we use in the pipeline definitions? I could write out a spec.

[2020-01-14 20:24] mlshapiro opened #358 "Rename `native_coordinates` to `coordinates` for 2.0"
**Description**

While writing documentation I am brainstorming some interface improvements.

1. Change `native_coordinates` attribute to `coordinates`

[code]

[2020-01-14 21:01] jmilloy commented on #358
The verbosity doesn't bother me, but I've always thought that `native_coordinates` was confusing.

Note that the Node object does not have `native_coordinates`, so we're really talking about allowing `eval` accepting `DataSource` objects but not other types of nodes.

I'm not in favor of eval accepting DataSource objects. I prefer the explicit `output = node.eval(node2.coordinates)`. I think accep

[2020-01-14 22:25] jmilloy commented on #358
A big one for me that could be improved and better documented is the `shared_coordinates`, `source_coordinates`, etc in the Compositor.

[2020-01-16 14:34] mpu-creare commented on #357
Yeah, some sort of dictionary.

We can put in the attrs of the xarray dataarray... or pass it around like we do the coordinates and make it optional... either way the interpolator will know where to pick it up... :

[code]
Then if it's missing the default is 0 (a point) and 'midpoint'.

That would be the basics for uniform grid, or a point sensor with a defined area of effect (i.e. COSMOS). (It wo

[2020-01-16 16:31] jmilloy commented on #357
Oh, by "propagated through an algorithm pipeline" you are just talking about how to represent the segments in the datasource and pass them to the interpolator. We're basically on the same page, then. They just need to be passed to the interpolator within the Datasource, that's not a problem. I don't think they need to propagate anywhere else... they are unnecessary once the datasource is evaluated

[2020-01-16 16:32] jmilloy commented on #357
Currently it is possible to specify the segment type and podpac detects the segment lengths automatically. Do you still want to do that autodetection?

[2020-01-16 17:54] jmilloy commented on #357
Uniform segment lengths:

[code]

Uniform time segments, lat/lon points:

[code]

Uniform time segments, fully defined lat/lon segments:

[code]

Autodetect segments (for convenience):

[code]

Maps to a helper function, e.g.:

[code]

Lastly, as far as a technical spec goes, I might make a light `UniformSegments` class so that the uniform segment tuples can be "indexed" the same as the array segm

[2020-01-16 18:02] mpu-creare commented on #357
I like your proposal of doing (1) and (4).

So, for dependent coordinates, instead of (n, 2)  and (m, 2) for lat and lon, you could have (n*m, 4) and (n*m, 4) to give the lat/lon coordinates of the boxes surrounding the node. And then, as you pointed out, you can have (n*m, x) for a x-sided polygon.

Thanks for the examples above. I think it's worth thinking about stacked coordinates as well...

[2020-01-16 19:06] jmilloy commented on #357
Okay, let me think about that a little bit.

Stacked coordinates with uniform rectangular regions are the same:

[code]

Stacked coordinates with nonuniform rectangular regions could be the same, too:

[code]

Polygons in general can be the same as the dependent coordinates, except that only 1-d coordinates and 1-d boundary entries are allowed:

[code]

(where each `latbounds_i, lonbounds_i` pair

[2020-01-16 19:38] mpu-creare commented on #357
I really like the `radius` type -- that means we can add it as an extension later. It also supports ellipses!

I think I prefer the `flat` structure... we can always use `udims` in the interpolator, and we'll know the stacking situation from the coordinates. The biggest disadvantage in my mind is that given a `segments` dictionary, you can't know the stacking situation... which suggests nested is

[2020-01-24 19:16] jmilloy opened #359 "Improved handling of computed Dataset source, Compositor sources, and other Node attrs"
**Description**

Computed attrs should not be included when serializing a node. Furthermore, including them can lead to deadlock if the computed values attempt to use the cache, and the current workarounds are quite opaque. Some examples of computed attrs are `Dataset.source` and `Compositor.sources` in SMAP and MODIS datalib; `Compositor.outputs`; and `Rasterio.nan_vals`.

**Describe the solution

[2020-01-24 19:29] jmilloy commented on #266
We are going to move segment_lengths out of Coordinates, which means only point coordintase will be evaluatable. See #257.

[2020-01-24 19:29] #266 closed

[2020-01-24 19:30] jmilloy commented on #252
We are going to remove segments from Coordinates, so the transform will not need to handle them. See #357.

[2020-01-24 19:30] #252 closed

[2020-01-24 19:31] jmilloy commented on #238
We are going to remove the ctype/segments from Coordinates, so intersect will not need to handle that. The interpolation will need to be updated to handle the new DataSource segments. See #357.

[2020-01-24 19:43] jmilloy opened #360 "Refactor Compositors"
**Description**

The `Compositor` class is hard to use. It is attempting to handle a lot of cases in one class., while the only usable compositor is the OrderedCompositor, which is not exactly appropriate for some existing use-cases. Secondly, time interpolation (#195) may require the Compositor to actually be a DataSource subclass, or at least that they share certain interpolation capabilities.

[2020-01-24 19:44] jmilloy commented on #195
This will be facilitated by a compositor refactor #360.

[2020-01-24 19:48] jmilloy commented on #195
Note that the SMAPDate compositor has to specify a time tolerance in order to prevent each source from interpolating to all of the times before they can be composited. That may be able to be removed once the compositor is able to composite non-interpolated sources and then interpolate on its own. It's not yet clear to me if this can be done in a single general `DimensionCompositor` or if a specifi

[2020-01-24 19:52] jmilloy commented on #14
This may get fixed in #360

[2020-01-29 22:21] jmilloy commented on #359
I am unable to automatically detect if a trait is computed or not before it has been referenced.

**Describe the solution you'd like, updated**

 * When appropriate, `Datasource.source`, `Datasource.interpolator`, `Compositor.sources`, and `Algorithm.inputs` should be tagged as `attr=True` like everything else, without requiring special handling.
 * Traits tagged as `attr=True` will be included in

[2020-01-30 12:43] mpu-creare commented on #359
I think this is a fine proposal. Only things I'd think about:
* What happens when `get_*` is expensive to compute? We've been using `traitlets.default` as a way to cache it, and we used to have a `cached_property` decorator... so we just need  a mechanism to avoid calling an expensive `get_*` every time we need it.
   * So wait... are you're saying that `self.native_coordinates = self.get_native_c

[2020-01-30 15:07] jmilloy commented on #359
Truthfully, if it were up to me, I would not use traitlets or the `get_*` methods at all. They make all of this much harder for developers and users, and because almost everything is read_only, we don't have any need for dynamic type checking. So I would just use a property for `Datasource.native_coordinates` that is not implemented in the base class.

But really I'm not really proposing a big cha

[2020-01-30 15:23] jmilloy commented on #359
Assuming the trait + `@tl.default` + `get_*` version above, we can cache computed traits in the `@tl.default` method.

[code]

Note that the value is stored as a public read-only trait, so we are only talking about podpac's caching for speeding up other instances of the node (with RAM caching) or future sessions (disk caching).
Or the subclasses can cache the value in the `get_*` methods:

[2020-01-30 15:30] mpu-creare commented on #359
Could you give me a code example of this? To contrast with what you have above?

I think that your suggestion (and our adoption) of going to read-only traits warrants reconsidering what we're doing here as well. Could simplify everything.

[2020-01-30 15:46] jmilloy commented on #359
The traitls-less DataSource `native_coordinates` might look like:

[code]

A version without `get_native_coordinates`

[code]

This still lacks a mechanism for specifiying that an attribute should be included in the node definition. Do you want me to work that out in an example, too?

[2020-01-30 16:00] jmilloy commented on #359
An good in-between might be to use traits for provided values and properties for computed values, without the `@tl.default` and `get_*` stuff.

[code]

We've sort of been mis-using `@tl.default` for properties because we wanted them to sometimes not have to be properties. But maybe the above is the best of both worlds: type definitions and type checking for actual attributes, less __init__ boilerp

[2020-01-30 16:07] mpu-creare commented on #359
This last example works for me. Just one detail.

The 'cached_property' decorator -- is it possible to specify a cache type? What if you just want it cached in ram, but not through the PODPAC caching system? (i.e. similar to using the `_native_coordinates`  private attribute in your traitsless example). Do you EVER want that? It's nice that the PODPAC cache will be shared across different nodes of

[2020-01-30 16:30] jmilloy commented on #359
It really does simplify and often eliminate the custom base_definitions.

I guess I was thinking that there would be one cache decorator for object-only caching and a different one for podpac caching, i.e. `@cached_property` that does the `_native_coordinates` thing and `@cache_fun(<key>)` that does podpac caching.

Yeah, that's a good point, I don't think there is really a drawback to using podpa

[2020-01-30 16:37] mpu-creare commented on #359
How about:
[code]
Basically I don't like the cache-specific keyword arguments. And I think the key specification is fine.

[2020-01-30 16:43] jmilloy commented on #359
**Describe the solution you'd like, updated**

 * Traits tagged as `attr=True` will be included in the Node definition
   * This means they will be included when serializing the Node, when creating a Node hash for caching, and when comparing node equality.
   * Datasource.source, Datasource.interpolator, Compositor.sources, and Algorithm.inputs should be tagged as `attr=True` when appropriate like

[2020-02-04 04:52] mlshapiro commented on #209
@mpu-creare this should be handled in L1374 of aws.py

You will only get a stack trace when invoked via python

[2020-02-04 04:52] #209 closed

[2020-02-04 04:52] mlshapiro commented on #171
we have set up budgeting. I think this is sufficient, since its almost impossible to estimate how long a calculation will take.

[2020-02-04 04:52] #171 closed

[2020-02-04 12:20] mpu-creare opened #362 "Projection to a different CRS should allow Uniform Coordinates as a result"
**Description**
Right now whenever I transform coordinate to a different system, I ALWAYS get a dependent coordinate system, even though the transformation can be described as uniform. This hinders export to GeoTIFF, which requires Uniform or Rotated coordinate system. This in-turn hinders the WCS capability, or at least makes the WCS capability much less useful, as it requires you to work in a si

[2020-02-04 18:55] jmilloy commented on #362
Makes sense. I'd love to be able to do it without the empirical test, and I looked into it a little bit.
 - The `pyproj.Transformer` object has an `operations` attribute that is empty for the example you give above, but not empty in another case where the uniform grid is not maintained. So I'm wondering if it's as simple as that.
 - Another thought was to compare the crs `datum`, which must be the

[2020-02-04 21:23] mpu-creare opened #363 "Can't evaluate Node with Rotated Coordinates"
**Description**
See code below

**Steps to Reproduce**
[code]

**Expected Behavior**
This should return the data (1,2,3,4...) in a UnitsDataArray

**Additional Notes**
Full function from above traceback
[code]

[2020-02-04 21:32] mpu-creare commented on #363
I marked a unittest `core.test.test_units.TestToGeoTiff.test_to_geotiff_roundtrip_rotcoords` as `xfail` till this is solved. This was on the feature/geotiff-export branch, 3833ad4

[2020-02-04 22:32] jmilloy commented on #363
See also #280

[2020-02-05 02:23] mpu-creare commented on #363
Ah! I missed #280. It's still a rare case, but let's try to take care of this for 2.0. Would be a nice capstone on the whole coordinates system.

[2020-02-05 16:17] mpu-creare opened #367 "Test Podpac_example notebooks for 1.3 release"
Description
NOTE: Please start testing on the feature/geotiff-export branch until that gets merged into develop and then the 1.3.0 release branch.

We need to ensure that the example notebooks are up to date and run without error on the 1.3 release.

Please check a notebook (or two or three... etc.) and check it off when you confirmed it runs through without errors. Also make any modifications nee

[2020-02-05 19:14] jmilloy commented on #362
I asked a question here. Someone made the claim that 4326 -> 3395 will scale differently at different latitudes, and that we would only maintain a uniform grid in small areas. I wasn't able to reproduce that, but if it is true, or true in some cases, an empirical test for the specfic area requested is the only way to go.

[2020-02-05 19:20] mpu-creare commented on #362
Nice question. Empirical test does seem like the most robust way forward... albeit a little annoying.

[2020-02-05 20:04] jmilloy commented on #362
If we have a uniform grid, the transformed coordinates may be
 - still a uniform grid (we can still use UniformCoordinates)
 - still a grid, but no longer uniform (requiring ArrayCoordinates)
 - no longer a grid (requiring DependentCoordinates)

The 4236 -> 3395 case maintains the uniform grid at some latitudes, but not all. I agree now that the empirical test is the best way to handle this.

[2020-02-07 02:43] mpu-creare commented on #367
@mlshapiro @dsullivan-creare

Could one of you check the three remaining notebooks? I suspect they might fail because we probably need an updated Lambda node... I had to fix a number of bugs on the release branch.

[2020-02-07 12:00] mpu-creare opened #368 "The cache lock should be specific to a Node type."
**Description**
Right now two different nodes use the SAME cache lock. This leads to problems if, serially, both nodes need to check the cache. This can happen of Node1 checks has_cache, needs to compute it's sources for the source definition, which then needs to check the cache.

This happened with the follow Code before 6e8c1f0a0a753b994dd5d4c75d0b041e089d04c0

**Steps to Reproduce**
[code]

**E

[2020-02-07 12:00] mpu-creare commented on #368
@jmilloy  FYI... I see you've run into this too.

[2020-02-07 12:17] mpu-creare commented on #368
Also related to #359

[2020-02-07 13:09] mlshapiro commented on #367
@mpu-creare yes I will do this

[2020-02-07 15:21] jmilloy commented on #368
As a first reaction, I don't think this will work because the problem occurs when the node definition property tries to access the cache, so then we wouldn't be able to use the node definition to create the cache lock.

Right. I think that *nothing* that is computed should be in the source definition, which fixes this issue, and is what #359 is about.

Unfortunately, even with #359, a user *could*

[2020-02-07 15:37] mpu-creare commented on #368
Derp! That makes sense. And yes, I think #359 still makes this a lot better.

I think we can just add a simple check that raises an exception to make things easier to debug. This check will only work on single-threaded execution, but would still reduce a lot of headache.

Alternatively we can bury the lock further in the caching machinery, so that when the cache is ACTUALLY accessed, only then is

[2020-02-07 19:25] mlshapiro commented on #367
there is a chicken and the egg issue - we need to make a new 1.3 compatible aws release in order to test the last notebook. But to make that release we should build off the repository tag. I will fix this notebook/confirm it after you have made the release.

[2020-02-07 19:59] mpu-creare commented on #367
Ha! That's funny and True. I knew there was a reason I didn't want to test those myself. :)

[2020-02-07 21:23] mpu-creare commented on #367
@mlshapiro ok, release is out. Please close this after you've made a new lambda function and checked that notebook.

Thanks!

[2020-02-07 21:55] mlshapiro commented on #367
Still seeing a strange response, though different now. Will close when I'm done

[2020-02-07 22:07] mlshapiro commented on #367
well the simple demo works, but the SMAP demo is broken. I believe this is due to something in the pipeline interpretation. I'm going to create another issue

[2020-02-07 22:56] mlshapiro commented on #367
OK so its related to #369 and not passing in credentials. I also uncovered another bug fixed in d0fde7f51d625271e29e671a403e448eca791ac5.  So far, this is all fixable using the `settings`, so I can fix the notebook.

Now the function is just timing out...

[2020-02-07 22:58] mlshapiro commented on #367
Function is working as expected, so this is a SMAP server issue. Closing for now

[2020-02-07 22:59] #367 closed

[2020-02-10 13:05] #353 closed

[2020-02-10 13:06] #333 closed

[2020-02-10 18:09] mlshapiro commented on #319
This is primarily documented in https://github.com/creare-com/podpac/blob/master/dist/aws/README.md and https://github.com/creare-com/podpac/blob/master/dist/aws/build_lambda.sh.

More instructions (and details) to come in https://github.com/creare-com/podpac/blob/master/doc/source/aws-development.md

[2020-02-10 18:09] #319 closed

[2020-02-10 18:11] mlshapiro commented on #184
Completed in v1.3.  Unfortunately there is no way to do this fully from boto3, so the user is prompted with a statement to enable cost allocation tags. This is a one-time requirement, so its not too onerous. Otherwise works as expected

[2020-02-10 18:11] #184 closed

[2020-02-11 21:42] mlshapiro commented on #358
This made me laugh, you are right.

Yes i'm just talking about DataSource nodes

I think we should promote this to an improvement for 2.0 to deprecate `native_coordinates` for `coordinates`.

Compositor generally needs help. We can cross this bridge with whoever takes on the `Compositor` overhaul.

[2020-02-11 21:44] mlshapiro commented on #358
I suggested this earlier, but I think `node.eval()` should by default evaluate at the `coordinates`. This is a problem for huge datasets, but individual nodes could overwrite the default behavior to raise and Exception.

[2020-02-18 14:34] mpu-creare opened #372 "Algorithm Nodes should NOT cache outputs by default"
**Description**
This is a big gotcha for new users. When developing a new algorithm node, if they (1) evaluate the results, (2) then change the code, and (3) evaluate the results again, nothing will change because the output is retrieved from the cache.

**Steps to Reproduce**
[code]

This throws an assertion error .

**Expected Behavior**
I would expect o2 to be all zeros.

**Observed Behavior**

[2020-02-18 15:10] mpu-creare opened #373 "Can't seems to transform Uniform Stacked Coordinates"
**Description**
See stack trace.

**Steps to Reproduce**
[code]

[2020-02-20 19:16] jmilloy commented on #372
I think we are going to set `cache_outputs = tl.Bool(default_value=False)` for Algorithm nodes, maybe for other nodes as well. The caching is an optimization that some user's will want to turn on.

[2020-02-20 19:18] jmilloy commented on #359
We're going to simplify this to `@cached_property` which uses an object-level private attribute and the Nodes `cache_ctrl`, if it exists.

[2020-03-02 14:04] m-hinds opened #374 "GFS example notebook throwing an error on CRS"
Fantastic library, however I want to point out that using the Window 10 standalone distribution, the GFS demo (/notebooks/demos/gfs.ipnb) doesn't function correctly.

The issue seems to come from the GFSSource.dataset.crs (cell 2):

[code]
[code]

More specifically, there is no "init" key in the CRS:
[code]

Any help would be greatly appreciated!

[2020-03-02 14:15] mpu-creare commented on #374
Hmmm... I thought I fixed that. I'll have a look.

[2020-03-02 14:34] mpu-creare commented on #374
Okay, just pushed a fix. Try opening a command prompt in the `podpac-1.3.0` directory and do the following:
[code]

[2020-03-08 23:42] jmilloy commented on #359
@mpu-creare the `test_node.py::TestCaching::test_cache_property_decorator` test changes a node attribute which *changes the node definition. I feel like Nodes are generally meant to be read-only, at least as far as attributes and definition. Can you explain what you are testing there, and is it still necessary?

I implemented the `cached_property` and used where I thought it made sense, which incl

[2020-03-09 12:13] mpu-creare commented on #359
That test preceded read-only attributes. The second argument to that decorator I believe is a dependency -- so whenever the other trait was updated, it would fire. It was a pretty tricky decorator to write, so I'd like to keep it. For the test, you can just remove the tagging of those attributes and all should be well.

[2020-03-09 16:12] mpu-creare commented on #374
@m-hinds could you let me know if the update fixed your issue?

[2020-03-09 17:04] m-hinds commented on #374
Yes. That fixed it. Thanks!

[2020-03-09 17:04] #374 closed

[2020-03-13 18:19] jmilloy commented on #359
Removing the tagging didn't cause the test to pass. Can you take a look? I can take a closer look at what you are trying to test, but you might be a lot more efficient... let me know.

[2020-03-13 18:28] mpu-creare commented on #359
I'll have a look next week.

[2020-03-13 19:32] mlshapiro commented on #358
The main takeaway from this discussion is that `native_coordinates` should be renamed to `coordinates` on a Node.  @mpu-creare you can ignore the rest of the musings.

If you agree, I will close this and make an issue for implementation.

[2020-03-14 15:57] mpu-creare commented on #359
Had a look. It's fine just to remove the test, since you also removed `cache_func`, which dealt with dependencies. The new decorators do not deal with dependencies (I assume, I didn't actually check).

[2020-03-14 19:35] jmilloy commented on #359
I just moved `cache_func` to the utils. I wanted to use the cached_property in the `Node`, so it has to be defined somewhere before Node is defined. I just moved cache_func along with it.

[2020-03-17 15:42] jmilloy opened #377 "use AWS credentials from ~/.aws/credentials"
**Description**
AWS CLI users will already have AWS credentials and configuration stored. We should consider using those if no podpac AWS settings have been provided. These are located at `~/.aws` on Linux systems and `%UserProfile%\.aws` on Windows systems.

See https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html

**Describe the solution you'd like**

The `S3Mixin` should be

[2020-03-17 15:43] jmilloy commented on #377
Related: #223

[2020-03-17 16:41] jmilloy commented on #377
Actually, botocore (and therefore s3fs) seems to do this automatically.

[2020-03-17 16:41] #377 closed

[2020-03-26 19:19] jmilloy opened #378 "Update or remove AirMoss"
**Description**

The AirMoss datalib is very out of date.
 * `AirMOSS` does not define its sources
 * `AirMOSS_Site` does not define its sources
 * `AirMOSS_Site` defined `native_coordinates` instead of `source_coordinates` and/or `shared_coordinates`

**Steps to Reproduce**

Run podpac/datalib/airmoss.py

**Additional Notes**

I was unable to get my credentials to work in the first place. If it w

[2020-03-26 19:38] jmilloy commented on #378
@mpu-creare I looked at this for a minute. I think you'll probably just want to remove it.

[2020-03-26 19:46] jmilloy commented on #378
Currently need to run podpac/datalib/airmposs.py in the feature/attr-improvements branch.

[2020-03-30 19:05] jmilloy commented on #297
**repr**

One line with class name, node type if needed, and key info.

[code]

**str**

One line with class name, node type if needed, key info, and a list of node attributes.

[code]

[2020-03-30 19:13] jmilloy commented on #297
Note you can easily see the details using `json_pretty`:

[code]

But it is a bit obtuse. I wonder if we want something that will print output more like:

podpac.datalib.SMAP
	base_url: https://n5eil02u.ecs.nsidc.org/opendap/SMAP
	interpolation: {'method': 'nearest', 'params': {'time_tolerance': numpy.timedelta64(2,'h')}}
	layer_key: {rdk}sm_surface_analysis
	product: SPL4SMAU
	units: None
	versio

[2020-03-31 11:08] mpu-creare commented on #378
I had a look at it too. I can't get the opendap endpoint to work either. I think we're probably better off using the EGI endpoint, which is a brand new implementation. So I concur, scrap it for now.

[2020-04-03 01:00] mpu-creare commented on #262
Done in #364

[2020-04-03 01:00] #262 closed

[2020-04-03 01:00] mpu-creare commented on #378
Done in #370

[2020-04-03 01:00] #378 closed

[2020-04-03 01:18] mpu-creare commented on #297
fixed by #371

[2020-04-03 13:34] #297 closed

[2020-04-03 13:34] #359 closed

[2020-04-03 15:49] mlshapiro commented on #358
@mpu-creare can we do the `native_coordinates` to `coordinates` move? I still think this is a good idea, but would be highly invasive, so we'd want to do it efficiently to minimize merge conflicts.

I can take the lead and push this evening, if we're in agreement. If not, I will close this issue as all other notes have been discussed.

[2020-04-03 15:56] mpu-creare commented on #358
Let's do it!

[2020-04-03 15:56] mlshapiro commented on #337
@jmilloy closed in ca054c90b299c577fb36e1dd9208f1220cc72f65

[2020-04-03 15:56] #337 closed

[2020-04-03 15:57] mlshapiro commented on #345
Roger. will do.

[2020-04-03 15:58] mlshapiro commented on #335
Will do

[2020-04-03 15:59] mlshapiro commented on #236
This is a really nice goal, but will not be done by 2.0

[2020-04-03 15:59] mlshapiro commented on #194
@jmilloy is this solved by the S3Mixin? and if so, can we close this?

[2020-04-03 16:02] mlshapiro commented on #6
will add to notebook on interpolation

[2020-04-03 16:56] jmilloy commented on #194
Yes, by a mix of the S3Mixin and the refactored/standardized file sources.

[2020-04-03 16:56] #194 closed

[2020-04-06 20:37] jmilloy opened #383 "xarray interpolation"
**Description**

xarray does interpolation with its `interp` method. It looks very easy to use, and I think it will handle linear time interpolation.

**Describe the solution you'd like**
I think this would be an Interpolator subclass called `Xarray`.

**Notes**

It looks like it might only support "nearest" and "linear" interpolation for multiple dimensions.

See http://xarray.pydata.org/en/stabl

[2020-04-07 17:21] jmilloy commented on #195
See #384

[2020-04-07 17:21] #195 closed, assigned to mpu-creare

[2020-04-07 17:21] jmilloy commented on #360
See #384

[2020-04-07 17:21] #360 closed

[2020-04-07 17:48] jmilloy commented on #74
#385 also helped with the speed on this one.

[2020-04-15 16:38] jmilloy opened #390 "Add podpac version to node definition / hash"
**Description**
Nodes may change between versions. Including the podpac version in the hash would avoid silent cache-related errors across upgrades.

**Describe the solution you'd like**
The podpac version could be included in the definition as a node attr. It should be added explicitly when loading a JSON definition, since users are likely to omit it. Another option would be to include the versio

[2020-04-15 16:39] jmilloy commented on #390
@mpu-creare Should this be the whole version, or maybe just the major version (e.g. 1 vs 2)?

[2020-04-15 16:52] mpu-creare commented on #390
Ugh... let's do whole version? This requires some discipline to not change defaults in minor releases... but I think finer-grained would be too much of a headache.

Will the cache hash depend on the podpac version? Or should that be stripped out of the hash?

[2020-04-15 16:59] jmilloy commented on #390
Hmm.

At this point, I think I've fixed the deadlock issue without having to omit default traits, so this is now no longer related to that.

I thought part of the point was to include the version in the cache hash. That's why I wondered if the major version might be enough. But if it is just cosmetic, then sure, we can strip it out of the hash, and I see no reason not to include the whole version.

[2020-04-15 17:02] mpu-creare commented on #390
I just came across that. I want the version more for the sake of provenance (i.e. tracking how/when someone did a computation and how to reproduce it).

In that case, let's do the whole version but make sure that it's ignored for the cache hash or when recreating nodes. In the future maybe we'd want the pipeline to fail on `from_definition` -- that's not a bad idea. At least let users know they ne

[2020-04-15 17:05] jmilloy commented on #390
Roger.

[2020-04-19 01:21] #372 closed

[2020-04-19 01:21] mpu-creare commented on #223
see #393

[2020-04-19 01:21] #223 closed

[2020-04-19 01:22] mpu-creare commented on #362
see #396

[2020-04-19 01:22] #362 closed

[2020-04-20 18:39] #390 closed

[2020-04-20 18:39] #358 closed

[2020-04-20 18:40] mpu-creare commented on #357
see #395

[2020-04-20 18:40] #357 closed

[2020-04-20 19:29] mpu-creare opened #398 "Test podpac-example notebooks for 2.0 release"
# Description
NOTE: Please start testing on the develop branch until the release/2.0.0 branch is created..

We need to ensure that the example notebooks are up to date and run without error on the 2.0 release.

Please check a notebook (or two or three... etc.) and check it off when you confirmed it runs through without errors. Also make any modifications needed.

# WARNING:
Check **every** link. M

[2020-04-21 16:09] jmilloy opened #399 "ScipyGrid interpolator should not allow singleton source coordinates"
**Description**

The ScipyGrid interpolator allows interpolation using source coordinates with a single point in some dimensions. This throws a `true_divide` warning when using the RegularGridInterpolator. I don't believe that RegularGridInterpolator is meant to handle singleton dimensions (e.g. see https://github.com/scipy/scipy/issues/7560).

**Steps to Reproduce**

I found this testing the `COS

[2020-04-21 16:23] jmilloy opened #400 "ScipyGrid interpolator should not allow source coordinates with length-1 dimensions"
**Description**

The ScipyGrid interpolator allows interpolation using source coordinates with a single point in some dimensions. This throws a `true_divide` warning when using the RegularGridInterpolator. I don't believe that RegularGridInterpolator is meant to handle singleton dimensions (e.g. see https://github.com/scipy/scipy/issues/7560).

**Steps to Reproduce**

I found this testing the `COS

[2020-04-21 17:56] #399 closed

[2020-04-21 18:17] jmilloy commented on #400
It's tough. The ScipyPoint interpolator thinks it can only handle lat_lon coordinates without an associtated time coordinate. So even changing the `COSMOSStation` to stacked lat_lon didnt work. I'm not sure what the best solution is, and I suspect there are other issues that outline this same problem in other words.

[2020-04-21 18:25] mpu-creare commented on #400
The interpolation needs work...

[2020-04-21 18:26] mpu-creare commented on #400
COSMOS not working for 2.0.0 is "ok"

[2020-04-22 01:44] mpu-creare commented on #398
I only `scratched` around the `scratch` folder -- gleaning a few things there that were useful.

[2020-04-23 00:14] dsullivan-creare commented on #398
When testing ` 3-processing/running-on-aws-lambda.ipynb`, I ran into some issues. I tried evaluation the node locally, and ran into more issues. In general, I've had a hard time getting PODPAC installed with all dependencies. Here is my attempt at evaluating that node:

[code]

[2020-04-23 00:53] dsullivan-creare commented on #398
The issue above was resolved in a recent commit to this release branch. We also found an issue with Lambda zips, which needed `numexpr`. I fixed and tested that.

[2020-04-23 02:44] mpu-creare commented on #398
Thanks for the help @dsullivan-creare . This is good to go.

[2020-04-23 02:44] #398 closed

[2020-04-23 02:45] #183 closed

[2020-05-26 17:05] jmilloy commented on #6
@mlshapiro What is the status of this issue? Is this simply a documentation issue, or do I need to keep desired changes in mind while working on the interpolation?

[2020-05-26 17:16] jmilloy commented on #340
@mlshapiro Can you give an example of an unsupported parameter? Are these parameters that we intend to support in the future?

[2020-05-26 17:19] mpu-creare commented on #6
Documentation only.

[2020-05-27 15:47] jmilloy commented on #340
I think this happens when the spatial tolerance is ignored when dependent coordinates become necessary due to projection transform.

[2020-05-28 14:44] mlshapiro commented on #340
Yes, like `spatial_tolerance` and `time_tolerance` - they are included in classes like Rasterio and ScipyGrid, but they don't do anything. And they also may be used by Rasterio only by certain interpolation methods.

I'm not sure a warning is necessary for this scenario, but I think that some though should go into how we handle parameters/dimensions that are *ignored* when doing an interpolation.

[2020-05-28 16:29] jmilloy commented on #340
Matt pointed out that it can be a surprise when the coordinates are converted to DependentCoordinates internally and then a different interpolation method is used which ignores your spatial tolerance.

[2020-05-28 17:09] mpu-creare commented on #340
And now that I found the notebook again, I'll point it out here: https://github.com/creare-com/podpac-examples/blob/master/notebooks/examples/drought-monitor/03-data-access-harmonization-processing.ipynb

[2020-06-09 17:46] mlshapiro opened #404 "Cant import "modis-pds" module"
**Description**

In the datalib, modis access in a module named `modis-pds` which can't be imported

**Steps to Reproduce**

[code]

**Expected Behavior**

It should be named something can be imported

**Additional Notes**

I'm going to rename `modis` on develop unless there are any issues.

[2020-06-09 17:51] mlshapiro commented on #404
@jmilloy @mpu-creare this is for documentation and reference in case there are future questions. Pushing to develop now

[2020-06-09 17:51] #404 closed

[2020-06-09 17:52] mlshapiro commented on #404
fixed in d34f28e336a602bc828fb2740fb6ec6d058e35b2

[2020-06-09 17:54] jmilloy commented on #404
Ah, silly error! It really should be modis_pds, since there are other modis data sources available (and modis-pds seems to be possibly deprecated).

[2020-06-09 17:57] mlshapiro commented on #404
Got it - I'll rename "modis_pds"

[2020-06-09 17:59] mlshapiro commented on #404
and i'll remove from __init__ not to pollute the namespace

[2020-06-09 18:00] mlshapiro commented on #404
finished in 1f3f1f89fa23b47023a0f8e5ed524258012db006

[2020-06-09 19:48] mlshapiro opened #405 "Compositor bug with terrain tiles example"
**Description**

I am going back to use the terrain tiles, which seems to be working correctly, but the compositor is giving strange behavior

**Steps to Reproduce**
[code]

**Expected Behavior**

I would expect all the sources to get evaluated and then composited.

**Observed Behavior**

- the `terrain.sources` attribute is set correctly with different sources
- if I debug the compositor (L241 of

[2020-06-09 20:13] mpu-creare commented on #405
My guess would be caching.

[2020-06-09 20:21] mlshapiro commented on #405
I was in the midst of typing that... it seems to be caching, but its not a traditional "clear the cache" problem. Its like it keeps grabbing the same terrain tiles node because the source is not differentiating it.

[2020-06-09 20:23] mlshapiro commented on #405
OK fixed - it was because TerrainTiles was overriding the `source` attribute of Rasterio (and hence BaseFile). Pushing a fix to develop.

[2020-06-09 20:25] mlshapiro commented on #405
Fixed in  6ad60774c9ec5818ae904e641e4e58d75acc8e90

[2020-06-09 20:25] #405 closed

[2020-06-10 01:58] mpu-creare commented on #14
@jmilloy did this get fixed in #360?

[2020-06-10 02:09] mpu-creare opened #406 "PROPOSAL: Compositors need to specify composition dimensions"
**Description**
The `TerrainTiles` compositor only works if time is NOT specified. This should not be. The reason this happens is because the compositor calls `Node.create_output_array(coordinates)` using the user-input coordinates, which could contain additional dimensions.

**Describe the solution you'd like**
Compositors should have a `composite_dims` attribute and overwrite `Node.create_output

[2020-06-10 02:10] mpu-creare commented on #406
@mlshapiro @jmilloy what do you guys think?

[2020-06-10 02:19] mpu-creare commented on #406
Actually, probably you should just drop the extra coordinates on eval...

[2020-06-13 20:07] jmilloy commented on #133
@mlshapiro @mpu-creare Can you clarify this for me? Which of the cases does this issue cover

 - unstacked source coordinates, stacked eval coordinates
 - stacked source coordinates, unstacked eval coordinates
 - stacked source coordinates, stacked eval coordinates

[2020-06-19 18:18] dsullivan-creare opened #408 "Terrain tiles `eval` issues"
**Description**
TerrainTiles node will not evaluate my coordinates

**Steps to Reproduce**
Try to evaluate a TerrainTiles node for a couple of `Coordinates` objects, as follows:
[code]

The stacked coordinates also fail:

[code]

[2020-06-19 18:20] dsullivan-creare commented on #408
@jmilloy Can you confirm whether I'm doing some incorrectly, or this is a bug?

[2020-06-22 17:24] jmilloy commented on #408
Yes, this is fixed but was not yet merged into develop. See #406 and #407. I just merged #407 so your `lat_lon_time` coordinates should now work.

[2020-06-22 17:26] jmilloy commented on #406
#407 merged.

[2020-06-22 17:26] #406 closed

[2020-06-24 13:27] #408 closed

[2020-07-02 20:55] mpu-creare commented on #355
Done in #403

[2020-07-02 20:55] #355 closed

[2020-07-02 20:55] mpu-creare commented on #354
Done in #403

[2020-07-02 20:55] #354 closed

[2020-07-03 02:03] mpu-creare opened #409 "Rasterio Node to support subdatasets"
**Description**
Some HDF4 and other similar files support subdatasets within the same file (See MODIS files)

**Describe the solution you'd like**
Rasterio Node should at least be able to open these and display the different subdatasets available.

**Sample Code**
[code]

[2020-07-03 15:03] jmilloy opened #411 "Linear interpolation over a single dimension"
**Description**

Podpac should support linear interpolation, and possibly other interpolation methods, over a single dimension.

**Steps to Reproduce**

[code]

**Observed Behavior**

An `InterpolationException` is raised because no interpolator supports linear interpolation over a single dimension.

**Expected Behavior**

[code]

**Additional Notes**

This may be solved by adding the xarray inter

[2020-07-03 15:09] jmilloy opened #412 "Interpolation silently falls back on nearest in some cases"
**Description**

Interpolation  silently uses `nearest` when specifying `interpolation=[{"method": "bilinear", "dims": ["lat"]}]`

**Steps to Reproduce**

[code]

**Observed Behavior**

The data is interpolated using nearest:

[code]

**Expected Behavior**

A warning or exception should be raised, because linear interpolation over a single dimension is not supported. In particular, the behavior sh

[2020-07-03 15:12] jmilloy opened #413 "time interpolation"
The only supported interpolation method over time is nearest. Podpac should support linear and multivariate interpolation over time dimensions.

This may be solved by adding the xarray interpolator #383.

Alternatively, is it possible to convert the `np.datetime64` to floats and then use the `ScipyGrid` interpolator, or other scipy interpolation tools?

Note that the time dimension will usually be

[2020-07-07 02:52] mpu-creare commented on #133
I believe this covers the last two cases:
* stacked source coordinates, unstacked eval coordinates
* stacked source coordinates, stacked eval coordinates

[2020-07-09 15:27] jmilloy opened #415 "Migrate datalib __main__ scripts to (py)test functions"

[2020-07-09 18:43] mpu-creare opened #416 "Algorithm Convolution node kernel should be a labelled array"
**Description**
Right now the kernel for the convolution algorithm nodes is very difficult to use, and the results depend on the order of the coords used to evaluate the Node.

**Steps to Reproduce**
[code]

**Expected Behavior**
I'd expect the results to not have to depend on the order of the input coordinates

**Observed Behavior**
The results DO depend on the input coordinates

[2020-07-12 00:33] mpu-creare commented on #416
closed by #417

[2020-07-12 00:33] #416 closed

[2020-07-14 14:26] mpu-creare opened #418 "S3 Mixin and Lambda manager should warn users about cross region data transfers"
Right now users could create a Lambda function in one region that pulls data from a completely different region. In some cases, it would be helpful to have the data and lambda function reside in the SAME region.

not sure what the best approach to fix this.

[2020-08-21 17:07] mpu-creare opened #420 "Rasterio Source should load all bands by default, and subdatasets as well"
**Description**
The Rasterio by default loads the first band, unlike other nodes. Also, for subdatasets, the data cannot be loaded directly from the source filename. Users have to specify the DRIVER:FUNCTION:FILENAME as the source. We should be able to handle this automatically.

**Additional context**
See #410

[2020-08-21 18:14] mpu-creare opened #421 "Running Unit Tests Change my local settings"
**Description**
Whenever I run the unit tests, my local setting change

**Steps to Reproduce**
[code]

**Expected Behavior**
Unit tests should NOT change MY settings

**Observed Behavior**
Unit tests DO change MY settings

**Additional Notes**
Probably make a custom class with setup/teardown methods that all unit tests can use so that this case is handled. Maybe a module-level (i.e. file level?) s

[2020-08-21 21:34] jmilloy opened #422 "Handle Datasource coordinates boundaries (in interpolation)"
**Description**
The interpolation may need to behave differently depending on the datasource coordinates boundaries, e.g. for off-center points.

For example, nearest interpolation for "left-aligned" time coordinates should potentially behave differently than nearest interpolation for "centered" time coordinates. should behave differently for time coordinates.

**Describe the solution you'd like**

[2020-08-31 02:41] amykyta3 commented on #347
Commenting here since this thread shows up in Google searches often.

There's no need to pin to an older version of coveralls.
Instead, make sure you are *not* installing `coverage` or `python-coveralls` as they seem to cause some sort of conflict  (See: [z4r/python-coveralls#73](https://github.com/z4r/python-coveralls/issues/73)).

This combination is working for me:
[code]

[2020-09-10 14:25] mpu-creare opened #423 "Improve WCS client support"
**Description**
The current WCS client is custom and not full features

**Describe the solution you'd like**
Use an external library such as `rasterio` or `owslib` and create a light-weight Node wrapper around this library. This would also allow our node to explore the available layers and CRS supported by the other server.

**Sample Code**
[code]

[2020-10-13 16:37] jmilloy commented on #423
@mpu-creare I see how to use owslib as a WCS client, possibly *with rasterio*, but not how to use rasterio alone. Can you point me to a resource for rasterio? Or shall I just go ahead with owslib?

[2020-10-13 16:58] mpu-creare commented on #423
Just go ahead with owslib. The main point is that we don't write our own fragile client.

[2020-10-20 16:05] jmilloy commented on #423
Do you know of a source that the existing WCS datasource works with? It would be useful for comparison.

[2020-10-20 18:47] mpu-creare opened #427 "Verbify Compositor --> Composite"
Mark for depreciation, in version 3.0 (for removal in version 4.0).

Noun | Verb
---- | ----
**Compositor** | Composite
Reprojector | **Reproject**
Interpolator | **Interpolate**
CoordinatesModifier | **ModifyCoordinates**
CoordinatesExpander | **ExpandCoordinates**
CoordinatesSelector | **SelectCoordinates**
Combiner | **Combine**
**Convolution** | Convolve
ReductionOperator | **Reduce**

*(curre

[2020-10-26 14:45] jmilloy commented on #423
If you evaluate a WCS node with **uniform unstacked coordinates (a grid)**, it's trivial to translate that into a bounding box and shape for the GetCoverage request. The interpolation happens on the WCS server. This is really nice because avoids the high-resolution of the WCS source grid.

If you evaluate a WCS node with **non-uniform or stacked coordinates**, we could make a request for every poi

[2020-10-26 14:58] mpu-creare commented on #423
Don't worry about the inconsistency.

We probably should talk about the interpolation and selectors at some point today...

[2020-10-26 16:45] jmilloy commented on #423
How about a WCS server with time that I can test with?

[2020-10-30 15:59] #423 closed

[2020-11-02 22:23] jmilloy opened #432 "CRS-agnostic caching"
`Node.eval` transposes coordinates so that requests that differ only in dims-order can still use the cache. This is "dims order agnostic caching". We should try to do the same for CRS.

[2020-11-03 20:56] #383 closed

[2020-11-03 20:56] #412 closed

[2020-11-03 20:56] #413 closed

[2020-11-03 20:56] #411 closed

[2020-11-18 02:41] mpu-creare commented on #123
This will be fixed once #430 is merged.

[2020-11-18 02:41] #123 closed

[2020-11-18 02:41] mpu-creare commented on #226
This will be fixed in #430

[2020-11-18 02:42] mpu-creare commented on #173
This will be fixed in #430

[2020-11-18 02:42] #173 closed

[2020-11-18 02:42] mpu-creare commented on #133
This will be fixed in #430.

[2020-11-18 02:42] #133 closed

[2020-11-18 02:44] mpu-creare commented on #400
I believe with the new `NearestNeighborInterpolator` and `XarrayInterpolator` as part of #430, this issue is now moot... those two interpolators will be selected before this one. I'm marking this as `wontfix` and moving on.

[2020-11-18 02:44] #400 closed

[2020-11-18 15:50] mpu-creare commented on #226
Actually need to pass selector to the compositor selectors... TODO

[2020-11-23 20:07] rmeyers4 opened #433 "Add ability to plot overviews when using Rasterio node"
**Description**
When working with a large GeoTIFF dataset that has overviews, it can be useful to see a thumbnail of the whole dataset to understand the variations in the data. I'm not aware of a way to plot overviews in PODPAC, and creating a set of coordinates using `clinspace` that spans a large dataset can lead to running out of memory.

**Describe the solution you'd like**
Add a method to the

[2020-11-24 02:46] mpu-creare commented on #433
YES! This is on my TODO list. For now if you use the `nearest_preview` interpolation setting, overview data will be automatically pulled based one the coarseness of the data request.

[2020-11-24 02:55] #340 closed

[2020-12-01 02:04] #303 closed

[2020-12-02 02:46] mpu-creare opened #435 "Unify Multiple outputs vs. Filesource data_key terminology"
**Description**
* When using multiple outputs, you set `node.outputs` to a list.
  * For these nodes, settings `node.output` to a particular value will retrieve only that value
  * Internally, the `_get_data` function gets all of the data, and then later in the pipeline the particular output is subselected
* When using a `Dataset` you set `node.data_key` to a list of multiple values, or the partic

[2020-12-05 02:21] mpu-creare opened #436 "Caching doesn't discriminate between evals with and without selector"
**Description**
When I eval a pipeline: `coords --> interpolate --> source` or when I just eval the source `coords --> source` the cache will think it is the same.

Thus, when I eval one of the two first, evaluating the second one gives me the wrong data.

**Steps to Reproduce**
Sorry for the long example:
[code]
Here's the actual issue:
[code]

**Expected Behavior**
The cache should take into acc

[2020-12-06 19:23] jmilloy commented on #436
The `DataCompositor` makes this difficult. The bug can be fixed in a DataSource by defining a custom `DataSource.eval` that does the selection and then calls super to get  to the `Node.eval` with the caching, but if you use a `DataCompositor` it still caches before even getting to its sources.

I fixed *this* example by not letting the `DataCompositor` cache (force `cache_output=False`) and having

[2020-12-07 11:29] mpu-creare commented on #436
Does your above fix for `COSMOS` really work?

I'm not sure what the best solution is. Adding the `_selector` to the cache key seems like the right thing to do, but the `DataSource.eval` approach might fix more caching issues (order of operations, crs conflicts, etc). Worth thinking about carefully.

[2020-12-07 19:18] jmilloy commented on #427
The essense of this issue is to be consistent. I know I originally proposed the verb, but now I've changed my mind. There is some consensus that class names should not be verbs: the *methods* are the verbs.

Noun | Verb
---- | ----
**Compositor** | Composite
Reprojector | **Reproject**
Interpolator | **Interpolate**
CoordinatesModifier | **ModifyCoordinates**
CoordinatesExpander* | **ExpandCoordin

[2020-12-07 19:19] jmilloy commented on #427
See, for example, pyproj transformers:

[code]

[2020-12-07 19:40] mpu-creare commented on #427
Wow! Went the other way. I didn't expect that., but yes, that makes sense. Ok. Let's plan to go with Nouns.

I like `Expander`

[2020-12-08 19:28] jmilloy opened #437 "test_interpolators.py:TestNearest:test_interpolation cases"
This test uses a for loop to test nearest and nearest_preview interpolation on a number of cases. But it only uses the loop value in the `# unstacked 1D` and `# unstacked N-D` cases. The rest use `interpolation={"method": "nearest", "interpolators": [NearestNeighbor]}`. It's obviously incorrect, but I'm not sure what the correct test cases are. Here's the code, from test_interpolators.py around li

[2020-12-08 19:57] jmilloy commented on #437
Seems like `nearest` works for all of the cases, but `nearest_preview` does *not* work for these three:
 * `# source = stacked, dest = stacked`
 * `# source = stacked, dest = unstacked`
 * `# lat_lon_time_alt --> lon, alt_time, lat

Does that seem right? Should we only be testing `nearest` on these three cases, or does something else need to be fixed?

[2020-12-08 19:58] mpu-creare commented on #437
Just test nearest in those cases. We should probably get rid of NearestPreview once we have overview working for Rasterio... or maybe other options...

[2020-12-08 20:01] #437 closed

[2020-12-16 19:48] jmilloy commented on #427
The API naming and structure needs a full audit.

[2020-12-16 19:54] jmilloy opened #439 "Audit core and public API structure and node names"
**Description**
The public and core APIs need to be made consistent. This includes both the module structure and the node names.

For example, currently
 * inconsistent node class names (nouns like `Compositor` and verbs like `Interpolate`)
 * inconsistent submodule names (plural `interpolators` and singular `compositor`)

[2021-01-11 19:20] djhoese opened #440 "Collaboration with Satpy"
**Description**

I found out about podpac through Mattheus' AMS poster, but the website errors out for any of the ways I'm supposed to be able to contact you. It seems like podpac could benefit from or perhaps leverage some of the work done by the Pytroll Satpy project:

https://satpy.readthedocs.io/en/stable/

I'm one of the core developers on this project and would be happy to answer any questio

[2021-01-11 22:37] jmilloy opened #441 "File cache can't deserialized cached DataArray with an empty time dimension"
**Description**

The file cache can serialize and put a DataArray with an empty time dimension, but it cannot deserialize it when getting the cached entry later.

**Steps to Reproduce**

I believe this is actually a bug in xarray:

[code]

**Expected Behavior**

`selected` and and `x` should be the same.

**Observed Behavior**

[code]

**Additional Notes**

There is no problem if the empty dimensi

[2021-01-11 22:41] jmilloy commented on #441
@mpu-creare I'll file this with xarray, but I can work around with a bit of a hack by converting the empty dimension to float and leaving a custom note in the metadata before serialization, and then converting back and deleting the metadat note after deserialization. I run into this in one of my SMAP tests. Do you think I should do that, or just change the test so that there isn't an empty selecti

[2021-01-11 22:53] jmilloy commented on #441
Okay a little more digging and this is fixed in xarray master, just not released to stable yet. I guess I'll leave it.

https://github.com/pydata/xarray/commit/ed255736664f8f0b4ea199c8f91bffaa89522d03#diff-e1c5f34f91e5b8a5242d9499ca9ff2765f3d5b7956c28196f80e4c399b29b1a6

[2021-01-11 22:53] #441 closed

[2021-01-12 01:27] mpu-creare commented on #441
Thanks for digging Jeff!

[2021-01-12 03:17] mpu-creare commented on #440
@djhoese it seems like there's a lot of overlap between our efforts. I'd be happy to chat specifically.

Briefly, yes, podpac uses a lot of the same technology. The basic premise of podpac is to get data from wherever it's stored in whatever format of whatever datatype (grids, vs. points etc) into harmonized xarray objects. So, a bit broader in scope than `Satpy`, but we also depend completely on

[2021-01-12 18:30] djhoese commented on #440
Very cool. A couple questions that come to mind that might help us head toward the same workflows:

1. How are you storing and defining this history of steps used to reproduce a specific output? Can I use podpac to save a geotiff and is that history added to the geotiff in some way?
2. Have you had to define "standard" RGB composites anywhere? Have you nailed down who/what source is **the** defini

[2021-01-12 19:06] jmilloy opened #442 "Integration tests for datalibs"
**Description**

The datalib nodes rely on external resources with urls, data keys, and organization structures that can change, breaking the podpac datalibs.

**Describe the solution you'd like**

Simple integration tests that run nightly or weekly on TravisCI for datalibs.

Podpac core has good unit test coverage that runs on every commit. We are adding tests for datalibs for the 3.0.0 release w

[2021-01-12 21:51] mpu-creare commented on #440
1. We have a JSON format to store the series of `Nodes` that define a processing pipeline. You could certainly embed the JSON in the metadata of a GeoTIFF -- and then you can recreate the processing pipeline from the source data using the JSON string.  For a simple example creating a pipeline from JSON see [here](https://github.com/creare-com/podpac-examples/blob/develop/notebooks/4-advanced/pipel

[2021-01-12 22:16] djhoese commented on #440
1. Interesting. My main reason for asking about geotiffs was that I usually get requests for some level of "history" and people want it in the output file like NetCDF CF "history" or in a geotiff's metadata. If this isn't something you've run into then good.
2. My main reason for asking is that in our experience with Satpy everyone has their own way of creating certain RGB composites and each one

[2021-01-18 16:13] mpu-creare commented on #440
@djhoese sorry for the sudden radiosilence there on my part last week.

I'll create an issue for this. And yes, I don't think it would be too hard to do this.

[2021-01-18 16:16] mpu-creare opened #443 "WRAP Satpy functionality in PODPAC Nodes"
**Description**
[satpy](https://satpy.readthedocs.io/en/stable/) has a lot of overlap with PODPAC in terms of reading, interpolation, and processing data.

**Describe the solution you'd like**
We should create:
* `Satpy` Datasource nodes that gives us access to Satpy data sources
* `Satpy` Algorithm node that gives us access to Satpy processing
* `Satpy` Interpolator that gives us access to Satpy

[2021-01-25 16:05] jmilloy opened #444 "satutils only finds sources within the coordinates bounds"
The satutils datalib wrapper uses `satsearch` to search and filter sources using a spatial bounding box and time bounds. These searches find sources *within* the bounds, but podpac needs sources just *outside* the bounds for interpolation (similar to the coordinates "outer" intersect).

[2021-01-28 19:18] rmeyers4 opened #445 "Node eval errors with nearest_preview if coords outside dataset"
**Description**
On the podpac release/3.0.0 branch, evaluating a node at coordinates outside of the dataset's bounds produces an error:
`IndexError: index 0 is out of bounds for axis 0 with size 0` at https://github.com/creare-com/podpac/blob/release/3.0.0/podpac/core/interpolation/nearest_neighbor_interpolator.py#L395
The node evaluates and returns `nan` in podpac 2.2.1.

**Steps to Reproduce**
[

[2021-01-28 21:23] jmilloy commented on #445
Okay, I reproduced the error with the `Array` source (no file required):

[code]

I'll let you know soon what I find.

[2021-01-28 21:46] jmilloy commented on #445
Okay, I pushed a fix and test 3a92ea57, let me know if that does what you need.

[2021-01-29 16:00] rmeyers4 commented on #445
@jmilloy : Thanks for the quick turnaround, the fix does what I need.

[2021-02-19 15:16] mpu-creare commented on #433
@jmilloy -- this is bubbled up to be high priority. Can you have a look at this?

Basically, whenever a user asks for a coarser set of coordinates, prefer to use the overviews, if available.  We should add a flag, something like `prefer_overviews=True`

Rasterio does *some* of this automatically, but only for strided access of data -- so not general at all.

[2021-02-22 21:21] jmilloy opened #446 "optional algorithm inputs"
**Description**
I think it would be useful to be able to define optional algorithm inputs.

**Describe the solution you'd like**
If the input is None, the algorithm will not evaluate it. It will not be in the `algorith` method `inputs`.

**Sample Code**
[code]

[2021-02-22 21:21] jmilloy commented on #446
@mpu-creare Do you see any issues with this?

[2021-02-23 02:56] mpu-creare commented on #446
Works for me. It's still up to the algorithm creator to handle optional inputs, but at least this will inform users at the point of creation.

[2021-03-10 19:58] jmilloy opened #447 "large xarray dataset source cannot be evaluated"
**Description**
I get a memory error when I try to evaluate a large netcdf datasource using the podpac `Dataset` node. The existing code `data.data[coordinates_index]` raises `numpy.core._exceptions._ArrayMemoryError` when getting the underlying numpy array `data.data`. But `data[coordinates_index]` doesn't work because of the new fancy indexing.

[2021-03-11 19:14] jmilloy commented on #447
@mpu-creare I would suggest that we flatten and then reshape as needed, but I haven't found a where any of the `coordinates_index` items need to be flatten. They can always just be squeezed to a 1d array and left that way. Do you know what case requires truly shaped indexing?

[2021-03-11 19:50] jmilloy commented on #447
I replaced

[code]

with

[code]

It will fail if there is a truly shaped index, but then I will have an example to work with to implement that.

[2021-03-11 20:59] jmilloy commented on #447
The above won't work when taking the diagonal, for example. We think the proper solution is to convert the fancy indexes into labeled xarray DataArrays. I'll write a utility funciton to do that.

[2021-03-11 21:00] jmilloy commented on #447
https://github.com/creare-com/podpac/blob/develop/podpac/core/interpolation/test/test_selector.py#L219

[2021-03-15 17:56] jmilloy commented on #447
@mpu-creare With the above example, flattening the `coordinates_index` works:

[code]

That is, it fails on the numpy array but it works on the xarray DataArray where we need it. It selects the same data so that `x.data[coordinates_index]` and `x[flattened].data` are the same.

Can you maybe give an example of `coordinates_index` where that doesn't work?

[2021-03-16 17:37] mpu-creare commented on #447
Ok. I'm on it. It looks like this has to happen at the selector level. Where should I push a fix?

[2021-03-16 17:41] jmilloy commented on #447
release/3.0.0

I started to make the "xarray" `coordinates_type` and add another case where we use `_ind2slice` that uses a new `_ind2xarray` function. But I changed my mind because I don't see any other node using it, so you could just put it into `DatasetSource.get_data` directly. Or you can just post whatever the index needs to be for the toy example above and I'll take the time to put it in th

[2021-03-16 18:00] mpu-creare commented on #447
Wow, apparently I was misremembering the complexity of this... turns out you were totally right. Just flattening the arrays work. I thought I did something fancy to get a tighter sub-selection but I think you can't always do that... so you have to select more than you want. 1e13dfe8446668e929edfa925

I was probably confusing the selector with the NN interpolator, in which case really fancy indexin

[2021-03-16 18:05] jmilloy commented on #447
Okay! Just to check... I see the xarray type, but I don't see the conversion anywhere yet.

I don't know about the performance aspects of this, but it's not that the DatasetSource has to use "xarray" indices, it's that it *can't* use numpy indices. Slices are fine. It would be nice to leave slices as they are. This is what I have locally as a workaround in the DatasetSource class:

[code]

That if

[2021-03-16 18:32] mpu-creare commented on #447
@jmilloy it turns out that the conversion really is needed for numpy, but for xarray the 1-d indices computed in the selector are already in the correct format -- so no conversion.

The indices are actually potentially more efficient than the slices -- the slices have a set stride whereas the indices can have variable strides. The selector will produce whatever you ask for... so we can't ask for b

[2021-03-16 18:53] jmilloy commented on #447
I don't really follow. But I'll take a look when you commit. I'm gathering that it's not an 'xarray' coordinates_index_type, but I'm not sure yet if *all* numpy coordinates are getting flattened (no new coordinates_index_type), or if you will be adding a "numpy-flat' coordinates_index_type.

Well, I was wondering if the slice was faster in cases where the stride is uniform (so the slice and the ar

[2021-03-17 16:38] jmilloy commented on #447
Not there yet:

[code]

[2021-03-17 16:41] jmilloy commented on #447
In `Selector.select`, it seems to be returning the correct (non-merged) `coord_inds`, but for some reason it the coordinates_index that the datasource uses is still multi-dimensional. I'm deugging now.

[2021-03-17 16:45] jmilloy commented on #447
I guess the InterpolationManager.select_coordinates does some stuff, too. Should have this sorted soon.

[2021-03-17 16:52] jmilloy commented on #447
Okay, got it.

[2021-03-17 16:56] #447 closed

[2021-03-18 12:39] mpu-creare commented on #447
Thanks for taking this over the finish line @jmilloy

[2021-03-18 17:25] jmilloy opened #448 "DataSource nan_vals doesn't work with dtype int"
[code]

The node dtype is `int` and `nan_vals` is `[255.0]`.

[2021-03-18 17:40] jmilloy commented on #448
I added a `nan_val` trait, default `np.nan`.

[2021-03-18 17:57] jmilloy opened #449 "Units handling inconsistency and bug"
**Description**
I think this is two issues.
 * `UnitsDataArray.__eq__` tries to convert units even if the RHS is just a basic float and throws an exception because the float is dimensionless
 *  `DataSource` ignores `units`?

**Steps to Reproduce**

Algorithm node that throws an exception on `==`:

[code]

But no issue with a Datasource node, presumably because `out` contains no `units` attr:

[co

[2021-03-18 18:01] jmilloy commented on #449
The UnitsDataArray is clearly trying to default to 1 here:

[code]

[2021-03-18 18:11] jmilloy commented on #449
@mpu-creare I think I need you to make a call on this. I would have thought we should only compute a multiplier if both `self` and `other` have units, but you clearly coded it to be if *either* have units.

Unfortunately, the `ureg.Quantity(1, 'getattr(other, "units", "1")) gives `dimensionless` units `<Quantity(1, 'dimensionless')>` if `other.units` are not defined, which then can't be converted.

[2021-03-18 18:15] jmilloy commented on #449
Sidenote, would be clearer if the if statement was the special case:

[code]

[2021-03-18 18:24] jmilloy commented on #449
On the other front, `Datasource` works fine, maybe just something wrong with `Array`...

[2021-03-18 18:25] jmilloy commented on #449
Ah, it's the InterpolationMixin. `ArrayRaw` works but not `Array`. Units need to propagate up.

[2021-03-18 18:35] jmilloy commented on #449
This fixes that part:

[code]

So just waiting on how you want to deal with the multiplier default. I see that the `self.units or other.units` pattern is used all over.

[2021-03-18 18:39] jmilloy commented on #448
I also fixed thet rasterio nan_vals detection, coercing to the node dtype.

[2021-03-18 18:44] mpu-creare commented on #449
@jmilloy the units are coded to be very strict. So when a quantity doesn't have units defined it assumed to be dimensionless. If that's a bad assumption, the error is thrown. So, for your example, it should probably be something like this:
[code]
The whole reason why the "ENABLE_UNITS" setting exists is because the very strict unit enforcement can be a huge pain... it also doesn't work in all case

[2021-03-18 18:46] jmilloy commented on #449
geowatch, should I just not use units? The units can just be in the `style`.

[2021-03-18 18:47] mpu-creare commented on #449
I would recommend that approach for now -- or set "ENABLE_UNITS" to False. Otherwise you'll probably find and lot of bugs. :)

[2021-03-18 18:49] jmilloy commented on #449
Okay, thanks. I'll push the Inerpolate fix and close this as wontfix (working as intended!).

[2021-03-18 18:51] #449 closed

[2021-03-19 20:16] jmilloy opened #450 "Algorithms cannot drop extra dims"
* drop support for returning a numpy array from `Algorithm.algorithm`
 * include the coordinates as an argument to `Algorithm.algorithm`
 * handle extra/missing mids in `Algorithm._eval`

[2021-03-19 20:30] jmilloy opened #451 "Propagate traits to sources/inputs"
Some traits, such as the caching, need to be propagated to Compositor sources, Algorithm inputs, or the Interpolator source. Currently, nodes handle this individually and incompletely.

We will use a tag, such as `sync` or `propagate`, to mark which traits need to be propagated.

[code]

We discussed propagating these tagged traits at eval time if possible, ideally in `Node.eval` or in the various

[2021-03-24 02:50] #450 closed

[2021-03-24 02:50] #448 closed

[2021-03-26 17:52] mpu-creare opened #453 "TerrainTiles Node returns nan's for edges of a domain--sometimes"
**Description**
Terrain tiles node returns nan's on some of the edges of some tiles some of the time.

**Steps to Reproduce**
[code]

**Expected Behavior**
There should be data there.

**Observed Behavior**
There are Nans.

[2021-03-27 00:07] mpu-creare commented on #433
This is helpful:
[code]
You have to open the file again, with the overview explicitly specified as above. To find what 'level' the overview represent, you also need `rasterio.open(source).overviews(self.band)`

[2021-03-27 17:19] jmilloy opened #454 "dtype is ignored"
**Description**
Evaluating a Rasterio node with dtype int returns a UnitsDataArray with dtype float.

[2021-03-27 17:20] jmilloy commented on #454
@mpu-creare Let's talk about this for a minute on Monday, too.

[2021-03-29 14:42] #454 closed

[2021-04-02 15:21] mpu-creare commented on #268
@jmilloy Is this done?

[2021-04-02 15:25] mpu-creare commented on #444
Do you happen to have an example of a failing test?

[2021-04-02 18:31] mpu-creare commented on #444
I think I see the issue. I've modified the default interpolation as follows:
[code]
I think that actually neatly solves the problem. SatUtils *should* give us the closest dates for Landsat8.

I can't seem to test sentinel right now as I'm getting timeout errors. Seems to be related to a GDAL bug: https://github.com/mapbox/rasterio/issues/1828 But I haven't dug deep enough to be sure.

[2021-04-05 15:02] jmilloy commented on #268
It is now! I just removed a few stray references to DependentCoordinates. I'm guessing that's why I didn't close this earlier.

[2021-04-05 15:02] #268 closed

[2021-04-08 17:34] jmilloy opened #456 "Run integration tests in CI on release commits only"

[2021-04-08 18:26] mpu-creare commented on #456
By the way, to run only non-integration tests, I have to use something like this:
[code]

[2021-04-08 18:29] jmilloy commented on #456
Yeah. First I'll try to make `--ci` do the not integration.

[2021-04-08 19:39] mpu-creare opened #457 "Migrate LandSAT8 data to STAC api?"
Hello everyone, Happy New Year and hope you are all staying safe. There is a lot I want to share with you as the geospatial community so I will get right into it! I’ll be covering information about Landsat data availability, new dataset launches, and content from re:Invent.
Changes to Landsat data availability
In case you have not seen it, you should look over the recent announcements from USGS re

[2021-04-09 15:55] jmilloy opened #458 "rasterio requires CURL_CA_BUNDLE environmental variable to open s3 paths on some systems"
**Description**
Rasterio fails to open s3 paths on some systems due to missing SSL certificates. The exception is completely misleading

According to https://github.com/mapbox/rasterio/commit/b621d92c51f7c2021f89cd4487cecdd7c201f320, libcurl on linux expects the ssl certificates to be at the CentOS default `/etc/pki/tls/certs/ca-bundle.crt`, but on other systems they will be at other locations.

*

[2021-04-09 16:05] jmilloy commented on #458
@mpu-creare I pulled this out to its own issue.

The correct solution is to set `CURL_CA_BUNDLE` on some systems. I see two options.

1. podpac raises a better exception. On `RasterioIOError`, check for the existence of the file using s3fs and if it exists, raise an exception that suggest setting `CURL_CA_BUNDLE`.

2. podpac sets `CURL_CA_BUNDLE` when necessary. On my system, you can use `curl-con

[2021-04-09 17:51] jmilloy opened #459 "LoadFileMixin always opens the whole file"
**Description**

The `LoadFileMixin` is used by rasterio, csv, and xarray nodes for both local and remote files. As written, the it *always* loads the whole file. The Mixin should be updated to only load the whole file in certain cases, and otherwise open the dataset directly from the source path.

**Describe the solution you'd like**

Distinguish between local and remote sources. Only read the fi

[2021-04-09 18:40] mpu-creare commented on #458
At least 1 should help.

For 2, you could see if 'CURL_CA_BUNDLE' is already in the environmental vriables, and if not try the `curl-config --ca` trick.

[2021-04-12 16:30] jmilloy commented on #459
I updated the Rasterio node for 3.0.0, and I'll do the rest of this for 3.1.0

[2021-04-14 13:50] jmilloy opened #460 "Intersect reproject coordinates"
The Reproject algorithm should intersect the reprojection coordinates with the requested coordinates before evaluating the source node. This is an optimization, but an essential one.

[2021-04-14 13:55] jmilloy opened #461 "Reproject should be able to reproject specific dims"
The Reproject node should be able to reproject spatially but keep the requested time coordinates, for example.

1. `reproject_dims` attribute, all of the reprojection coordinates dims by default.
2. Merge the specified dims from the reprojection coordinates with any other dims from the requested coordinates before evaluating the source.

[2021-04-14 15:05] #460 closed

[2021-04-14 15:06] #461 closed

[2021-04-20 01:43] mpu-creare commented on #415
Is this pretty much fixed?

[2021-04-20 01:44] mpu-creare commented on #368
@jmilloy just pinging you on this again. I believe we can close?

[2021-04-20 01:45] #335 closed

[2021-04-20 01:48] mpu-creare commented on #12
Closing -- stale.

[2021-04-20 01:48] #12 closed

[2021-04-20 01:48] mpu-creare commented on #6
This has now been documented as part of the interpolation docs.

[2021-04-20 01:48] #6 closed

[2021-04-20 01:49] mpu-creare commented on #74
@jmilloy can I close this one?

[2021-04-20 01:51] mpu-creare commented on #226
This has been fixed in #434

[2021-04-20 01:51] #226 closed

[2021-04-20 14:05] jmilloy commented on #415
Yep

[2021-04-20 14:05] #415 closed

[2021-04-20 14:11] jmilloy commented on #74
Yeah, looks okay. Runs quick, 88% coverage (looks like `TransformTime` is not tested), that's good enough for this issue.

[2021-04-20 14:11] #74 closed

[2021-04-20 14:18] mpu-creare commented on #74
Could you add an issue so we don't loose track of `TransformTime` testing?

[2021-04-20 14:21] jmilloy opened #464 "TransformTimeUnits tests"
I think it would also make sense to add a Node attr for whether to return output with the requested time coordinates or the transformed time coordinates.

[2021-04-20 14:21] #356 closed

[2021-04-20 14:24] jmilloy commented on #368
I'd have to really dig into this to figure this out. I suspect there are still some ways to cause the infinite loop (that we catch and raise an exception for) that would be fixed with the dictionary of locks. I think it's easy to implement and hard to test. I'm okay with closing this and revisiting if it becomes necessary at some point.

[2021-04-20 14:33] mpu-creare commented on #368
Let's do that. This hasn't been a problem for quite a while now. We can always open a new issue when we have a real, testable use case. :)

[2021-04-20 14:33] #368 closed

[2021-04-20 20:15] jmilloy opened #466 "OGR DataSource"

[2021-04-21 14:31] jmilloy opened #467 "Node bounds attribute"
The bounds for a node should be easily accessible.

We should implement a universal `Node.bounds` property that uses `find_coordinates`, and then override where possible with more efficient properties, for example `Datasource.bounds` property that uses `coordinates` and `Rasterio.bounds` property that uses `dataset`. Specific datalib wrappers should further override when possible, especially large

[2021-04-21 14:36] jmilloy commented on #467
@drc-creare the immediate goal of this issue is to support the WCS getCapabilities. I plan to return a dictionary `{<dim1>: (<lo>, <hi>), `<dim2>`: (<lo>, <hi>). Does that work for you? I know you ultimately want a bbox, but I think you can make that yourself from that dictionary.

What is a good spec for a Node that supports all times (because it is an algorithm, for example)?

Do you need resolu

[2021-04-21 14:40] jmilloy commented on #467
@drc-creare Also, let me know if you think a method `get_bounds` is more appropriate.

[2021-04-21 14:53] jmilloy opened #468 "get source data for Datasource and TileCompositors"
### Description

It should be easy to get source data (for given bounds) for Datasources and TileCompositors.

### Current

You can get source data from any `Datasource` using the source `coordinates`:

[code]

### Proposal

I propose a method to get source data for `Datasource` *and* `TileCompositor` nodes (optionally given bounds for some or all dimensions).

[code]

### Implementation

A univer

[2021-04-21 14:56] jmilloy commented on #468
Note you can also use the new `'none'` interpolator, though you have to supply your own coordinates:

[code]

[2021-04-21 14:56] jmilloy commented on #468
@mpu-creare @jbieszcz This is something that I and others have wanted in podpac for a long time. Does this sound like a reasonable proposal?

[2021-04-21 15:09] mpu-creare commented on #468
I'll defer to @jbieszcz . But as a note  `eval` does not support an `interpolation` keyword argument. Are you proposing we make one?

[2021-04-21 15:09] jmilloy opened #469 "Style enumeration dictionary"
**Description**
The Style `enumeration_legend` and `enumeration_colors` seems to assume that the enumeration *values* are consecutive integers starting at 0. Often the enumeration starts at 1, occassionally it skips some integers, and in general could be non-integer values.

**Describe the solution you'd like**
The enumeration traits should accept dictionaries instead of (or in addition to) tuples

[2021-04-21 15:24] jmilloy commented on #469
The advantage of the current `enumeration_colors` and `enumeration_legend` traits can easily be fed into matplotlib. We should implement these tuples internally and let the user supply dictionaries. I think there will need to be `default_enumeration_color` and `default_enumeration_legend` traits as well.

[2021-04-21 15:34] jmilloy commented on #468
No I guess i was rushing. Updated.

[2021-04-21 20:14] drc-creare commented on #467
@jmilloy The dictionary works, its easy to construct a bounding box from there. Reporting min and max is sufficient, but if step (e.g. resolution) can be reported, I believe that could be used as well.

Yeah, all-times is an interesting case. It looks like we report basically minimum and maximum possible value for things like elevation (see xml example below). Maybe datetimes have min/max values s

[2021-04-23 15:19] #469 closed

[2021-04-23 15:20] jmilloy opened #471 "cache documentation"
**Description**
The cache documentation is sparse. At the very least, add documentation about cache expiration.

[2021-04-23 15:20] jbieszcz commented on #468
The proposal above for `get_source_data` sounds good to me.   Also I assume that if `my_bounds` are passed, there won't be any interpolation (i.e., `my_bounds` are true min/max bounds, with no spacing info)

[2021-04-28 14:16] rmeyers4 opened #472 "Interpolation selector uses full coordinate range with negative step"
When interpolating, if the step of the source coordinates is larger than the step of the requested coordinates, the request dataset is evaluated at all source coordinates. However, if the request coordinates have a negative step that is larger in magnitude than the source coordinate step, the request dataset is unnecessarily evaluated at all source coordinates rather than at a subset, impacting pe

[2021-04-28 19:50] #472 closed

[2021-05-03 20:35] #466 closed

[2021-05-06 20:13] #265 closed

[2021-05-18 17:55] jmilloy commented on #256
This is working in v3.0.

Updated example:

[code]

Which works:

[code]

[2021-05-18 17:55] #256 closed

[2021-05-18 17:56] jmilloy commented on #280
This is also working in v3.0. I think merging dependent coordinates into stacked coordinates fixed this issue as well.

[code]

[2021-05-18 17:56] #280 closed

[2021-05-18 20:27] jmilloy commented on #436
I remembered about this when fixing #293, it's on my mind so I'll try to fix it soon.

[2021-05-25 19:39] jmilloy commented on #421
4c3a3223

[2021-05-25 19:39] #421 closed

[2021-05-25 19:41] jmilloy commented on #446
I don't have a need for this any more.

[2021-05-25 19:41] #446 closed

[2021-05-25 19:41] jmilloy commented on #456
Duplicate of #442

[2021-05-25 19:41] #456 closed

[2021-05-27 19:15] jmilloy commented on #436
@mpu-creare I haven't been able to reproduce this. Can you check the example, or even better, provide an example that doesn't rely on external data?

The title of this issue suggests that we should be testing something like this with the same node and two different selectors:

[code]

Could you just help me out with a pair of selectors that will select different coordinates from the same coords wh

[2021-05-27 20:30] mpu-creare commented on #436
This is an issue for raw data sources:
[code]

[2021-05-28 14:08] jmilloy commented on #436
Hmmm, I ran the above code with and without caching and got the same outputs.

[2021-05-28 14:16] jmilloy commented on #427
I suspect we won't make any significant changes at this point, but in any case this has been superseded by #439

[2021-05-28 14:16] #427 closed

[2021-05-28 14:32] mpu-creare commented on #436
Well.. the `ArrayRaw` datasource doesn't have caching (it's specifically disabled). I used to as an example.

[2021-05-28 15:03] jmilloy commented on #436
I enabled caching using `ArrayRaw(..., cache_ctrl=['ram'], cache_output=True)`.

Also, isn't the caching in `eval`, not `_eval`?

It's not pressing! But I need an example that produces the wrong output with caching on in order to fix this. I think guessing without an example is a bad idea. Plus, we need a test to accompany the fix, and it should fail now and pass with the fix.

[2021-05-28 15:54] jmilloy commented on #451
@mpu-creare This still bites me sometimes. I'm looking forward to fixing this. I'm okay with the `propagate` flag that we speced together, but I wonder what you think about gathering these traits into a single configuration `environment` that can be propagated. This would be a some (but not all) of the `settings` as an object that can be easily copied and modified and propagated. Each node would j

[2021-05-28 17:13] #436 closed

[2021-05-28 17:14] mpu-creare commented on #451
Yeah, that's a great proposal... but I'm not ready for this quite yet. I'm planning to do a release next week to support the GeoWATCH work. After that we can start adding additional features again.

[2021-05-28 17:23] jmilloy commented on #436
I was suspecting the same thing, that it had since been fixed, or some part of it at least! Thanks.

[2021-06-01 13:48] mpu-creare opened #480 "Test reverse monotonic coordinate interpolation"
**Description**
This line https://github.com/creare-com/podpac/pull/479/files#diff-1a9863f052004c4aa6103bbbbb2294d0862d15aac0ec91a5becaff0ca9d43097R120

was 'fixed'. It's really a bug in xarray, but with our usage I'm not sure setting this to False always gives the correct answer.

Need to add a test and then do the right thing -- if needed.

[2021-06-01 21:00] mpu-creare opened #482 "FIX: GFS Datasource"
**Description**
Seems like GFS stored on AWS has drastically changed. New bucket is `noaa-gfs-bdp-pds` and the structure looks different.

[2021-06-04 12:07] isabellasoldner opened #483 "[bug] Dependency on dummy version of osgeo"
**Description**
Podpac has a dependency on a dummy version of osgeo due to pip install osgeo, which does not install osgeo.
See dummy version here:
https://pypi.org/project/osgeo/

We noticed this when we upgraded podpac to the latest version.

**Observed Behavior**
We noticed this as we installed package dependent on podpac in our docker container and it failed to build due to the dummy package.

[2021-06-04 12:42] mpu-creare commented on #483
How are you installing podpac? It looks like you're using a requirements.txt file?

[2021-06-04 12:49] isabellasoldner commented on #483
Just a setup.py file
Minimum example:
setup(
            name="repo-name",
            version="v1.6.2",
            packages=find_packages(),
            install_requires=[podpac[all]>=2.2.1])

[2021-06-04 15:29] ketozhang commented on #483
Same issue, it's a osgeo is a dependency of podpac==3.1.0 and maybe >=3

[2021-06-04 15:43] jmilloy commented on #483
I don't see `osgeo` specified as a requirement in the podpac setup.py file.

The `osgeo` module is required for the new `OGR` datasource, and indeed it is found in the `gdal` package instead of the dummy `osgeo` package. I didn't include `gdal` in the podpac setup.py requirements because it can be a headache, and I definitely didn't include the dummy `osgeo` package.

It seems like somehow `osgeo`

[2021-06-04 15:54] jmilloy commented on #483
I can confirm that simply install podpac using `pip install podpac[all]` causes this error.

Note that installing from the local repository with `pip install .[all]` works just fine.

[2021-06-04 16:00] mpu-creare commented on #483
I figured it out. I'll push a 3.1.1 later this afternoon.

I had a local change in my setup.py file when I uploaded it to PyPi... was testing something for someone...

[2021-06-04 18:08] mpu-creare commented on #483
Okay, I just pushed 3.1.1 up to PyPI. Please let me know if that fixes your problem.

[2021-06-08 16:27] isabellasoldner commented on #483
Seems to work now, yes

[2021-06-08 17:18] mpu-creare commented on #483
Great! Sorry for the initial mistake.

[2021-06-08 17:18] #483 closed

[2021-08-02 17:53] #432 closed

[2021-08-02 17:55] #293 closed

[2021-08-02 17:55] #471 closed

[2021-08-03 13:07] #468 closed

[2021-08-03 13:45] jmilloy commented on #467
@mpu-creare @drc-creare The bounds are somewhat meaningless without a CRS. Note that `find_coordinates` returns a list of coordinates which may not all have the same CRS.

I guess the user should specify the desired CRS:

[code]

In some cases, e.g. for a Datasource or Compositor, maybe we should default to the native CRS.

[code]

Or we could default to the default CRS in the settings?

[code]

I

[2021-08-03 14:23] mpu-creare commented on #467
This would be my preference:

[code]

[2021-08-03 21:17] #467 closed

[2021-08-03 21:18] jmilloy commented on #433
@mpu-creare What is the status on this? Should I work on this next, or shall we discuss priorities sometimes soon?

[2021-08-04 12:09] mpu-creare commented on #433
ah! I did this already. Closed via #475

[2021-08-04 12:10] #433 closed

[2021-08-07 16:04] jmilloy commented on #158
@mpu-creare Actually, we might add additional types, but I think this is now implemented.

[2021-08-07 16:04] #158 closed

[2021-08-07 16:13] jmilloy commented on #236
@mpu-creare Just doing some cleanup. I feel like between David's work and/or maybe Robbie's we might have this covered? Are you still wanting a version that is published as part of the podpac repo, or accessible publically from podpac.org or something like that?

[2021-08-07 17:37] jmilloy commented on #363
There are several issues here

- [ ] evaluate an unstacked datasource node with rotated coordinates
- [ ] evaluate a rotated datasource with stacked, unstacked, shaped, and rotated coordinates
- [ ] rotated geotiff roundtrip

[2021-08-07 18:24] jmilloy commented on #363
@mpu-creare Another option here would be *not* to support shaped datasources in general, and treat rotated coordinates as a special case. If a datasource has RotatedCoordinates source coordinates, we would unparameterize and flatten them so that the existing selection and interpolation machinery worked, and also save the rotated geotransform in order to support the geotiff roundtrip. What do yout

[2021-08-07 18:25] jmilloy commented on #420
@mpu-creare What is the status/priority on this one? Is this something you want me to dig into?

[2021-08-07 18:29] jmilloy commented on #215
@mpu-creare @drc-creare I think we either need to close this or elaborate what is needed. I can look through tests and see if there are any glaring holes.

I'm not sure what the correct/enhanced behavior would be.

[2021-08-07 18:42] jmilloy commented on #219
I know this may not be high priority, but I'm interested in this. I wonder if we can break up large outputs into chunks of a specified shape for caching in order to support partial retrieval. Maybe I would add a `CACHE_COORDINATES_SHAPE` setting which would define static/consistent coordinate "tiles". Cache puts would break up the coordinates and corresponding data for storage, and cache gets woul

[2021-08-07 18:43] jmilloy commented on #459
I'm going to try to do this for 8/13

[2021-08-07 18:43] jmilloy commented on #435
I'm going to try to do this for 8/13 along with #459

[2021-08-09 12:59] mpu-creare commented on #363
I'm okay doing a special case for `RotatedCoordinates` especially if it's easy to support. I don't quite follow the implementation but I'd be happy to review the PR.

We can leave the shaped datasources machinery in place without fully supporting them still... I'm also ok with that. It would be harder to take out that machinery and then put it back in once we need it.

[2021-08-09 13:01] mpu-creare commented on #236
Yeah, we've gone to a different direction on this one. I think we can close it.

Also, I'm planning a bit of a repo-split. I want to move everything in podpac/dist to another repo... then we can include the server/api stuff in there if we choose to open source it.

[2021-08-09 13:01] #236 closed

[2021-08-09 13:05] mpu-creare commented on #420
This is pretty low priority and I'd say it's a nice-to-have right now.

[2021-08-09 13:06] mpu-creare commented on #215
@drc-creare do you remember if you had something specific in mind here? Otherwise I agree with @jmilloy, we should close this and make a more specific issue.

There is a lot we can still do with the caching system...

[2021-08-09 13:08] mpu-creare commented on #219
I am also interested in this one, and I think it's now higher priority with the GeoWATCH server, and easier to do now that we have a better implementation/api for find_coordinates. We should discuss the specifics.

[2021-08-09 13:19] mpu-creare commented on #435
That would be great! I'd love to get this cleaned up.

[2021-08-09 17:48] mpu-creare commented on #453
This might have been fixed -- so it just needs testing?

[2021-08-09 18:15] mpu-creare commented on #138
stale, closing

[2021-08-09 18:15] #138 closed

[2021-08-09 18:16] mpu-creare commented on #345
stale, closing.

[2021-08-09 18:28] #345 closed

[2021-08-13 21:30] jmilloy commented on #453
No, seems worse.

[code]

[2021-08-15 17:16] jmilloy commented on #435
I think that Dataset does use `output` and `outputs` like the other multi-output nodes.

The `data_key` specifies the name(s) that the underlying dataset uses in the source data, just like `lat_key` specifies the name used for the latitude dimension. It is a fundamental part of specifying the node: specify the path to the source data and the keys it uses.

After you've defined your node, you can a

[2021-08-15 17:21] jmilloy commented on #435
Okay, maybe the issue is that the `data_key` is "required" and `outputs` is optional because it defaults to the `data_key`. Maybe I just need to switch it around.

The `data_key` would use the `outputs` by default. The user would primarily set `outputs`, and then they could specify alternate `data_key` names that the source data uses if necessary. That could still feel consistent with `lat_key` et

[2021-08-18 20:49] mpu-creare commented on #435
Your explanation above makes it feel consistent and clear -- perhaps the only problem is lack of documentation? I suppose the biggest problem is that `data_key` lets you sub-select data from the datasource as opposed to naming all of the available `data` keys in the datasource. I admit the renaming as part of outputs is probably useful.... hhmm... seems like we should hash this out over the "phone

[2021-08-19 15:03] jmilloy commented on #435
* documentation
 * can filekeysmixin just be integrated into the filesource
 * if you define an `output`, it should only evaluate one `data_key`

[2021-09-17 18:59] rmeyers4 opened #487 "Use global context for pyproj when single-threaded"
**Description**
There is quite a bit of overhead involved when creating pyproj `CRS` objects, which `podpac` does in many places (validating coordinates, transforming coordinates, etc). If `podpac` is running single-threaded, creating CRS objects is much, much faster when global context is enabled.

**Describe the solution you'd like**
Check Podpac settings for `MULTITHREADING`. If false, enable p

[2021-11-04 13:53] mpu-creare commented on #106
Done under Soilmap

[2021-11-04 13:53] #106 closed

[2021-11-22 18:36] jmilloy opened #489 "UndefinedRotationError in RotatedCoordinates geotransform roundtrip"
**Description**
We should be able to recover RotatedCoordinates from their geotransform. But in some cases, the `from_geotransform` raises an `UndefinedRotationError`.

**Steps to Reproduce**
[code]

**Expected Behavior**
The RotatedCoordinates conveltion to geotransform and the back should work and be the same.

**Observed Behavior**

[code]

[2021-11-22 18:38] jmilloy commented on #489
@mpu-creare This is the RotatedCoordinates used in `test_units.py::TestToGeotiff::test_to_geotiff_roundtrip_rotcoords` and issue #363. I've fixed a few things for that test and isuse, but this is another reasons that test fails. I'm working on this issue now, but I wonder if you might be able to take a look, too. Any immediate ideas?

[2021-11-22 18:40] jmilloy commented on #489
It looks like the negative step `step=[-2.0, 1.0]` is part of the problem.

[2021-11-22 18:58] jmilloy commented on #489
Confirmed that using a different parameterization for the rotated coordinates (with a positive step and a different "origin") does work:

[code]

So @mpu-creare I can fuss with the geotransform to try to fix the negative step, or we could sort of take a shortcut and only allow RotatedCoordinates with positive steps. What do you think?

[2021-11-22 19:03] jmilloy commented on #489
I guess this could potentially be considered a bug in rasterio? So maybe we can warn about that during RotatedCoordinates initialization and just avoid using negative steps in our unit tests.

[2021-11-22 19:11] mpu-creare commented on #489
Wow you're fast. I was just starting to investigate. Can we do the old try-catch-except negative sign deal? And then just log the error? The negative step size is probably pretty common for i+ == n-->s geotiffs (with relatively small rotation), so being able to handle the case would be nice... and probably important for some datasets.

Is it work asking on the Rasterio thread?

[2021-11-22 20:09] jmilloy commented on #489
I'm not sure what you mean. But I can say that we already use a try-except to check for `UndefinedRotation` exceptions in `Coordinates.from_geotransform` in order to determine if a geotransform is rotated or not. So I don't know how to tell if an `UndefinedRotation` exception is one of these spurious ones from rotated coordinates with a negative step or if it's actually Uniform. I guess we could e

[2021-11-22 20:43] jmilloy commented on #489
Comes down to:

[code]

[2021-11-22 20:46] jmilloy commented on #489
Here's the code for `Affine.scale`

https://github.com/rasterio/affine/blob/78c20a0cfbb5ece3dfadc1a5550465936a4fa731/affine/__init__.py#L213

Nothing there in the docstring indicates only positive values are supported, but you can see the simplicity of what's going on.

[2021-11-22 21:02] jmilloy commented on #489
That's all I've got for now. Dropping support for negative steps just means you have to create your rotated coordinates with the "origin" at the correct corner. I don't think any geotiffs or other rasterio data sources could ever have a rotated geotransform that uses a different corner. If you are making an array data source, you have to reverse your data.

Related: I'm surprised that the Undefine

[2021-11-23 22:37] jmilloy commented on #363
@mpu-creare I'm having some additional issues with the RotatedCoordinates. I want to define the RotatedCoordinates using a `geotransform` (plus `shape`) insetad of `origin`, `theta`, and `step` (plus `shape`). From what I can see, rotated coordinates are about rotated geotiffs through rasterio, where the geotransform is fundamental. What do you think about that change? I can make a `RotatedCoordin

[2021-11-23 22:51] jmilloy commented on #363
`ArrayCoordinates1d` with uniform coordinates are somewhat indistinguishable from an actual `UniformCoordinates1d` object
 * `start`, `stop`, `step`, `is_uniform`, and `coordinates` attributes
 * equal using `==`
 * `simplify` method returns a `UniformCoordinates1d` object

I need to define the same relationship for a rotated grid of `StackedCoordinates` and an actual `RotatedCoordinates` object

[2022-01-24 15:28] mpu-creare opened #490 "Floating point Uniform Coordinates inconsistency"
**Description**
When specifying UniformCoordinates, the step has to be exactly consistent with the start, stop and size, otherwise the coordinates may not align correctly and xarray broadcasting breaks.

I.e. the `UniformCoordinates1d` coordinates should be exactly consistent with how they are recreated from `Coordinates.from_xarray`

**Steps to Reproduce**
[code]

**Expected Behavior**
[code]
The

[2022-01-31 18:55] jmilloy commented on #363
Made some progress on this. The AffineCoordinates are going to need work to handle different the cases correctly, but I'm going to push something that passes the geotiff roundtrip test as a starting point. Working on the interpolation now, where `source_data.sel(output_data.coords)` doesn't work with shaped stacked coordinates (affine or not).

[2022-02-09 15:05] mpu-creare commented on #490
Fixed in  #493, specifically 77ac0077159a1717d052f459b9ad2cbb2bdbf2a3

[2022-02-23 22:08] #363 closed

[2022-02-23 22:10] jmilloy commented on #489
Closing. This might come up again, but let's see how the AffineCoordinates behave in practice.

[2022-02-23 22:10] #489 closed

[2022-07-26 13:11] mpu-creare opened #494 "Fix JSON data format"
**Description**
The PODPAC JSON format for pipelines is NOT (in fact) JSON. PODPAC requires ORDERING of the key-value pairs -- this worked through `Python` using the `OrderedDict` trait. While working in `JavaScript` we couldn't consistently serialize ordered pairs, which led to actually reading the JSON spec. Whoops.

**Expected Behavior**
The `PODPAC` `JSON` pipeline format should NOT rely on or

[2022-07-26 13:20] mpu-creare commented on #494
Original JSON (relies on the output Node `Arithmetic` to be the LAST key defined):
[code]

## Possible fixes
### Use a list
[code]

* Upsides:
    * Now follows json Spec
* Downsides
    * Harder to work with once it's in Python -- you have to loop through all elements in the list to find the "node_name". Requires a bigger refactor on the `podpac` side.
    * Not really backwards compatible

### A

[2022-07-26 13:38] jmilloy commented on #494
I'm not sure that either one is more or less backwards compatible.
 - I think the current version of podpac will fail to load pipeline definitions with either the `podpac_order` key or with the `nodes` list.
 -  I think future versions of podpac will require logic to check for either the new `podpac_order` key or the `nodes` list.

You'll update the podpac `Node.from_definition` loop `for name, d

[2022-11-05 01:26] alyssamf opened #496 "Latest Pint Module Version not compatible with latest podpac"
**Description**
When I install latest podpac (podpac==3.1.1), it installs pint (pint==0.20.1).
These versions are not compatible as I get this error when trying to run my python script using podpac:
ModuleNotFoundError: No module named 'pint.unit'

**Steps to Reproduce**
[code]

**Expected Behavior**
Installing podpac with
$ pip install podpac[all]
should install compatible versions of required li

[2022-11-07 18:50] mpu-creare commented on #496
Thanks for the issue. I'll try to roll out a hotfix sometime this week.

[2022-11-10 13:04] mpu-creare commented on #496
Pushed a fix here: https://github.com/creare-com/podpac/releases/tag/3.1.2

Let me know if that solves the issue on your end as well.

[2022-11-17 21:58] #496 closed